@import 'styles.scss';

.main {
    background: #fff;
    min-width: 320px;
    border-radius: 8px;
    margin: 1rem;
    flex-basis: 600px;

    .content {
        display: flex;
        flex-direction: column;
        padding: .7rem;

        .close-icon {
            align-self: flex-end;
        }

        .user {
            margin: 1rem 0 2rem;
            padding: 1rem;
            border-radius: 8px;
            @extend .box-shadow;
        }

        .control {
            flex-grow: 1;
            margin: 1.5rem 0;
        }

        .action {
            align-self: flex-end;
        }
    }
}