<cst-shadow (action) = 'hide($event)'>
    <div class="main box-shadow">
        <div class="content">
            <i class="material-icons icon rotate close-icon" (click) = 'hide()'>close</i>
            <cst-user-unit 
                class="user"
                [user] = 'user' 
                (action) = 'navigateToUser($event)'
                [end] = '40'
            ></cst-user-unit>
            <cst-form-textarea
                class="control"
                placeholder = 'Написать сообщение'
                [formControl] = 'messageControl'
                [isResetIcon] = 'false'
                [rows] = '10'
                [maxLength] = 'limit'
            ></cst-form-textarea>
            
            <button
                mat-raised-button
                class="btn action"
                [disabled] = 'messageControl.invalid'
                (click) = 'sendMessage()'
            >Отправить</button>
        </div>
    </div>
</cst-shadow>
