@import 'styles.scss';

.main {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: .4rem;
    background: rgba(229, 229, 229, .3);
    transition: transform 0.3s linear, background-color .3s linear;

    &:hover {
        transform: scale(1.1);
        background: rgba(229, 229, 229, .8);
    }

    &-icon {
        padding-right: .5rem;
    }

    &-text {
        font-size: .8rem;
        font-family: var(--shadows);
    }
}