<div class="education" #edRef>
    <h1 
        class="education__text"
        (click) = 'navigate("Education", "Образование")' 
        [class.active] = '!router.url.includes("HigherEducation")'
        [class.deactive] = 'router.url.includes("HigherEducation")'
    >Образование</h1>
    <h2 
        class="education__text"
        (click) = 'navigate("HigherEducation", "Высшее образование")' 
        [class.active] = 'router.url.includes("HigherEducation")'
        [class.deactive] = '!router.url.includes("HigherEducation")'
        >Высшее образование</h2>
    <div class="education__line" [ngStyle] = 'getStyles()'></div>
</div>
