@import 'styles.scss';

.education {
    position: relative;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;

    &__text {
        outline: none;
        cursor: pointer;

        @media (max-width: 525px) {
            font-size: .9rem;
        }

        &:nth-child(1) {
            padding-right: 1.5rem;
        }
    }

    &__line {
        position: absolute;
        top: 100%;
        height: 3px;
        transform: translateY(.7rem);
        transition: left 0.3s ease;
        background: var(--virgin);

        @media (max-width: 525px) {
            display: none;
        }
    }
}

.active {
    @include gradient-font(var(--yellow));
}

.deactive {
    @include gradient-font(var(--main-theme));
}

// @media screen and(max-width: 525px) {



//     .education__line {
//         display: none;
//     }
// }

