@import 'styles.scss';

.main {

    .content {
        display: flex;
        flex-direction: column;
        padding-bottom: 2.7rem;

        .nav {
            align-self: center;
            padding: 2rem 0;

            &__item {
                font-family: var(--amatic);
                font-size: 1.4rem;
                letter-spacing: 1px;
                cursor: pointer;
                padding: .7rem .9rem;
                border: 2px solid transparent;
                transition: border-color .2s linear, transform .3s linear;
            }
        }

        .list {
            flex-grow: 1;
        }
    }
}

.active {
    @include gradient-font(var(--red-rock));
    transform: scale(1.1);
}

.deactive {
    @include gradient-font(var(--moon));
}