<div class="main mt-5">
    <div class="content" *ngIf = 'tasks$ | async as tasks; else preloader'>
        <div class="nav">
            <div class="remove-filter">
                <mat-icon 
                    class="icon fz-2"
                    matTooltip = 'Фильтрация'
                    matTooltipPosition = 'before'
                    [class.active-filter] = 'flags.isActiveFilter'
                    (click) = 'showHideFitler(true)'
                    >filter_list</mat-icon>
                <mat-icon
                    @fade 
                    *ngIf = 'viewService.selected.length'
                    class="icon ml-1 fz-2"
                    matTooltip = 'Удалить'
                    matTooltipPosition = 'after'
                    (click) = 'showConfirm(true)'
                    >delete</mat-icon>
            </div>
            <div class="indicators">
                <div 
                    *ngFor = 'let indicator of indicators; let i = index; trackBy: trackByIndicators'
                    [class]="'indicators-box ' + indicator.className"
                    [matTooltip] = 'indicator.title'
                    matTooltipPosition = 'below'
                ></div>
            </div>
            <mat-icon 
                class="icon fz-2"
                matTooltip = 'Создать задачу'
                matTooltipPosition = 'after'
                routerLink = '/tasks/edit/0'
            >add_box</mat-icon>
        </div>
        <div class="table mt-1 mb-1">
            <table mat-table [dataSource]="tasks" class="mat-elevation-z8">

                <ng-container matColumnDef="Выбор">
                    <th mat-header-cell *matHeaderCellDef> 
                        <mat-checkbox 
                        *ngIf = 'tasks.length'
                        (change) = 'selectAll()'
                        [checked] = 'viewService.selected.length === tasks.length'
                        ></mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let element" class="check"> 
                        <mat-checkbox 
                            (change) = 'select(element._id)'
                            [checked] = 'viewService.selected.includes(element._id)'
                        ></mat-checkbox>
                    </td>
                </ng-container>
                
                <ng-container matColumnDef="Название">
                    <th mat-header-cell *matHeaderCellDef class="header-text"> Название </th>
                    <td mat-cell *matCellDef="let element" class="title"> {{element.Title}} </td>
                </ng-container>
                

                <ng-container matColumnDef="Описание">
                    <th mat-header-cell *matHeaderCellDef class="header-text"> Описание </th>
                    <td mat-cell *matCellDef="let element" class="description" [innerHTML] = 'element.Description | htmlSanitizer'></td>
                </ng-container>
                

                <ng-container matColumnDef="Статус">
                    <th mat-header-cell *matHeaderCellDef class="header-text"> Статус </th>
                    <td mat-cell *matCellDef="let element" class="status"> {{getStatus(element.Completed)}} </td>
                </ng-container>

                <ng-container matColumnDef="Дата начала">
                    <th mat-header-cell *matHeaderCellDef class="header-text"> Дата начала </th>
                    <td mat-cell *matCellDef="let element" class="date"> {{element.StartDate | moment: 'DD.MM.YYYY'}} </td>
                </ng-container>

                <ng-container matColumnDef="Дата окончания">
                    <th mat-header-cell *matHeaderCellDef class="header-text"> Дата окончания </th>
                    <td mat-cell *matCellDef="let element" class="date end-date"> {{element.EndDate | moment: 'DD.MM.YYYY'}} </td>
                </ng-container>

                <ng-container matColumnDef="Детали">
                    <th mat-header-cell *matHeaderCellDef class="header-text detail-header"> Детали </th>
                    <td mat-cell *matCellDef="let element" class="detail"> 
                        <i 
                            class="material-icons edit-icon"
                            matTooltip = 'Редактировать'
                            matTooltipPosition = 'before'
                            [routerLink] = '["/tasks", "edit", element._id]'
                        >
                            edit
                        </i>
                        <mat-icon 
                            class="icon detail-icon"
                            [routerLink] = '["/tasks", "detail", element._id]'
                            matTooltip = 'Перейти'
                            matTooltipPosition = 'after'
                        > more </mat-icon>
                    </td>
                </ng-container>

                
                <tr mat-header-row  *matHeaderRowDef="columns" class="table-header"></tr>
                <tr mat-row *matRowDef="let row; columns: columns;" [ngClass] = 'getRowStyles(row)'></tr>
            </table>
        </div>

        <div class="paginator">
            <mat-paginator 
                [length]="viewService.totalCount"
                [pageSize]="viewService.page.limit"
                [pageIndex] = 'viewService.page.skip'
                [pageSizeOptions]="[5, 10, 25]"
                (page) = 'setPage($event)'>
            </mat-paginator>
        </div>
    </div>
    <ng-template #preloader>
        <cst-preloader></cst-preloader>
    </ng-template>
</div>

<cst-confirm
    *ngIf = 'flags.isShowConfirm'
    [text] = 'getConfirmText()'
    (confirm) = 'remove($event)'
></cst-confirm>

<cst-shadow *ngIf = 'flags.isShowFilter' (action) = 'showHideFitler(false)'>
    <cst-task-filter
        class="filter"
        [filters] = 'viewService.filters'
        [statusList] = 'viewService.statusList'
        [lengths] = 'viewService.lengths'
        (hide) = 'showHideFitler(false)'
        (filter) = 'filter($event)'
    ></cst-task-filter>
</cst-shadow>

