@import 'styles.scss';

.main {

    .content {

        .nav {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .indicators {
                display: flex;
                align-items: center;

                &-box {
                    width: 15px;
                    height: 15px;
                    margin: 0 .5rem;
                    cursor: pointer;

                    &_before {
                        background: linear-gradient(to right, rgb(109, 35, 35), rgb(221, 24, 24));
                    }

                    &_same {
                        background: linear-gradient(to right, rgb(194, 21, 0), rgb(255, 197, 0));
                    }

                    &_after {
                        height: 11px;
                        width: 11px;
                        border: 2px solid;
                        background: #fff;
                        box-sizing: content-box;
                    }

                    &_complete {
                        background: linear-gradient(to right, rgb(194, 229, 156), rgb(100, 179, 244));
                    }
                }
            }
            
            .remove-filter {
                width: 64px;
            }
        }

        .table {

        }
    }
}

table {
    width: 100%;
}

.table-header {
    background: var(--main-theme);
}

.header-text {
    color: #fff;
    font-family: var(--gabriela);
    font-size: .9rem;
}

.detail-header {
    text-align: right;
}

.edit-icon {
    margin-right: 1rem;
    cursor: pointer;
    @include gradient-font(var(--main-theme));

    &:hover {
        @include gradient-font(var(--yellow));
    }
}

.detail-icon {
    transform: rotate(180deg);
    @include gradient-font(var(--main-theme));
    cursor: pointer;

    &:hover {
        @include gradient-font(var(--yellow));
    }
}

.filter {
    width: 25%;
}

// columns

.check {
    width: 5%;
}

.title {
    width: 20%;
    font-family: var(--garamond); 
    font-size: 1rem;
}

.description {
    width: 35%;
    font-family: var(--bad);
    font-size: .8rem;
}

.status {
    font-family: var(--pacifico);
}

.date {
    font-family: var(--garamond);
}

.date, .status, .detail {
    width: 10%;
}

.end-date {
    text-align: center;
}

.detail {
    text-align: right;
}

.before {
    background: linear-gradient(to right, rgb(109, 35, 35), rgb(221, 24, 24));
}

.same {
    background: linear-gradient(to right, rgb(194, 21, 0), rgb(255, 197, 0));
}

.after {
    background: #fff;
}

.complete {
    background: linear-gradient(to right, rgb(194, 229, 156), rgb(100, 179, 244));
}

.select {
    background: linear-gradient(to right, rgb(255, 95, 109), rgb(255, 195, 113));
}

.active-filter {
    @include gradient-font(linear-gradient(to right, rgb(194, 21, 0), rgb(255, 197, 0)) !important);
    -webkit-background-clip: text !important;
}