
@keyframes fade {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes rotate-loader {
    from {
        transform: scale(1) rotate(0deg);
    } to {
        transform: scale(1.1) rotate(360deg);
    }
}

@keyframes include-rotate {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}


.list-empty {
    text-align: center;
    padding-top: 1rem;
    font-family: var(--shadows);
    @include gradient-font(var(--lizard));
}

@keyframes left-show {
    from {
        transform: translateX(-100%);
    } to {
        transform: translateX(0%);
    }
}

@keyframes right-show {
    from {
        transform: translateX(100%);
    } to {
        transform: translateX(0%);
    }
}

@keyframes topShow {
    to {
        transform: translateY(0%);
    }
}

@keyframes leftSideShow {
    to {
        transform: translateX(0%);
    }
}

@keyframes show-menu {
    from {
        opacity: 0;
        transform: translateY(-30px);
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}