
::-webkit-scrollbar-button {
    /* background-image:url(''); */
    background-repeat: no-repeat;
    width: 5px;
    height: 0px
}

::-webkit-scrollbar-track {
    background-color:#ecedee;    
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-image: var(--purple); 
}

::-webkit-scrollbar-thumb:hover{
    background-image: linear-gradient(135deg, #283fa7 0%, #680cc5 100%);
}
::-webkit-resizer{
    background-repeat: no-repeat;
    width: 4px;
    height: 0px;
}

::-webkit-scrollbar{
    width: 8px;
}

.wrapper {
    width: 100%;
}

.wrapper-content {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.circle-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.box-shadow {
    box-shadow: 0 14px 28px rgba(62, 62, 63, 0.45), 0 10px 10px rgba(179, 175, 175,0.22);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.odd {
    @include gradient-font(var(--main-theme));
}

.even {
    @include gradient-font(var(--malibu));
}

.btn {
    font-family: var(--comforta);
}

.btn:not(:disabled) {
    background: var(--main-theme);
    color: #fff;

    &:hover {
        background: var(--red-rock);
    }
}

.btn:disabled {
    cursor: not-allowed !important;
    background: rgba(0,0,0,.12);
    color: rgba(0,0,0,.26);
}

.bold-error {
    font-weight: 800;
    font-size: .8rem;
}

.required-text {
    font-family: var(--fair);
    color: #bbb7b7;
    font-size: .7rem;
    text-align: center;
}

.ql-disabled {
    background: #e5e5e5 !important;
}

.ql-editor {
    min-height: 100px;
}

.pending {
    display: flex;

    &-preloader {
        height: 15px;
        width: 15px;
        margin-left: 10px;
        border-radius: 50%;
        border-top: 2px solid rgb(46, 100, 247);
        animation: rotate-loader 1s linear infinite;
        
    }
}

.circle-avatar {
    position: relative;
    text-decoration: none;
    cursor: pointer;
    height: 50px;
    width: 53px;
    border-radius: 50%;
    background: var(--malibu);

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        object-fit: cover;
    }
}

.spiner {
    width: 100%;
    margin: 1rem 0;
    text-align: center;
}


.disabled-icon {
    display: block;
    background: transparent;
    -webkit-background-clip: text;
    @include gradient-font(radial-gradient(farthest-side ellipse at top left, white, #aaaaaa));
}

.icon {
    cursor: pointer;
    @include gradient-font(var(--main-theme));

    &:hover {
        @include gradient-font(var(--yellow));
    }
}

.absolute-center {

}

.reset-icon {
    cursor: pointer;
    font-size: .8rem !important;
    @include gradient-font(var(--main-theme));
    font-weight: bold;

    &:hover {
        @include gradient-font(var(--red-rock));
    }
}

.hiden-icon {
    font-size: 1.3rem;
    vertical-align: middle;
}

.edit-form {
    display: flex;
    flex-direction: column;

    &-btn {
        margin-top: 2rem !important;
        align-self: center;
    }
}

.edit-add-form-text {
    text-align: center;
    padding: 1rem 0;
    font-size: 1.1rem;
    cursor: pointer;
    font-family: var(--bad);
    @include gradient-font(var(--main-theme));


    &-icon {
        vertical-align: middle;
        @include gradient-font(var(--main-theme));
    }

    &:hover, &:hover > &-icon {
        @include gradient-font(var(--yellow));
    }
}

.empty-media {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;

    &-text {
        padding-right: .5rem;
        font-family: var(--pacifico);
        @include gradient-font(var(--fire-watch));
    }
    
    &-line {
        background: var(--yellow);
        height: 1px;
        flex-grow: 1;
    }
}

.example-full-width {
    width: 100%;
}

.textarea {
    overflow-y: hidden !important;
}

.pointer {
    cursor: pointer;
}

.moon-light-text {
    @include gradient-font(var(--moon));
    background-blend-mode: multiply, multiply;
}

.shadow {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    &__block {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, .7);

        &-content {
            margin: auto;
        }
    }
}

.control-font {
    font-family: var(--garamond);
}

.left-show  {
    animation: left-show .5s ease-in;
}

.right-show {
    animation: right-show .5s ease-in;
}

.top-show {
    animation: topShow .3s linear forwards;
}

.rotate {
    transition: transform .3s ease-in;

    &:hover {
        transform: rotate(360deg) scale(1.1);
    }
}

.separate {
    align-self: center;
    margin: 1rem auto;
    height: 3px;
    width: 100px;
    background: var(--virgin);
}

.test {
    height: 500px;
    background: lightcoral;
}

.fade {
    animation: fade .3s ease-in;
}


////////////////  Line Directive

.line-active-directive {
    position: absolute;
    transition: top .3s linear, left .3s linear, width .3s ease-in, height .3s ease-in;
}

.line-active-directive-page-menu {
    height: 3px;
    background: var(--main-theme);
    transform: translateY(10px);
}

.edit-line-active {
    width: 3px;
    background: var(--yellow);
    transform: scale(1.1);
}

.chat-line-active {
    width: 3px;
    background: var(--main-theme);
    transform: scale(1.1);
}

////////////////   Line Directive