
@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}

@mixin gradient-font($color) {
    background: $color;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin text-shadow($color: white) {
    text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px $color, 0 0 35px $color, 0 0 40px $color, 0 0 50px $color, 0 0 75px $color;
}

@mixin circle($height: "50px", $width: "50px",$bg: var(--purple)) {
    cursor: pointer;
    position: relative;
    height: $height; 
    width: $width; 
    border-radius: 50%;
    background: $bg;
    overflow: hidden;
}


@mixin border-gradient($size, $color) {
    border: $size solid transparent;
    border-image: $color;
    border-image-slice: 1;
}

@mixin rotate-animation($ms) {
    animation: include-rotate $ms linear infinite;
}