//Font-size

.fz-1 {
    font-size: 1rem;
}

.fz-2 {
    font-size: 1.5rem;
}

.fz-3 {
   font-size: 2rem; 
}

.fz-4 {
   font-size: 2.5rem; 
}

.fz-5 {
  font-size: 3rem;  
}

//Margin

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 1.5rem;
}

.ml-3 {
  margin-left: 2rem; 
}

.ml-4 {
  margin-left: 2.5rem; 
}

.ml-5 {
  margin-left: 3rem;  
}


.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 1.5rem;
}

.mr-3 {
  margin-right: 2rem; 
}

.mr-4 {
  margin-right: 2.5rem; 
}

.mr-5 {
  margin-right: 3rem;  
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 1.5rem;
}

.mt-3 {
  margin-top: 2rem; 
}

.mt-4 {
  margin-top: 2.5rem; 
}

.mt-5 {
  margin-top: 3rem;  
}


.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 1.5rem;
}

.mb-3 {
  margin-bottom: 2rem; 
}

.mb-4 {
  margin-bottom: 2.5rem; 
}

.mb-5 {
  margin-bottom: 3rem;  
}

.m-a {
  margin: auto;
}

.m-auto {
  display: block;
  margin: 0 auto;
}

.m-c {
  margin: 0 auto;
}


// Padding

.pl-1 {
  padding-left: 1rem;
}

.pl-2 {
  padding-left: 1.5rem;
}

.pl-3 {
  padding-left: 2rem; 
}

.pl-4 {
  padding-left: 2.5rem; 
}

.pl-5 {
  padding-left: 3rem;  
}


.pr-1 {
  padding-right: 1rem;
}

.pr-2 {
  padding-right: 1.5rem;
}

.pr-3 {
  padding-right: 2rem; 
}

.pr-4 {
  padding-right: 2.5rem; 
}

.pr-5 {
  padding-right: 3rem;  
}

.pt-1 {
  padding-top: 1rem;
}

.pt-2 {
  padding-top: 1.5rem;
}

.pt-3 {
  padding-top: 2rem; 
}

.pt-4 {
  padding-top: 2.5rem; 
}

.pt-5 {
  padding-top: 3rem;  
}


.pb-1 {
  padding-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 1.5rem;
}

.pb-3 {
  padding-bottom: 2rem; 
}

.pb-4 {
  padding-bottom: 2.5rem; 
}

.pb-5 {
  padding-bottom: 3rem;  
}

.content-start {
  justify-content: flex-start;
}

.content-end {
  justify-content: flex-end;
}

.content-center {
  justify-content: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.self-start {
  align-self: flex-start;
}

.self-end {
  align-self: flex-end;
}

.self-center {
  align-self: center;
}

.column {
  flex-direction: column;
}







