@import 'styles.scss';

.main {
    // width: 100%;
    margin-top: 1.5rem;
    border-radius: 8px;

    .list {
        overflow: hidden;

        &__item {
            font-family: var(--amatic);
            letter-spacing: 2px;
            font-weight: 900;
            color: var(--dark);
            padding: .7rem .8rem;
            cursor: pointer;
            text-align: center;
            transition: transform .2s linear, background-color .2s ease, color .2s ease-in;

            &:hover {
                background: rgba(229, 240, 180, .4);
                transform: scale(1.03);
                color: crimson;
            }
        }
    }
}