<div class="main">
    <i class="material-icons rotate icon close-icon" (click) = 'hide()'>close</i>
    <div class="content" *ngIf = 'albums$ | async as albums; else preloader'>
        <ng-container *ngIf = 'albums.rows.length;then albumsRef;else empty'></ng-container>

        <ng-template #albumsRef>
            <div 
                class="albums"
                cstNodeBreakManager
                [disable] = 'isFetch'
                (ending) = 'expand()'
            >
                <cst-picture-replace-unit
                    *ngFor = 'let album of albums.rows; trackBy:trackByFn'
                    class="albums__box"
                    [album] = 'album'
                    (replace) = 'replace($event)'
                ></cst-picture-replace-unit>
            </div>
            <cst-preloader-circle *ngIf = 'isFetch'></cst-preloader-circle>
        </ng-template>

        <ng-template #empty>
            <div class="empty-media content-center">
                <p class="empty-media-text">Список альбов для перемещения пуст</p>
            </div>
        </ng-template>
    </div>

    <ng-template #preloader>
        <cst-preloader-circle></cst-preloader-circle>
    </ng-template>
</div>