.main {
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 8px;
    padding: 1rem;

    .close-icon {
        align-self: flex-end;
    }

    .content {
        padding: 1.8rem 1.1rem;
        overflow-y: auto;

        .albums {
            margin-top: 1.5rem;
            display: flex;
            flex-wrap: wrap;
            max-height: 500px;

            &__box {
                width: calc(100% / 12 * 4);
            }
        }
    }



}