@import 'styles.scss';

.main  {
    .content {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: 1200px;
        margin: 0 auto;
        padding: 2rem 1rem 2.7rem;

        @media (max-width: 778px) {
            flex-direction: column;

            .nav {
                order: 0 !important;
                min-width: 280px !important;
                width: 50% !important;
                align-self: center !important;
                flex-grow: 0 !important;
                margin: 0 auto 3rem !important;
            }
        
            .main {
                order: 1 !important;
                flex-grow: 1 !important;
                width: 100%;
            }
         }

        .nav, .main {
            border-radius: 4px;
        }

        .nav {
           order: 1;
           margin-left: .7rem;
           flex-grow: .2;
        }

        .main {
            order: 0;
            flex-grow: .8;
            padding: 1.5rem;

            &__header {
                position: relative;
                display: flex;
                flex-wrap: wrap;
                align-items: baseline;
                margin-bottom: 2rem;



                &-text {
                    font-size: 2rem;
                    padding-left: 1rem;
                    margin-right: 1.5rem;
                    margin: 0;
                    @include gradient-font(var(--main-theme));

                    @media (max-width: 400px) {
                        font-size: 1.4rem;
                        text-align: center;
                        width: 100%;
                    }

                    &:nth-child(2) {
                        font-size: 1.5rem;
                        
                    }
                }

                &-line {
                    position: absolute;
                    top: 100%;
                    transform: translateY(10px);
                    height: 3px;
                    background: var(--yellow);
                    transition: left .3s ease;
                }
            }
        }
    }
}

.education {
            

}

