<div class="main">
    <div class="content">
        <nav class="nav box-shadow">
            <cst-edit-nav (page) = 'setPage($event)' [options] = 'navOptions'></cst-edit-nav>
        </nav>
        <main class="main box-shadow">
            <div class="main__header" #headerRef>
                <h2 
                    *ngIf = '!isEducation; else educationRef'
                    class="main__header-text"
                >{{ pageTitle }}</h2>

                <ng-template #educationRef>
                    <cst-edit-education-header (page) = 'setPage($event)'></cst-edit-education-header>
                </ng-template>
            </div>
            <div class="main__form" *ngIf = 'flags.isLoad; else preloader'>
                <div class="main__form-content">
                    <div *ngIf = 'viewService.type === "Single"; then single else array'></div>
                    <ng-template #single>
                        <cst-edit-single-form
                            [flags] = 'flags'
                            [state] = 'viewService.SingleState'
                            (submitForm) = 'viewService.submit()'
                        ></cst-edit-single-form>
                    </ng-template>

                    <ng-template #array>
                        <cst-edit-array-forms
                            [flags] = 'flags'
                            [state] = 'viewService.ArrayState'
                            (confirm) = 'viewService.showConfirm($event)'
                            (addForm) = 'viewService.addDefaultForm()'
                            (remove) = 'viewService.confirmRemove($event)'
                            (submit) = 'viewService.submit()'
                        ></cst-edit-array-forms>
                    </ng-template>
                </div>
            </div>
            <ng-template #preloader>
                    <cst-preloader></cst-preloader>
            </ng-template>
        </main>
    </div>
</div>
