<div class="main">
    <div class="content">
        <cst-account-info
            [user]= 'user'
            [info] = 'info'
        ></cst-account-info>
        <cst-account-info-stats [user]= 'user'></cst-account-info-stats>
    </div>
</div>
