<div class="main box-shadow">
    <div class="content" (click) = 'slide()'>
        <img *ngIf = 'user.Avatar' [src] = 'user.Avatar | pathManager'  class="img" alt="img">
        <p *ifOwn = 'user._id' class="create" (click) = 'showCreateModal($event)'>
            <i class="material-icons">cloud_download</i>
            Загрузить фотографию
        </p>
    </div>
    <div class="actions">
        <ng-container *ifOwn = 'user._id'>
            <button  mat-raised-button class="btn actions__btn actions__btn_edit" (click) = 'navigate()'>Редактировать</button>
        </ng-container>
        <ng-container *ifOther = 'user._id'>
            <button  mat-raised-button class="btn actions__btn actions__btn_message" (click) = 'message()'>Написать сообщение</button>
            <ng-container *ngIf = '!user.IsHave; else navRef'>
                <button  
                    *ngIf = '!user.IsIncomingRequest;else incomingRef'
                    mat-raised-button 
                    class="actions__btn actions__btn_request" 
                    [disabled] = 'flags.isFriendsRequest'
                    [class.request-active] = 'user.IsOutgoingRequest'
                    (click) = 'requestToAdd()'
                >{{ getOutgoingText() }}</button>

                <ng-template #incomingRef>
                    <button  
                        mat-raised-button 
                        class="actions__btn actions__btn_request" 
                        [disabled] = 'flags.isFriendsRequest'
                        [class.request-active] = 'user.IsIncomingRequest'
                        (click) = 'add()'
                    >Добавить в друзья</button>

                    <button  
                        mat-raised-button 
                        class="actions__btn actions__btn_request" 
                        [disabled] = 'flags.isFriendsRequest'
                        [class.request-active] = 'user.IsIncomingRequest'
                        (click) = 'rejectFriend()'
                    >Отклонить заявку</button>
                </ng-template>

            </ng-container>
            
            <ng-template #navRef>
                <button  
                    mat-raised-button 
                    class="actions__btn actions__btn_add" 
                    [disabled] = 'flags.isFriendsRequest'
                    [class.active] = 'user.IsHave'
                    (click) = 'removeFriend()'
                >Удалить из друзей</button>
            </ng-template>
        </ng-container>
    </div>
</div>

<cst-account-preview-users
    *ngIf = 'previewFriends$ | async as users'
    modeType = 'all'
    [users] = 'users'
    (action) = 'previewUsersAction("all")'
></cst-account-preview-users>
<cst-account-preview-users
    *ngIf = 'previewOnlineFriends$ | async as users'
    modeType = 'online'
    [users] = 'users'
    (action) = 'previewUsersAction("online")'
></cst-account-preview-users>