@import 'styles.scss';

.main {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem 0;
    border-radius: 4px;

    .content:hover > .create {
        transform: translateY(0%);
    }

    .content {
        position: relative;
        overflow: hidden;
        cursor: pointer;
        width: 90%;
        height: 300px;
        background: var(--malibu);
        border-radius: 4px;
        
        .create {
            position: absolute;
            display: flex;
            justify-content: center;
            bottom: 0;
            transform: translateY(100%);
            left: 0;
            width: 100%;
            align-items: center;
            padding: 0.8rem 0.7rem;
            color: #fff;
            font-family: var(--comforta);
            background: rgba(47, 47, 47, 0.8);
            font-size: 0.7rem;
            cursor: pointer;
            transition: transform .2s linear, background-color 0.1s linear, color 0.2s linear;
            
            i {
                margin-right: .5rem;
            }

            &:hover {
                background: rgba(162, 159, 159, 0.7);
                color: #efef7a;
            }
        }

        .img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .actions {
        padding-top: .5rem;
        display: flex;
        flex-direction: column;

        &__btn {
            margin-top: .5rem;
            flex-grow: 1;
            transition: background-color .2s linear;
            color: #fff;
            font-family: var(--comforta);

            &_edit {

            }
            
            &_request {
                background: var(--moss);
            }

            &_add {
                background: var(--purple);
            }

            &:hover {
                background: var(--yellow);
            }
        }
    }
}

.request-active {
    background: var(--moon) !important;
}

.active {
    background: var(--red-rock) !important;
}