<div class="main"
    (mouseenter) = 'clear()'
    (mouseleave) = 'init()'
>
    <div class="header">
        <h2 class="header__title"> {{ popup.title }} </h2>
        <i class="material-icons close-icon" (click) = 'close()'>close</i>
    </div>
    <div class="info" [ngSwitch] = 'popup.modeType'>
        <ng-container *ngSwitchDefault>
            <span class="info__label"> От: </span>
            <span class="info__text" (click) = 'action("default")'> {{ popup.state.UserName | sliceString:0:100 }} </span>
        </ng-container>
    </div>

    <p class="message"> {{ popup.message }} </p>

    <button type="button" class="action-btn" (click) = 'action(popup.modeType)'>{{ popup.actionTitle }}</button>
</div>
