@import 'styles.scss';

.main {
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 1rem 0.7rem;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 8px;

    .header {
        display: flex;
        justify-content: space-between;
        
        .close-icon {
            cursor: pointer;
            @include gradient-font(var(--purple));

            &:hover {
                @include gradient-font(var(--peach));
            }
        }

        &__title {
            font-size: 1.3rem;
            font-family: var(--amatic);
            letter-spacing: 1px;
            @include gradient-font(var(--mojito));
        }
    }

    .info {
        padding: .7rem 0;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        @include gradient-font(var(--sun-day));

        &__label {
            font-family: var(--caveat);
        }

        &__text {
            cursor: pointer;
            font-family: var(--bad);

            &:hover {
                @include gradient-font(var(--yellow));
            }
        }
    }

    .message {
        font-family: var(--comforta);
        font-size: .8rem;
        color: var(--clouds);
        padding-bottom: .7rem;
        @include gradient-font(var(--clouds));
    }

    .action-btn {
        cursor: pointer;
        align-self: flex-end;
        background: transparent;
        border: none;
        padding: 0;
        margin: 0;
        font-family: var(--shadows);
        font-weight: bold;
        font-size: .8rem;
        @include gradient-font(var(--peach));

        &:hover {
            text-decoration: underline;
            @include gradient-font(var(--yellow));
        }
    }
}