.main {

    .content {

        .lists {
            margin: 0 -1rem;
            padding-bottom: 2.5rem;
            
            &__item {

                &-filled {
                    display: flex;
                    align-items: flex-start;
                    flex-wrap: wrap;

                    &-unit {    
                        width: 100%;
                        min-width: 268px;
                    }
                }
            }
        }
    }
}