<div class="main">
    <div class="content"
        *ngIf = 'main$ | async as main; else preloader'
        cstPageBreakManager
        [disable] = 'getDisabledExpand()'
        (ending) = 'ending()'
    >
        <!-- <cst-video-filters
            [controls] = 'filterControls'
            [filterOptions] = 'filterOptions'
            [sortedOptions] = 'sortedOptions'
            (filter) = 'filter($event)'
            (reset) = 'resetFilters()'
        ></cst-video-filters> -->
        <cst-form-input
            [formControl] = 'searchControl'
            [maxLength] = '200'  
            placeholder = 'Поиск друзей'
        ></cst-form-input>

        <div class="lists mt-2">

            <div class="lists__item">
                <div class="lists__item-filled" *ngIf = 'main.rows.length; else emptyMain'>
                    <cst-friends-card
                        *ngFor = 'let user of main.rows;trackBy:trackByFn'
                        class="lists__item-filled-unit"
                        [user] = 'user'
                        (message) = 'message($event)'
                    ></cst-friends-card>
                </div> 
                <ng-template #emptyMain>
                    <div class="empty-media content-center">
                        <p class="empty-media-text">Список друзей пуст</p>
                    </div>
                </ng-template>

                <mat-spinner class="m-c" *ngIf = 'flags.isMainRequest'></mat-spinner>
            </div>

            <div class="lists__item mt-2" *ngIf = 'searchMediaReq'>

                <ng-container *ngIf = 'search$ | async as search'>
                    <div class="empty-media">
                        <p class="empty-media-text">Результаты поиска</p>
                        <div class="empty-media-line"></div>
                    </div>
                    <div class="lists__item-filled" *ngIf = 'search.rows.length; else emptySearch'>
                        <cst-friends-card
                            *ngFor = 'let user of search.rows;trackBy:trackByFn'
                            class="lists__item-filled-unit"
                            [user] = 'user'
                            (message) = 'message($event)'
                        ></cst-friends-card>
                    </div>

                    
                    <ng-template #emptySearch>
                        <p class="list-empty"> По Вашему запросу нет совпадений </p>
                    </ng-template>

                    <mat-progress-bar class="mt-1 mb-1" *ngIf = 'flags.isSearchRequest' mode="buffer"></mat-progress-bar>
                </ng-container>   
            </div>
        </div>
    </div>

    <ng-template #preloader>
        <cst-preloader></cst-preloader>
    </ng-template>
</div>

