<div class="main">
    <div class="content">
        <div class="list"
            *ngIf = 'multiPlaylists$ | async as playlists; else preloader'
            cstNodeBreakManager
            [disable] = 'flags.isMultiLoadRequest'
            (ending) = 'expand()'
         >
            <cst-video-slider-multi-addition-unit
                *ngFor = 'let playlist of playlists.rows; trackBy:trackByFn'
                [playlist] = 'playlist'
                [request] = 'isRequest(playlist._id)'
                (mutate) = 'mutate($event)'
            ></cst-video-slider-multi-addition-unit>

            <div *ngIf = '!playlists.rows.length' class="empty-media content-center">
                <p class="empty-media-text">Список плейлистов пуст</p>
            </div>

            <div *ngIf = 'flags.isMultiLoadRequest' class="progress example-full-width pt-1 pb-1">
                <mat-progress-bar mode="buffer"></mat-progress-bar>
            </div>
            
        </div>

        <ng-template #preloader>
            <cst-preloader-circle></cst-preloader-circle>
        </ng-template>
        
        <div class="hide box-shadow">
            <button mat-raised-button class="btn hover-btn" (click) = 'hide()'>Закрыть</button>
        </div>
    </div>
</div>
