.main {
    background: #fff;
    border-radius: 8px;

    .content {
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .list {
            padding: 1rem 1rem 0;
            display: flex;
            flex-direction: column;
            height: 500px;
            max-height: 500px;
            overflow-y: auto;
        }

        .hide {
            padding: 1.5rem 1rem;
            display: flex;
        }
    }
}