<div class="main">
    <div class="content box-shadow" #contentRef>
        <div class="header box-shadow" *ngIf = 'dialogue$ | async as dialogue'>
            <div class="header__circle"
                [class.pointer] = 'dialogue.Type === "dialogue"'
                (click) = 'dialogue.Type === "dialogue" ? navigateToUser(dialogue.Participants[0], "user") : null'
            >
                <img *ngIf = 'dialogue.Logo' [cstLazyFile] = 'dialogue.Logo' class="circle-img" alt="logo">
            </div>
            <p class="header__title"
                [class.pointer] = 'dialogue.Type === "dialogue"'
                [class.icon] = 'dialogue.Type === "dialogue"'
                (click) = 'dialogue.Type === "dialogue" ? navigateToUser(dialogue.Participants[0], "user") : null'
            > {{ dialogue.Title }} </p>
        </div>

        <div 
            *ngIf = 'messages$ | async as messages; else preloader'
            #listRef 
            cstNodeBreakManager
            class="list" 
            threshold = 'start'
            [disable] = 'flags.isFetch'
            (ending) = 'expand()'
        >
            <ng-container *ngIf = 'messages.rows.length;then listRef; else emptyRef'></ng-container>

            <ng-template #listRef>
                <cst-preloader-circle class="pt-1 pb-1" *ngIf = 'flags.isFetch'></cst-preloader-circle>
                <cst-message-unit
                    *ngFor = 'let message of messages.rows;trackBy:trackByFn'
                    [message] = 'message'
                    [isShowEditMessage] = 'editMesssagesIds.includes(message._id)'
                    [isDeletionCandidate] = 'getDeletionState(message._id)'
                    (navigate) = 'navigateToUser($event, "message")'
                    (setDeletionState) = 'setDeletetionState($event)'
                    (edit) = 'edit($event)'
                ></cst-message-unit>
            </ng-template>
            <ng-template #emptyRef>
                <div class="empty-media content-center">
                    <p class="empty-media-text">Список сообщений пуст</p>
                </div>
            </ng-template>
        </div>
        <ng-template #preloader>
            <cst-preloader-circle></cst-preloader-circle>
        </ng-template>
        
        <div class="send" >
            <p 
                *ngIf = 'typing$ | async as text' 
                @fade 
                class="send__typing"
            >
                {{ text }}
                <span class="send__typing-dotted"></span>
                <span class="send__typing-dotted"></span>
                <span class="send__typing-dotted"></span>
            </p>
            <cst-form-textarea
                class="control"
                [placeholder] = 'getPlaceholder()'
                [formControl] = 'textControl'
                [maxLength] = 'lengths.MAX.Text'
                (keyup.enter) = 'disabled() ? null : send()'
                (ngModelChange) = 'typingMessage()'
            ></cst-form-textarea>

            <div class="edit" *ngIf = 'edit$ | async; else sendTpl'>
                <i 
                    class="material-icons send-icon disabled-icon"
                    matTooltip = 'Отправить'
                    matTooltipPosition = 'before'
                    [class.send-icon]="!disabledEdit()"
                    (click) = 'sendEdit()'
                >send</i>
  
                <i 
                    class="material-icons cancel-icon"
                    matTooltip = 'Отменить'
                    matTooltipPosition = 'after'
                    (click) = 'edit(null)'
                >cancel</i>
            </div>

            <ng-template #sendTpl>
                <button 
                    mat-raised-button
                    class="btn"
                    type="button submit" 
                    (click) = 'send()'
                    [disabled] = 'disabled()'
                >Отправить</button>
            </ng-template>

        </div>
    </div>

    <ng-template #preloder>
        <cst-preloader></cst-preloader>
    </ng-template>
</div>
    
