@import 'styles.scss';

.main {

    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 4px;
        min-height: 200px;

        .header {
            height: 50px;
            padding: 2.1rem 0;
            display: flex;
            justify-content: center;
            align-items: center;

            &__circle {
                @include circle(60px, 60px);
                margin-right: 1rem;
                cursor: default !important;
            }

            &__title {
                font-family: var(--comforta);
                @include gradient-font(var(--main-theme));
            }
        }

        .list {
            margin-top: 1rem;
            flex-grow: 1;
            padding: 1.3rem;
            overflow-y: auto;
            overflow-x: hidden;
        }

        .send {
            position: relative;
            display: flex;
            align-items: center;
            padding: 1rem;
            border-top: 1px solid gainsboro;

            &__typing {
                position: absolute;
                right: 0px;
                top: 10px;
                display: flex;
                align-items: flex-end;
                font-family: var(--shadows);
                font-size: .8rem;
                @include gradient-font(var(--main-theme));

                &-dotted {
                    display: block;
                    height: 3px;
                    width: 3px;
                    border-radius: 50%;
                    background: var(--yellow);
                    margin: 4px;

                     &:nth-child(1) {
                        animation: dotted 2s linear 0s infinite;
                     }

                     &:nth-child(2) {
                        animation: dotted 2s linear .5s infinite;
                     }

                     &:nth-child(3) {
                        animation: dotted 2s linear 1s infinite;
                     }
                }
            }

            .control {
                flex-grow: 1;
                margin-right: 1rem;
            }

            .submit {
                
            }

            .edit {
                display: flex;
                flex-wrap: wrap;

                i {
                    cursor: pointer;
                }

                .send-icon {
                    @include gradient-font(var(--mojito));

                    
                }

                .send-icon:hover, .cancel-icon:hover {
                    @include gradient-font(var(--virgin));
                }

                .cancel-icon {
                    margin-left: 1rem;
                    @include gradient-font(var(--fire-watch));
                }
            }
        }
    }
}


@keyframes dotted {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}