<div class="main" *ngIf = '!isDeletionCandidate; else deleteTpl'>
    <div class="circle" (click) = 'navigate()'>
        <img *ngIf = 'message.UserAvatar' [src] = 'message.UserAvatar | pathManager' class="circle-img" alt="logo">
    </div>
    <div class="info">
        <div class="header">
            <div class="header__name icon" (click) = 'navigate()'> {{ message.UserName }} </div>
            <p class="header__time"> 
                {{ message.Created | date: "HH:mm" }}
                <span class="header__time-date" *ifBefore = 'message.Created'>
                    {{ message.Created | date: "(d LLL)" }}
                </span>
            </p>
            <span *ngIf = 'isShowEditMessage' @fade class="header__edit-message">(Отредактированно)</span>
            <span class="header__nav fade" *ifOwn = 'message.User'>
                <i 
                    class="material-icons header__nav-edit"
                    matTooltip = 'Редактировать'
                    matTooltipPosition = 'before'
                    (click) = 'edit()'
                >edit</i>
                <i 
                    class="material-icons header__nav-remove"
                    matTooltip = 'Удалить'
                    matTooltipPosition = 'after'
                    (click) = 'setDeletionState()'
                >delete_outline</i>
            </span>
        </div>
        <p class="text">
            {{ message.Text }}
        </p>
    </div>
</div>

<ng-template #deleteTpl>
    <div class="remove">
        <p class="remove__message">Сообщение удалено</p>
        <i 
            *ifOwn = 'message.User'
            class="material-icons icon"
            matTooltip = 'Восстановить сообщение'
            matTooltipPosition = 'after'
            (click) = 'setDeletionState()'
        >keyboard_return</i>
    </div>
</ng-template>
