@import 'styles.scss';

.main {
    display: flex;
    margin-top: 1rem;

    &:hover > .info .header__nav  {
        display: block;
    }

    .circle {
        @include circle(50px, 50px);
        margin-right: .7rem;
    }

    .info {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .header {
            display: flex;
            align-items: baseline;
            width: 100%;

            &__name {
                cursor: pointer;
                font-family: serif;
                font-family: var(--shadows);
            }

            &__time {
                font-size: .7rem;
                margin-left: 1rem;
                font-family: var(--comforta);
                @include gradient-font(var(--moon));

                &-date {
                    margin-left: .4rem;
                    font-size: .8rem;
                    font-family: var(--garamond);
                    @include gradient-font(var(--red-rock));
                }
            }

            &__edit-message {
                margin-left: 1rem;
                font-size: .8rem;
                font-family: var(--garamond);
                @include gradient-font(var(--netflix));
            }

            &__nav {
                display: none;
                align-self: flex-end;
                margin-left: auto;

                i {
                    cursor: pointer;
                    font-size: 1rem;

                    &:hover {
                        @include gradient-font(var(--fire-watch));
                    }
                }

                &-edit {
                    @include gradient-font(var(--mojito));
                    margin-right: .5rem;
                }

                &-remove {
                    @include gradient-font(var(--purple));
                }
                

            }
        }

        .text {
            padding-top: .3rem;
            font-family: var(--comforta);
            font-size: .9rem;
            @include gradient-font(var(--dark));
        }
    }

}

.remove {
    display: flex;
    border-radius: 8px;
    padding: .5rem;
    background: #e5e5e5;
    margin: 1rem 0;

    &__message {
        margin-right: 1rem;
        font-family: var(--garamond);
        letter-spacing: 1px;
        font-size: .9rem;
        color: var(--dark);
    }
}