@import 'styles.scss';

.main {

    .content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        background: var(--main-theme);
        color: #fff;

        .logo {
            margin-left: 2rem;
            font-family: var(--shadows);
            cursor: pointer;

            &-center {
                @media (max-width: 450px) {
                    width: 100%;
                    text-align: center;
                    margin: 0;
                }
            }

            .customs {
                font-family: var(--amatic);
            }
        }

        .audio {

            @media (max-width: 550px) {
                order: 1;
                width: 100%;
            }
    
        }

        .nav {
            display: flex;

            @media (max-width: 450px) {
                margin-top: 1rem;
                width: 100%;
                justify-content: center;
            }

            .list {
                display: flex;

                .item {
                    padding: 1rem 1.5rem;
                    cursor: pointer;
                    font-family: var(--comforta);
                    transition: background .3s linear;

                    @media (max-width: 450px) {
                    }

                    &.active {
                        background: linear-gradient(to right, rgb(9, 61, 92), rgb(14, 20, 133));
                    }

                    &:hover {
                        background: linear-gradient(to right, rgb(9, 61, 92), rgb(14, 20, 133));
                    }
                }
            }

            .logout {
                margin-left: auto;
            }
        }

        .system {
            display: flex;
        }
    }
}
