<div class="main">
    <div class="content">
        <div class="logo fz-3" (click) = 'home()' [class.logo-center] = '!isLogged'>
            Social
            <span class="customs fz-1">customs</span>
        </div>

        <div class="audio" *ngIf = 'isLogged'>
            <cst-headboard-audio 
                *ngIf = 'isShowAudio()'
                [currentList] = 'audioWorker.currentList$ | async'
                [audio] = 'audioWorker.currentSong$ | async'
            ></cst-headboard-audio>
        </div>

        <div class="nav" *ngIf = '!isLogged'>
            <ul class="list" >
                <li class="item" (click) = 'navigate("login")' [class.active] = 'router.isActive("/login")'>Вход</li>
                <li class="item" (click) = 'navigate("registration")' [class.active] = 'router.isActive("/registration")'>Регистрация</li>
            </ul>
        </div>

        <div class="logout" *ngIf = 'isLogged'>
            <cst-headbord-logout></cst-headbord-logout>
        </div>
    </div>
</div>
