<div class="main box-shadow" *ngIf = 'stats.length'>
    <div class="content">
        <ul class="list">
            <li 
                *ngFor = 'let item of stats'
                class="list__item box-shadow"
                [matTooltip] = 'item.tooltip'
                (click) = 'navigateTo(item.path, item.query)'
            >
                <i class="material-icons list__item-icon"> {{ item.icon }} </i>
                <span class="list__item-value"> {{ item.value }} </span>
            </li>
        </ul>
    </div>
</div>
