@import 'styles.scss';

.main {
    margin-top: 1rem;
    background: #fff;
    border-radius: 8px;
    padding: 1rem;

    .content {
        
        .list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            &__item {
                display: flex;
                flex-direction: column;
                align-items: center;
                min-width: 70px;
                padding: 0.5rem 1.2rem;
                margin: 0.5rem;
                border-radius: 7px;
                cursor: pointer;
                transition: transform .2s linear;
                @include gradient-font(var(--main-theme));

                &:hover {
                    transform: scale(1.1);
                    @include gradient-font(var(--yellow));
                }

                &-icon {
                    font-size: 2rem;
                }

                &-value {
                    font-family: var(--comforta);
                    font-size: 1.5rem;
                    padding-top: .5rem;
                }
            }
        }
    }
}

