.main {
    animation: showRight .3s linear;

    .content {

        .form {

            .step {
                display: flex;
                flex-direction: column;
                align-items: center;

                .pending-container {
                    position: absolute;
                    font-size: .7rem;
                    width: 200px;
                    top: 115%;
                    left: 0;

                    .pending {
                        display: flex;
    
                        &-text {
                            color: rgb(212, 124, 8);
                        }
    
                        &-preloader {
                            height: 15px;
                            width: 15px;
                            margin-left: 10px;
                            border-radius: 50%;
                            border-top: 2px solid rgb(46, 100, 247);
                            animation: pending .3s linear infinite;
                        }
                    }
                }
            }

            .action {
                text-align: center;
                margin-top: 1rem;
            }

            .confirm-text {
                margin-top: 1rem;
                font-size: 1.2rem;
                font-family: var(--caveat);
                color: cornflowerblue;
            }

            .confirm-nav {
                margin-top: 1rem;
            }
        }

    }
}


@keyframes pending {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}


@keyframes showRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    } to {
        transform: translateX(0%);
        opacity: 1;
    }
}