<div class="main">
    <div class="content">
        <form class = 'form' [formGroup] = 'form' (ngSubmit) = 'onSubmit()'>
            <mat-vertical-stepper [linear]="true" #stepper>
                <mat-step [stepControl]="form.get('firstStep')">
                  <form class="step" formGroupName="firstStep">
                    <ng-template matStepLabel>Заполните личную информацию</ng-template>

                    <cst-form-input
                      class="example-full-width"
                      formControlName = 'Login'
                      placeholder = 'Введите логин*'
                      [minLength] = 'lengths.MIN.Login'
                      [maxLength] = 'lengths.MAX.Login'
                      [trimPattern] = '""'
                      [errors] = 'errors.Login'
                    >
                      <mat-hint class="pending-container" *ngIf = 'form.get("firstStep.Login").pending'>
                        <div class="pending">
                          <span class="pending-text">Идет проверека адреса</span>
                          <span class="pending-preloader"></span>
                        </div>
                      </mat-hint>
                    </cst-form-input>

                    <cst-form-input
                      class="example-full-width"
                      formControlName = 'Name'
                      placeholder = 'Введите имя*'
                      [minLength] = 'lengths.MIN.Name'
                      [maxLength] = 'lengths.MAX.Name'
                      [errors] = 'errors.Name'
                    ></cst-form-input>
                    <div class="action">
                      <button 
                        class="btn" 
                        mat-button
                        [disabled] = 'getDisabledFirstStep()' 
                        type= 'button' 
                        matStepperNext>Вперед</button>
                      <p class = 'required-text'>*Поля обязательные для заполнения</p>
                      <p class = 'required-text' [style.color] = '"lightcoral"'>
                        *Будьте внимательны. <br>
                        Все пробелы при сохранении
                        автоматически обрезаются.</p>
                    </div>
                  </form>
                </mat-step>
                <mat-step [stepControl]="form.get('secondStep')">
                  <form class="step" formGroupName="secondStep">
                    <ng-template matStepLabel>Пароль</ng-template>

                    <cst-form-input
                      class="example-full-width"
                      formControlName = 'Password'
                      placeholder = 'Введите пароль*'
                      type = 'password'
                      [minLength] = 'lengths.MIN.Password'
                      [maxLength] = 'lengths.MAX.Password'
                      [trimPattern] = '""'
                      [isResetIcon] = 'false'
                      [isHiddenIcon] = 'true'
                      [errors] = 'errors.Password'
                    ></cst-form-input>

                    <cst-form-input
                      class="example-full-width"
                      formControlName = 'ConfirmPassword'
                      placeholder = 'Подтвердите пароль*'
                      type = 'password'
                      [minLength] = 'lengths.MIN.Password'
                      [maxLength] = 'lengths.MAX.Password'
                      [trimPattern] = '""'
                      [isResetIcon] = 'false'
                      [isHiddenIcon] = 'true'
                      [errors] = 'errors.ConfirmPassword'
                    ></cst-form-input>

                    <div class="action">
                      <button mat-button type= 'button' matStepperPrevious>Назад</button>
                      <button 
                        class="btn ml-1"
                        mat-button type= 'button' 
                        matStepperNext
                        [disabled] = 'form.get("secondStep").invalid'>Вперед</button>
                        <p class = 'required-text'>*Поля обязательные для заполнения</p>
                        <p class = 'required-text' [style.color] = '"lightcoral"'>*Будьте внимательны,все пробелы автоматически обрезаются.</p>
                    </div>
                  </form>
                </mat-step>
                <mat-step>
                  <ng-template matStepLabel>Подтверждение регистрации.</ng-template>
                  <span class="confirm-text">
                    Форма заполнена корректно.
                  </span>
                  <div class="confirm-nav">
                    <button mat-button type= 'button' matStepperPrevious>Назад</button>
                    <button 
                      class="btn ml-1" 
                      mat-button 
                      type= 'submit'
                      [disabled] = 'flags.isRegistration'
                    >Зарегистрироваться</button>
                  </div>
                </mat-step>
            </mat-vertical-stepper>
        </form>
    </div>
</div>
