/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "assets/styles/short.scss";
@import "assets/styles/variables.scss";
@import "assets/styles/mixins.scss";
@import "assets/styles/extends.scss";
@import "assets/styles/animations.scss";
@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.snow.css";
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Bad+Script|Shadows+Into+Light|Caveat|Comfortaa|EB+Garamond|Gabriela|Pacifico|Playfair+Display&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    outline: none;
}

:root {
    //fonts
    --amatic: 'Amatic SC', cursive;
    --bad: 'Bad Script', cursive;
    --shadows: 'Shadows Into Light', cursive;
    --caveat: 'Caveat', cursive;
    --comforta: 'Comfortaa', cursive;
    --garamond: 'EB Garamond', serif;
    --gabriela: 'Gabriela', serif;
    --pacifico: 'Pacifico', cursive;
    --fair: 'Playfair Display', serif;

    //colors
    --main-theme: linear-gradient(to right, rgb(20, 136, 204), rgb(43, 50, 178));
    --red-rock: linear-gradient(to right, rgb(165, 25, 25), rgb(0, 0, 0));
    --yellow: linear-gradient(to right, rgb(194, 21, 0), rgb(255, 197, 0));
    --dark: rgb(56, 54, 54);
    --fire-watch: linear-gradient(to right, rgb(203, 45, 62), rgb(239, 71, 58));
    --haikus: linear-gradient(to right, rgb(253, 116, 108), rgb(255, 144, 104));
    --netflix: linear-gradient(to right, rgb(142, 14, 0), rgb(31, 28, 24));
    --lizard: linear-gradient(to right, rgb(48, 67, 82), rgb(215, 210, 204));
    --virgin: linear-gradient(to right, rgb(123, 67, 151), rgb(220, 36, 48));
    --purple: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    --malibu: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    --moon: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    --moss: linear-gradient(to right, rgb(19, 78, 94), rgb(113, 178, 128));
    --mojito: linear-gradient(to right, rgb(29, 151, 108), rgb(147, 249, 185));
    --clouds: linear-gradient(to right, rgb(236, 233, 230), rgb(255, 255, 255));
    --peach: linear-gradient(to right, rgb(237, 66, 100), rgb(255, 237, 188));
    --sun-day: linear-gradient(to right, rgb(237, 229, 116), rgb(225, 245, 196));
    --primary: #3f51b5;
}




