@import 'styles.scss';

.main {

    .content {
        display: flex;
        flex-direction: column;

        &-main-list {
            display: flex;
            flex-direction: column;
        }

        &-search-list {
            display: flex;
            flex-direction: column;
            padding-top: 1rem;
        }
    }
}

.test {
    height: 400px;
    width: 100%;
    background: dodgerblue;
    border: 1ps dotted;
    margin-top: 1rem;
}