<div class="main" 
    cstPageBreakManager
    (ending) = 'expand()'
    [disable] = 'isRequest()'
    [ngClass] = 'getShowClass()' 
>
    <div class="content">
        <div class="content-search">
            <cst-form-input 
                placeholder = 'Поиск по названию'
                [formControl] = 'searchControl'
                [isResetIcon] = 'false'
            ></cst-form-input>
        </div>



        <div class="content-main-list">
            <ng-content *ngIf = 'main?.rows?.length; then mainRef; else mainEmptyRef'></ng-content>

            <ng-template #mainRef>
                <cst-audio-song
                    *ngFor = 'let audio of main.rows;trackBy:trackByFn'
                    modeType = 'list'
                    [audio] = 'audio'
                    [navIcons] = 'icons.main'
                    [isMutateRequest] = 'audioWorker.getAddRequestStatus(audio._id)'
                    [paused] = 'audioWorker.getPlayStatus(audio)'
                    [isCurrent] = 'audioWorker.isCurrentSong(audio._id)'
                    [currentTime] = 'audioWorker.getCurrentTime(audio)'
                    [checked] = 'selectedIds.includes(audio._id)'
                    [disabledSelect] = 'disabledSelect'
                    (playback) = 'audioWorker.playback()'
                    (range) = 'audioWorker.range($event)'
                    (add) = 'add($event)'
                    (remove) = 'remove($event)'
                    (select) = 'select($event)'
                    (edit) = 'edit($event)'
                    (changeSong) = 'changeSong($event, "main")'
                    (multiAddition) = 'multiAddition($event)'
                ></cst-audio-song>
            </ng-template>

            <ng-template #mainEmptyRef>
                <div class="empty-media content-center">
                    <p class="empty-media-text">Список аудиозаписей пуст</p>
                </div>
            </ng-template>

            <mat-spinner class="self-center" *ngIf = 'mainLoading'></mat-spinner>

        </div>


        <div class="content-search-list" *ngIf = 'search'>
            <div class="empty-media">
                <p class="empty-media-text">Результаты поиска</p>
                <div class="empty-media-line"></div>
            </div>

            <ng-container *ngIf = 'search.rows.length;then searchRef; else searchEmptyRef'></ng-container>
            
            <ng-template #searchEmptyRef>
                <p class="list-empty"> По Вашему запросу нет совпадений </p>
            </ng-template>

            <ng-template #searchRef>
                <cst-audio-song
                    *ngFor = 'let audio of search.rows;trackBy:trackByFn'
                    modeType = 'list'
                    [audio] = 'audio'
                    [navIcons] = 'icons.search'
                    [isMutateRequest] = 'audioWorker.getAddRequestStatus(audio._id)'
                    [isCurrent] = 'audioWorker.isCurrentSong(audio._id)'
                    [paused] = 'audioWorker.getPlayStatus(audio)'
                    [currentTime] = 'audioWorker.getCurrentTime(audio)'
                    [checked] = 'selectedIds.includes(audio._id)'
                    [disabledSelect] = 'disabledSelect'
                    (playback) = 'audioWorker.playback()'
                    (range) = 'audioWorker.range($event)'
                    (select) = 'select($event)'
                    (add) = 'add($event)'
                    (remove) = 'remove($event)'
                    (edit) = 'edit($event)'
                    (changeSong) = 'changeSong($event, "search")'
                    (multiAddition) = 'multiAddition($event)'
                ></cst-audio-song>
            </ng-template>
            
            <mat-progress-bar class="mt-1 mb-1" *ngIf = 'searchLoading' mode="buffer"></mat-progress-bar>
        </div>
    </div>
</div>
