<div class="main">
    <i class="material-icons close-icon pointer rotate" (click) = 'hide()'>close</i>
    <div class="shadow pointer" (click) = 'hide()'></div>
    <div class="content" *ngIf = 'picture$ | async as picture; else preloader'>
        <div class="picture">
            <cst-picture-detail 
                *ngIf = 'sliderManager$ | async as sliderManager'
                class="picture__detail"
                [picture] = 'picture'
                [manager] = 'sliderManager'
                [request] = 'flags.isChangeRequest'
                (setSlide) = 'setSlide($event)'
                (save) = 'save($event)'
            ></cst-picture-detail>
        </div>
        <div class="info">
            <div class="info__header">
                <cst-user-unit 
                    class="info__header-user"
                    [user] = 'createPictureUser()'
                    (action) = 'navigateTo($event)'
                ></cst-user-unit>
                <cst-save-file
                    class="save-link"
                    tooltip = 'изображение'
                    [path] = 'picture.Path' 
                ></cst-save-file>
                <cst-like
                    class="like"
                    [totalLikes] = 'picture.LikesTotal'
                    [like] = 'picture.OwnLike'
                    [cssStyles] = 'getLikeStyles()'
                    (action) = 'like()'
                ></cst-like>
            </div>
            <div class="separate info__separate"></div>
            <div class="info__navigate box-shadow">
                <cst-instant-edit-control
                    class="info__navigate-description"
                    modeType = 'textarea'
                    placeholder = 'Редактировать описание'
                    [value] = 'picture.Description'
                    [request] = 'flags.isEditRequest'
                    [editStatus] = 'editable()'
                    [emptyText] = 'getDescriptionText()'
                    [maxLength] = 'lengths.MAX.Description'
                    [cssClasses] = 'getDescCssStyles()'
                    (submit) = 'edit($event)'
                ></cst-instant-edit-control>
            </div>

            <cst-slider-comments 
                class="info__comments"
                refType = 'Picture' 
                [refId] = 'picture._id'
            ></cst-slider-comments>
        </div>
    </div>
</div>
