@import 'styles.scss';

.main {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: hidden auto;

    .close-icon {
        position: relative;
        font-size: 2rem;
        margin-top: 1rem;
        align-self: flex-end;
        z-index: 3;
        margin-right: 1rem;
        color: #fff;

        &:hover {
            @include gradient-font(var(--peach));
        }
    }

    .shadow {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 2;
        background: rgba(0, 0, 0, 0.7);
    }

    .content {
        display: flex;
        flex-wrap: wrap;
        align-self: center;
        z-index: 3;
        background: #fff;
        margin-bottom: 1rem;
        border-radius: 8px;
        width: calc(100% / 12 * 9);

        .picture {
            display: flex;
            background: rgba(0, 0, 0, 0.9);
            flex-grow: 1;
            min-width: 280px;
            width: calc(100% / 12 * 8.5);
            
            &__detail {
                display: flex;
                width: 100%;
                overflow: hidden;
            }
        }

        .info {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            background: #fff;
            min-width: 310px;
            width: calc(100% / 12 * 3.5);

            &__header {
                display: flex;
                justify-content: space-between;
                align-items: center; 
                padding: 0 .7rem;

                .save-link {
                    margin-left: auto;
                }

                .like {
                    margin-left: 1rem;
                }
            }

            &__separate {
                width: 100% !important;
            }

            &__navigate {
                padding: 1rem 1rem .5rem 1rem;
                margin-bottom: 1rem;
                
                &-description {

                }
            }

            &__comments {
                flex-grow: 1;
            }
        }
    }
}