<div class="main">
    <div class="nav">
        <cst-picture-nav 
            [userId] = 'userId'
            [isOwn] = 'isOwn()'
            [options] = 'navList'
            (setPage) = 'setPage($event)'
            (create) = 'create()'
        ></cst-picture-nav>
    </div>
    <div class="content">
        <cst-picture-main-list  *ngIf = 'isActiveUrl("main")' [userId] = 'userId'></cst-picture-main-list>
        <cst-picture-albums *ngIf = 'isActiveUrl("albums")' [userId] = 'userId'></cst-picture-albums>
        <cst-picture-album-detail *ngIf = 'isActiveUrl("detail")' [userId] = 'userId'></cst-picture-album-detail>
    </div>
</div>

<cst-shadow *ngIf = 'isCreate()' (action) = 'hideAlbumModal()'>
    <cst-picture-album (hide) = 'hideAlbumModal()' class="album"></cst-picture-album>
</cst-shadow>
