@import 'styles.scss';

.main {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 1rem;
    border-radius: 8px;

    .close-icon {
        align-self: flex-end;
    }

    .add {
        display: flex;
        padding: 1rem 0;

        &-input {
            display: none;
        }

        &-text {
            margin-right: 1rem;
            font-family: var(--amatic);
            font-size: 1.2rem;
            letter-spacing: 1px;
            padding-bottom: 1rem;
            @include gradient-font(var(--virgin));
        }

        &-btn {
            align-self: baseline;
            cursor: pointer;
            border: none;
            outline: none;
            padding: 0;

            &:hover {
                // @include gradient-font(var(--yellow))
            }

            &-icon {
                // color: red;
                @include gradient-font(var(--main-theme));
                // display: block;
                // font-size: 1rem;
                // line-height: 1rem;
            }
        }
    }

    .previews {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0 -10px;

        &__box {
            position: relative;
            width: 220px;
            height: 140px;
            margin: .5rem 10px;
            transition: transform .3s linear, opacity .3s linear;

            &:hover {
                opacity: .8;
                transform: scale(1.1);
            }

            &-img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

            &-icon {
                position: absolute;
                font-size: .8rem;
                top: 5%;
                right: 10px;
            }
        }
    }

    .actions {
        flex-grow: 1;

        &__btn {
            width: 100%;
        }
    }
}

.exists {
    @include gradient-font(var(--mojito));
}

.not-exists {
    @include gradient-font(var(--lizard));
}

.disabled {
    opacity: .5;
}