<div class="main">
    <i 
        class="material-icons icon rotate close-icon" 
        matTooltip = 'Закрыть'
        (click) = 'hide()'
    >close</i>
    <div class="add">
        <input 
            #fileRef 
            class="add-input" 
            type="file"
            multiple
            (change) = 'changeFiles($event)'
        />
        <span class="add-text">Выбрать фотографии*:</span>
        <button 
            class="add-btn"
            [ngClass] = 'getCreateClass()'
            matTooltip = 'Добавить'
            [disabled] = 'isDisabledSelect()'
            [class.disabled] = 'isDisabledSelect()'
            (click) = 'fileRef.click()'
         >
            <i class="material-icons add-btn-icon">library_add</i>
        </button>
    </div>
    <div class="previews" *ngIf = 'previews.length; else empty'>
        <div 
            @scaleShow
            *ngFor = 'let preview of previews; let idx = index; trackBy:trackByFn' 
            class="previews__box box-shadow"
        >
            <img 
                class="previews__box-img"
                alt="preview-picture"
                [src]="preview | urlSanitaiser" 
                (load) = 'revokeUrl(idx)' 
            >
            <div class="previews__box-shadow"></div>
            <i 
                class="material-icons icon previews__box-icon" 
                (click) = 'remove(idx)'
            >close</i>
        </div>
    </div>
    <ng-template #empty>
        <div class="empty-media content-center">
            <p class="empty-media-text">Список пуст</p>
        </div>
    </ng-template>
    <div class="separate"></div>
    <div class="actions">
        <button 
            mat-raised-button 
            class="btn actions__btn"
            type="button"
            [disabled] = 'isDisableActions()'
            (click) = 'create()'
        >Добавить</button>
        <p class = 'required-text mt-1'>*Добавьте не больше 5 фотографий</p>
    </div>
</div>