<div class="main">
    <cst-popup 
        *ngFor = 'let popup of popups$ | async | slice:-3;trackBy:trackByFn'
        class="popup"
        [popup] = 'popup'
        (action) = 'action($event)'
        (close) = 'close($event)'
    ></cst-popup>
</div>
