<div class="main">
    <div class="content">
        <cst-friends-nav
            [userId] = 'userId'
            [isOwn] = 'isOwn'
        ></cst-friends-nav>
        <div class="components" [ngSwitch] = 'params.page'>
            <cst-friends-main-list
                *ngSwitchCase = '"main"'
                [userId] = 'userId'
                [isOwn] = 'isOwn'
            ></cst-friends-main-list>
            <cst-friends-requests
                *ngSwitchCase = '"requests"'
                [userId] = 'userId'
                [isOwn] = 'isOwn'
            ></cst-friends-requests>
            <cst-friends-mutual
                *ngSwitchCase = '"mutual"'
                [userId] = 'userId'
                [isOwn] = 'isOwn'
            ></cst-friends-mutual>
        </div>
    </div>
</div>