<div class="main" @scaleShow>
    <mat-icon class="icon close-icon rotate" (click) = 'hide()'>close</mat-icon>
    <form class="form" [formGroup] = 'form' (ngSubmit) = 'onSubmit()'> 
        <div class="add-video">
            <input 
                #fileRef 
                class="add-video-input" 
                type="file"
                (change) = 'changeVideo($event)'
            />
            <span class="add-video-text">Выбрать видеозапись*:</span>
            <mat-icon 
                class="icon add-video-icon" 
                matTooltip = 'Добавить'
                (click) = 'fileRef.click()'
            >library_add</mat-icon>
        </div>
        <div class="control">
            <label class="control-label">Название*:</label>
            <cst-form-input
                class="control-input"
                formControlName = 'Title'
                placeholder = 'Название'
                [maxLength] = 'lengths.MAX.Title'
                [errors] = 'errors?.Title'
            ></cst-form-input>
        </div>

        <div class="control">
            <label class="control-label">Описание:</label>
            <cst-form-textarea
                class="control-input"
                formControlName = 'Description'
                placeholder = 'Описание'
                [maxLength] = 'lengths.MAX.Description'
            ></cst-form-textarea>
        </div>

        <div class="preview" *ngIf = 'preview'>
            <video class="preview__video" controls>
                <source [src]="preview | urlSanitaiser" [type] = 'file.type'>
            </video>
        </div>
    
        <div class="separate-row"></div>

        <button 
            mat-raised-button 
            class="btn btn-submit" 
            type="submit" 
            [disabled] = 'form.invalid || !file || flags.isCreate'> Сохранить </button>
        <p class = 'required-text'>*Поля обязательные для заполнения</p>
    </form>
</div>

    
    
