<div class="main box-shadow" *ngIf = 'open$ | async as open'>
    <h3 class="header">Открытые диалоги</h3>
    <div class="separate"></div>
    <ul 
        class="list" 
        [hidden] = '!open.length' 
        (mouseleave) = "setCurrentIndex(getCurrentIndex())"
    >
        <li 
            class="list__item"
            *ngFor = 'let dialogue of open; let idx = index;'
            [ngClass] = 'getCssClass(idx)'
            (mouseenter) = 'setCurrentIndex(idx)'
            (click) = 'setDialogue(dialogue, idx)'
        > 
            <span class = 'list__item-title'> {{ dialogue.Title }} </span>
            <span class = 'list__item-nav'>
                <span *ngIf = 'dialogue.UnreadMessages' class="list__item-nav-unread"> +{{ dialogue.UnreadMessages }} </span>
                <i 
                    class="material-icons list__item-nav-close icon" 
                    (click) = 'close($event, dialogue, idx)'
                    matTooltip = 'Закрыть диалог'
                >close</i>
            </span> 
        </li>

        <div 
            [hidden] = 'currentIndex === null'
            class="chat-line-active"
            cstActiveLine
            position = 'left'
            [currentIndex] = 'currentIndex'
        ></div>
    </ul>

    <div class="empty-media content-center" *ngIf = '!open.length'>
        <p class="empty-media-text">Список пуст</p>
    </div>
</div>

<cst-message-chats-read
    *ngIf = 'isShowReadAll()'
    (read) = 'readAllChats()'
></cst-message-chats-read>
