@import 'styles.scss';

.main {
    position: relative;
    padding: 1rem 0;
    border-radius: 8px;

    .header {
        margin: 0;
        text-align: center;
        font-size: .95rem;
        font-weight: 100;
        font-family: var(--shadows);
        @include gradient-font(var(--purple));
    }

    .list {
        
        &__item {
            display: flex;
            justify-content: space-between;
            padding: .7rem .5rem;
            font-family: var(--comforta);
            cursor: pointer;
            transition: transform .3s linear, box-shadow .2s ease-in;
      
            &-title {
                font-size: 0.8rem;
            }

            &-nav {

                &-close {
                    cursor: pointer;
                    font-size: .9rem;
                }
                
                &-unread {
                    font-family: var(--comforta);
                    margin-left: 1.5rem;
                    @include gradient-font(var(--fire-watch));
                }
            }
        }
    }
}

.active {
    transform: scale(1.01);
    @include gradient-font(var(--yellow));
    @extend .box-shadow;
}

.deactive {
    @include gradient-font(var(--main-theme));
}

.unread {
    background: rgba(215, 255, 214, 0.7);
}
