@import 'styles.scss';

.main {
    width: 100%;
    background: #fff;
    border-radius: 8px;

    .content {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        max-height: 500px;
        
        .close-icon {
            align-self: flex-end;
        }

        .header {
            text-align: center;
            flex-grow: 1;
            padding: 1rem 0;
            font-family: var(--amatic);
            letter-spacing: 1px;
            font-weight: bold;
            font-size: 1.3rem;
            @include gradient-font(var(--main-theme));
        }

        .list {
            flex-grow: 1;
        }
    }
}