<div class="main box-shadow">
    <div class="content">
        <mat-icon class="icon rotate close-icon" (click) = 'hide()'>close</mat-icon>
        <p class="header">Список плейлистов</p>
        <div 
            *ngIf = 'playlists$ | async as playlists' 
            class="list" 
            cstNodeBreakManager
            (ending) = 'expand()'
            [disable] = 'isRequest'
        >
        <ng-container *ngIf = 'playlists.rows.length; then listRef;else emptyRef'></ng-container>

        <ng-template #listRef>
            <cst-audio-multi-addition-playlist 
                *ngFor = 'let p of playlists.rows' 
                [playlist] = 'p'
                [request] = 'isCurentRequest(p._id)'
                (mutate) = 'mutate($event)'
            ></cst-audio-multi-addition-playlist>
            <mat-progress-bar *ngIf = 'isRequest' mode="buffer"></mat-progress-bar>
        </ng-template>

        <ng-template #emptyRef>
            <div class="empty-media content-center example-full-width">
                <p class="empty-media-text">Список плейлистов пуст</p>
            </div>
        </ng-template>
        </div>
    </div>
</div>
