@import 'styles.scss';

.main {
    display: flex;
    justify-content: center;

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        background: #fff;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
        width: 40%;
        min-width: 320px;
        border-radius: 8px;
        animation: showFilter .6s ease-in;
        box-shadow: 0 14px 28px rgba(62, 62, 63, 0.45), 0 10px 10px rgba(179, 175, 175,0.22);

        .form-container {
            padding: 1rem .5rem 1rem 0;
            align-self: flex-end;
        }

        .header {
            text-align: center;
            font-family: var(--amatic);
            font-size: 2.5rem;
            padding: 1rem  .3rem 0;
            @include gradient-font(var(--main-theme));
        }


        .form {
            display: flex;
            flex-direction: column;
            width: 85%;

            .print {

                display: flex;
                flex-direction: column;
                width: 100%;

                .reset-icon {
                    cursor: pointer;
                    font-size: .8rem;
                    @include gradient-font(var(--main-theme));
                    font-weight: bold;
    
                    &:hover {
                        @include gradient-font(var(--red-rock));
                    }
                }
            }

            .nav {
                padding-top: 1rem;
                align-self: center;

                .btn {
                    width: 100%;
                }
            }
        }
    }
}

.quill-hint {
    display: block;
    margin-top: .3rem;
    text-align: right;
    color: rgba(0,0,0,.54);
    font-size: .8rem;
}
