<div class="main">
    <div class="content" *ngIf = 'task$ | async as task; else preloader'>
        <!-- <div class="print">
            <mat-icon 
                class="icon prin-icon" 
                matTooltip = 'Сохранить в PDF'
                (click) = 'printRef.print()'
            >picture_as_pdf</mat-icon>
        </div> -->
        <div class="header">
            {{ header }}
        </div>
            <form class="form" [formGroup] = 'form' (ngSubmit) = 'onSubmit()'>
                <div class="form-container">
                    <cst-form-input 
                        formControlName = 'Title'
                        placeholder = 'Название*'
                        [maxLength] = 'viewService.lengths.MAX.Title'
                        [errors] = 'viewService.errors.Title'
                    ></cst-form-input>

                    <cst-form-select
                        formControlName = 'Completed'
                        placeholder = 'Статус*'
                        bindValue = 'value'
                        [options] = 'viewService.statusList'
                        [isResetIcon] = 'false'
                        [disabledOptFn] = 'disabledStatusOption()'
                    ></cst-form-select>

                    <cst-form-date
                        formControlName = 'StartDate'
                        placeholder="Дата начала выполнения*"
                        [min] = 'now'
                        [max] = 'getMaxStartDate()'
                        [errors] = 'viewService.errors.StartDate'
                    ></cst-form-date>
    
                    <!-- errorCondition = 'date' -->
                    <cst-form-date
                        formControlName = 'EndDate'
                        placeholder="Дата окончания выполнения*"
                        [min] = 'getMinEndDate()'
                        [errors] = 'viewService.errors.EndDate'
                    ></cst-form-date>

                    <div class="form-control example-full-width">
                        <quill-editor
                            formControlName = 'Description'
                            placeholder = 'Описание задачи'
                        ></quill-editor>
                        <mat-hint class="quill-hint">
                            {{ form.get("Description").value?.length || 0 }} / 
                            {{ lengths.MAX.Description }}
                        </mat-hint>
                    </div>
                </div>
                <div class="nav">
                <button 
                    class="btn"
                    mat-raised-button
                    [disabled] = 'form.invalid || flags.isRequest'
                    type = 'submit'>
                    Сохранить
                </button>
                <p class="required-text">*Поля обязательные для заполнения</p>
            </div>
        </form>
    </div>
    <ng-template #preloader>
        <cst-preloader></cst-preloader>
    </ng-template>
</div>
