<div class="main">
    <div class="content">
        <cst-media-nav
            pageName = 'messagePage'
            [options] = 'options'
            [isInitializeEmit] = 'false'
            (page) = 'navigate($event)'
        ></cst-media-nav>
        <div class="create">
            <cst-user-nav [userId] = 'null'></cst-user-nav>
            <i 
                class="material-icons create__icon"
                matTooltip = 'Создать дискуссию'
                (click) = 'create()'
            >chat</i>
        </div>
    </div>
</div>
 