@import 'styles.scss';

.main {

    .content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .create {
            display: flex;
            align-items: center;
            
            &__icon {
                cursor: pointer;
                font-size: 2rem;
                padding: .5rem;
                cursor: pointer;
                margin-right: 1rem;
                @include gradient-font(var(--lizard));
    
                &:hover {
                    @include gradient-font(var(--purple));
                }
            }
        }
    }
}