@import 'styles.scss';

.main {
    width: 100%;
    padding: 1rem 1.5rem;
    border-radius: 4px;

    .content {

        .header {
            display: flex;
            justify-content: space-between;
            
            .name {
                font-family: var(--shadows);
                letter-spacing: 5px;
                font-size: 1.7rem;
                margin: 0;
                @include gradient-font(var(--main-theme));
            }

            .status {
                display: flex;
                align-items: center;

                &-text {
                    margin-right: .7rem;
                    font-size: .7rem;
                    letter-spacing: 3px;
                    font-weight: bolder;
                    color: dimgrey;
                    font-family: var(--garamond);
                    
                }
                
                &-indicator {
                    border-radius: 50%;
                    height: 15px;
                    width: 15px;
                    background: var(--mojito);
                }
            }
        }



        .foreign-status {
            font-family: var(--comforta);
            font-size: 0.8rem;
            @include gradient-font(var(--yellow));
        }

        .info {
            margin-top: 2rem;

            &__separator {
                height: 3px;
                width: 100px;
                background: var(--main-theme);
                margin: 0 auto;
            }

            &__info {
                margin-top: 2rem;
                overflow: hidden;
                
                &-row {
                    padding: .3rem 0;

                    &-title, &-value {
                        display: inline-block;
                    }

                    &-title {
                        width: 30%;
                    }

                    &-value {
                        width: 70%;
                    }
                }
            }

            &__text-detail {
                text-align: center;
                font-family: (var(--shdows));
            }

            &__details {
                overflow: hidden;
            }
        }
    }
}

.offline-text {
    @include text-shadow(tomato);
}

.online-text {
    @include text-shadow(green);
}

.offline-indicator {
    background: var(--fire-watch) !important;
}

.own-detail {
    @extend .icon;
}

.other-detail {
    @include gradient-font(var(--lizard));
}