<div class="main box-shadow">
    <div class="content">
        <div class="header">
            <h2 class="name">{{ user.Name }}</h2>
            <div class="status"> 
                <span class="status-text" 
                    [class.offline-text] = '!user.Online'
                    [class.online-text] = 'user.Online'
                >{{ getStatusText() }} </span>
                <span class="status-indicator" [class.offline-indicator] = '!user.Online'></span>
            </div>
        </div>

        <cst-instant-edit-control
            *ngIf = 'isOwn(); else foreignRef'
            modeType = 'textarea'
            emptyText = 'Редактировать статус'
            placeholder = 'Редактировать статус'
            [value] = 'user.Status'
            [editStatus] = 'editable()'
            [cssClasses] = 'getStatusCss()'
            [request] = 'flags.isEditInfo'
            (submit) = 'editStatus($event)'
        ></cst-instant-edit-control>

        <ng-template #foreignRef>
            <p class='foreign-status'>{{ user.Status || '' }}</p>
        </ng-template>
        

        <div class="info">
            <div class="info__separator"></div>
            <div class="info__info">
                <cst-account-info-part 
                    *ngIf = 'mainPart' 
                    [showRow] = 'false' 
                    [showSide] = 'odd' 
                    [part] = 'mainPart'
                ></cst-account-info-part>
            </div>

            <p 
                class="info__text-detail"
                [ngClass] = 'getDetailStyles()'
                (click) = 'detailAction()'>
                {{ getDetailText() }}
            </p>

            <div class="info__details" @transitionHeight *ngIf = 'flags.isShowDetails'>
                <cst-account-info-part 
                    *ngFor = 'let part of parts; let odd = odd; trackBy: trackByFn'
                    [part] = 'part'
                    [isOwn] = 'isOwn()'
                    [showSide] = 'odd'
                    (navigate) = 'navigate($event)'
                ></cst-account-info-part>
            </div>
        </div>
    </div>
</div>
