<div class="main">
    <p class="text"> {{ playlist.Title | sliceString }} </p>
    <div class="select" 
        [class.request] = 'request'
        (click) = 'mutate()'
    >
        <div class="select-circle"
            [class.not-have] = '!playlist.IsHave'
        ></div>
    </div>
</div>
