@import 'styles.scss';

.main {
    display: flex;

    .content {
        display: flex;
        flex-direction: column;
        flex-basis: 400px;

        .preview {
            
            position: relative;
            padding-top: 70%;
            background: var(--main-theme);
            cursor: pointer;

            &__img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                z-index: 0;
            }

            &__nav {
                display: none;
                position: absolute;
                z-index: 1;
                justify-content: space-around;
                align-items: center;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background: rgba(0, 0, 0, .4);

                &-icon {
                    color: #fff;
                    @include text-shadow(dodgerblue);
                }

                .play-icon {
                    height: 3rem;
                    width: 3rem;
                    font-size: 3rem;
                }
            }
        }

        .preview:hover > .preview__nav {
            display: flex;
            margin: auto;
            width: 100%;
        }

        .info {
            padding: 1rem 0 0 1rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            &__title {
                padding-bottom: 1rem;
                cursor: pointer;
                font-weight: 700;
                font-family: var(--shadows);
                letter-spacing: 2px;
                
                &:hover {
                    @include gradient-font(var(--mojito));
                }

                &-text {
                    @include gradient-font(var(--main-theme));
                }

                &-stats {
                    font-family: var(--garamond);
                    color: tomato;
                }
            }

            &__creator-name {
                cursor: pointer;
                padding-bottom: 1rem;
                @include gradient-font(var(--lizard));
                font-family: var(--fair);

                &:hover {
                    text-decoration: underline;
                    @include gradient-font(var(--yellow));
                }
            }
        }
    }
}