<div class="main box-shadow">
    <div class="content">
        <div class="preview">
            <img 
                *ngIf = 'playlist.Logo' 
                class="preview__img" 
                alt="logo"
                [cstLazyFile] = 'playlist.Logo' 
            >
            <div class="preview__nav">
                <mat-icon 
                    *ngIf = 'isOwn; else add'
                    class="preview__nav-icon"
                    matTooltip = 'Редактировать'
                    matTooltipPosition = 'before'
                    (click) = 'edit()'
                >edit</mat-icon>

                <ng-template #add>
                    <mat-icon 
                        *ngIf = '!isMutateRequest; else loader' 
                        class="preview__nav-icon" 
                        [matTooltip] = 'getAddTooltip()'
                        matTooltipPosition = 'before'
                        (click) = 'mutate()'
                    >{{ getAddIcon() }}</mat-icon>

                    <ng-template #loader>
                        <div class="pending">
                            <div class="pending-preloader"></div>
                        </div>
                    </ng-template>
                </ng-template>
                
                <mat-icon 
                    class="preview__nav-icon play-icon"
                    matTooltip = 'Воспроизвести'
                    matTooltipPosition = 'below'
                    (click) = 'play()'
                >play_arrow</mat-icon>
                <mat-icon 
                    class="preview__nav-icon"
                    matTooltip = 'Перейти'
                    matTooltipPosition = 'after'
                    (click) = 'detail()'
                >forward</mat-icon>
            </div>
        </div>
        <div class="info">
            <p class="info__title" (detail) = 'detail()'>
                <span class="info__title-text">{{ playlist.Title }}</span>
                (<span class="info__title-stats">{{ playlist.TotalCount }}</span>)
            </p>
            <span class="info__creator-name" (click) = 'navigate()'>{{ playlist.CreatorName }}</span>
        </div>
    </div>
</div>
