.main {
    

    .content {
        margin: 0 1rem;
        padding-bottom: 2.7rem;

        .lists {
            

            &__item {

                &-filled {
                    display: flex;
                    flex-wrap: wrap;
                    margin: 0 -1rem;

                    @media (max-width: 875px) {
                        justify-content: center;
                    }
                }
            }
        }
    }
}