<div class="main">
    <div class="content"
        *ngIf = 'main$ | async as main; else preloader'
        cstPageBreakManager
        [disable] = 'getDisableExpand()'
        [ngClass] = 'getShowClass()'
        (ending) = 'ending()'
    >
        <cst-form-input
            [formControl] = 'searchControl'
            [maxLength] = '200'  
            placeholder = 'Поиск видеозаписей'
        ></cst-form-input>

        <div class="lists">
            <div class="lists__item">
                <div class="lists__item-filled" *ngIf = 'main.rows.length; else emptyMain'>
                    <cst-video-playlists-unit
                        *ngFor = 'let playlist of main.rows; trackBy:trackByFn'
                        class="lists__item-filled-unit"
                        [playlist] = 'playlist'
                        (navigate) = 'navigate($event)'
                    ></cst-video-playlists-unit>
                </div> 
                <ng-template #emptyMain>
                    <div class="empty-media content-center">
                        <p class="empty-media-text">Список плейлистов пуст</p>
                    </div>
                </ng-template>

                <mat-spinner class="self-center" *ngIf = 'flags.isLoadingMain'></mat-spinner>
            </div>

            <div class="lists__item" *ngIf = 'searchMediaReq'>

                <ng-container *ngIf = 'search$ | async as search'>
                    <div class="empty-media">
                        <p class="empty-media-text">Результаты поиска</p>
                        <div class="empty-media-line"></div>
                    </div>
                    <div class="lists__item-filled" *ngIf = 'search.rows.length; else emptySearch'>
                        <cst-video-playlists-unit
                            *ngFor = 'let playlist of search.rows; trackBy:trackByFn'
                            class="lists__item-filled-unit"
                            [playlist] = 'playlist'
                            (navigate) = 'navigate($event)'
                        ></cst-video-playlists-unit>
                    </div>
                    <ng-template #emptySearch>
                        <p class="list-empty"> По Вашему запросу нет совпадений </p>
                    </ng-template>

                    <mat-progress-bar class="mt-1 mb-1" *ngIf = 'flags.isLoadingSearch' mode="buffer"></mat-progress-bar>
                </ng-container>   
            </div>
        </div>
    </div>

    <ng-template #preloader>
        <cst-preloader></cst-preloader>
    </ng-template>
</div>

