<div class="main" 
    cstFullscreenUse
    #fullscreeUseRef = 'fullScreenRef'
    (fullscreen) = 'fullscreen($event)'
>
    <div class="nav" *ngIf = 'video'>
        <div class="nav__box" *ngIf = 'flags.isCanMutate'>
            <cst-add-media
                class="nav__box-icon"
                tooltips = 'videoUnit'
                [have] = 'video.IsHave'
                [loading] = 'flags.isMutate'
                (action) = 'mutate()'
            ></cst-add-media>
        </div>
        <div class="nav__box">
            <cst-like 
                [totalLikes] = 'video?.LikesTotal'
                [like] = 'video?.OwnLike' 
                (action) = 'like()'
            ></cst-like>
        </div>
        <div class="nav__box" (click) = 'fullscreeUseRef.setFullscreen()'>
            <mat-icon 
                class="nav__box-icon"
                [matTooltip] = 'getFullscreenText()'
            >
                {{ getFullScreenIcon() }}
            </mat-icon>
        </div>
    </div>

    <video 
        #videoRef 
        class="main__video"
        [style.height] = 'videoRef.videoHeight + "px"'
        [style.width] = 'videoRef.videoWidth + "px"'
        (click) = 'playback()'
        (timeupdate) = 'updateTime($event)'
    ></video>

    <div class="controllers" *ngIf = 'video'>
        <div class="controllers__icons">
            <mat-icon 
                class="controllers__icons-item play-icon" 
                matTooltip = 'Пробел'
                matTooltipPosition = 'before'
                (click) = 'playback()'
            >
                {{ videoRef.paused ? 'play_arrow' : 'pause' }}
            </mat-icon>
            <mat-icon 
                class="controllers__icons-item skip-icon" 
                matTooltip = 'Следующее видео(Shift+arrow_right)'
                matTooltipPosition = 'after'
                (click) = 'next()'
            >skip_next</mat-icon>
        </div>

        <span class="controllers__time">{{ currentTime | durationConverter }}</span> 

        <div class="range" 
            (click) = 'setTime($event, videoRef)'
            (mouseenter) = 'isShowPreview = true'
            (mouseleave) = 'isShowPreview = false'
            (mousemove) = 'updatePreview($event)'
        >
            <div class="range__poster" *ngIf = 'isShowPreview' [style.left] = 'offsetPreview + "px"'>
                <video 
                    #previewRef
                    class="range__poster-preview"
                    [src]="video.Path | pathManager" 
                ></video>
                <span class="range__poster-time"> {{ previewCurrentTime | durationConverter }} </span>
            </div>
            <div 
                class="range__time-line" 
                [ngStyle] = 'getRangeLineWidth()'
            ></div>
        </div>

        <span class="controllers__time">{{ video.Duration | durationConverter }}</span> 
        
        <div class="volume">
            <mat-icon 
                class="icon volume-icon pointer" 
                [ngClass] = 'getVolumeIconClass()' 
                (click) = 'setVolume()'> 
                    {{ getVolumeIcon() }}    
            </mat-icon>
            <div class="volume__box">
                <mat-slider
                    class="volume__box-range"
                    thumblabel
                    color = 'primary'
                    step = '1'
                    min ='0'
                    max = '100'
                    (change) = 'setRangeVolume($event)'
                    [value] = 'getVolumeValue()'
                ></mat-slider>
            </div>
        </div>
    </div>
</div>
