@import 'styles.scss';

.main {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #000;
    overflow: hidden;

    &__video {
        object-fit: fill;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
        align-self: center;
    }


    &:hover > .nav {
        transform: translateY(0%);
    }

    &:hover > .controllers {
        transform: translateY(-100%);
    }

    .nav {
        position: absolute;
        width: 100%;
        z-index: 1;
        display: flex;
        justify-content: flex-end;
        padding: .3rem;
        background: rgba(0, 0, 0, .3);
        transform: translateY(-100%);
        transition: transform .3s linear;

        &__box {
            display: flex;
            align-items: center;
            cursor: pointer;
            margin: 0 .5rem;
            padding: .3rem;
            border-radius: 4px;
            background: rgba(229, 229, 229, .1);
            transition: background .2s linear;

            &:hover {
                background: rgba(229, 229, 229, .5);
            }

            &-icon {
                
            }

            &-total {
                font-size: .8rem;
                font-family: var(--comforta);
                @include gradient-font(var(--yellow));
                margin-right: .5rem;
            }
        }
    }

    .play-icon {
        cursor: pointer;
    }


    .controllers {
        padding: .5rem;
        display: flex;
        position: absolute;
        width: 100%;
        top: 100%;
        justify-content: space-between;
        align-items: center;
        background: rgba(0, 0, 0, .6);
        transform: translateY(100%);
        transition: transform .3s linear;

        &__icons {
            display: flex;
            align-items: center;

            &-item {
                cursor: pointer;
                @include text-shadow(#fff);
                margin: 0 0.5rem;
            }

            .play-icon {
                height: 30px;
                width: 30px;
                font-size: 30px;
            }
        }

        &__time {
            padding: 0 .5rem;
            font-family: var(--gabriela);
            font-size: .7rem;
            
            &:first-of-type {
                color: #fff;
                @include text-shadow(#fff);
            }

            &:last-of-type {
                color: greenyellow;
                @include text-shadow(crimson);
            }
        }


        .range {
            position: relative;
            cursor: pointer;
            height: 20px;
            flex-grow: 1;
            @include border-gradient(2px, var(--virgin));

            &__time-line {
                height: 100%;
                background: var(--virgin);
                transition: width .2s ease-in;
            }

            &__poster {
                position: absolute;
                width: 150px;
                height: 100px;
                bottom: calc(100% + 15px);
                border: 4px solid dodgerblue;
                border-radius: 4px;
                transform: translateX(-50%);

                &:before {
                    content: '';
                    display: block;
                    height: 0;
                    width: 0;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-top: 10px solid dodgerblue;
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                }

                &-preview {
                    height: 100%;
                    width: 100%;
                    object-fit: fill;
                }

                &-time {
                    position: absolute;
                    padding: .2rem;
                    font-family: var(--comforta);
                    bottom: 0;
                    right: 0;
                    color: #fff;
                    font-size: .7rem;
                    transform: translate(-10px, -10px);
                    background: rgba(229, 229, 229, .3);
                }
            }
        }

        .volume {
            position: relative;
            display: flex;
            align-items: center;
            width: 82px;
            margin-left: .5rem;

            &-icon {
            }

            &:hover > .volume__box {
            }

            &__box {
                width: 58px;
                transform: translate(0%, -30%);

                &-range {
                    width: 100%;
                }
            }
        }
    }
}

::ng-deep .mat-slider-horizontal {
    height: 28px !important;
    width: 100% !important;
    min-width: 0px !important;
}
// ::ng-deep .mat-slider-thumb {
//     background: cornsilk !important;
// }

.volume_off {
    @include gradient-font(var(--fire-watch));
}

.volume_down {
    @include gradient-font(var(--mojito));
}

.volume_up {
    @include gradient-font(var(--malibu));
}
