<mat-form-field class="example-full-width">
    <input 
        matInput 
        autocomplete="off"
        [min] = 'min'
        [max] = 'max'
        [matDatepicker]="Date" 
        [errorStateMatcher] = 'errorMatcher'
        [placeholder]="placeholder"
        [style.fontSize] = 'fontSize'
        [ngModel] = 'value'
        (ngModelChange) = 'setValue($event)'
        (focusin) = 'onTouched($event)'
        (dateChange) = 'onTouched($event)'
        >
    <mat-datepicker-toggle matSuffix [for]="Date"></mat-datepicker-toggle>
    <mat-datepicker color="primary" touchUi #Date></mat-datepicker>
    <mat-hint matSuffix *ngIf = 'isResetIcon'>
        <mat-icon 
            class="reset-icon" 
            (click) = 'reset($event)'
            matTooltip = 'Сбросить'
            matTooltipPosition = 'below'
        >clear</mat-icon>
    </mat-hint>
    <mat-error *ngFor = 'let error of errors' [ngStyle] = 'getErrorStyle(error)'>
        {{ error.message }}
    </mat-error>
</mat-form-field>
