@import 'styles.scss';

.main {

    padding-top: 5rem;

    .bread-crumbs {
        display: flex;
        align-items: baseline;

        &__step {
            overflow: hidden;
            &-title {
                display: inline-block;
                @include gradient-font(linear-gradient(to right, rgb(5, 117, 230), rgb(2, 27, 121)));
            }


            .crumb-icon {
                @include gradient-font(linear-gradient(to right, rgb(167, 112, 239), rgb(207, 139, 243), rgb(253, 185, 155)));
                vertical-align: text-bottom;
            }
        }
    }

    .content {
        max-width: 1200px;
        margin: 0 auto;
    }

}

.show-crumb {
    animation: showCrumb .3s linear;
}

@keyframes showCrumb {
    from {
        opacity: 0;
        transform: translateX(-100%);
    } to {
        opacity: 1;
        transform: translateX(0%);
    }
}