<div class="main">
  <div class="bread-crumbs ml-2">
    <div class="bread-crumbs__step" *ngFor = 'let crumb of crumbs$ | async; let first = first;'>
      <i class="material-icons crumb-icon ml-1 mr-1" *ngIf= '!first'>keyboard_arrow_right</i>
      <span
       class="bread-crumbs__step-title fz-2"
       [class.fz-4] = 'first'
       [class.show-crumb] = '!first'
       [style.cursor] = 'first ? "pointer" : ""'
       (click) = 'first ? navigate() : null'
       >{{ crumb.Title }}</span>
    </div>
  </div>
  <div class="content pt-3">
    <router-outlet></router-outlet>
  </div>
</div>
