<div class="main">
    <mat-icon class="icon close-icon rotate" (click) = 'hide()'>close</mat-icon>
    <div class="add-picture">
        <input 
            #fileRef 
            class="add-picture-input" 
            type="file"
            (change) = 'changePicture($event)'
        />
        <span class="add-picture-text">Выбрать фотографию*:</span>
        <mat-icon 
            class="icon add-picture-icon" 
            matTooltip = 'Добавить'
            (click) = 'fileRef.click()'
        >library_add</mat-icon>
    </div>

    <div class="preview" *ngIf = 'preview' [@defaultSizeAnim] = 'preview'>
        <img [src]="preview | urlSanitaiser" (load) = 'revokeUrl()' alt="picture" class="preview__img">
    </div>

    <div class="separate-row"></div>
        
    <button 
        mat-raised-button 
        class="btn btn-submit" 
        type="button" 
        (click) = 'create()'
        [disabled] = '!file || request'> Сохранить </button>
</div>
    
    
