@import 'styles.scss';

.main {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1rem;
    background: #fff;
    border-radius: 8px;
    @extend .box-shadow;

    .close-icon {
        align-self: flex-end;
        margin-bottom: 1rem;
    }


    .add-picture {
        display: flex;

        &-input {
            display: none;
        }

        &-text {
            margin-right: 1rem;
            font-family: var(--amatic);
            font-size: 1.2rem;
            letter-spacing: 1px;
            padding-bottom: 1rem;
            @include gradient-font(var(--virgin));
        }

        &-icon {
        }
    }

    .preview {
        position: relative;
        margin-top: 1rem;
        padding-top: 70%;
        width: 100%;
        flex-grow: 1;

        &__img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    
    .separate-row {
        height: 3px;
        background: var(--virgin);
        width: 100px;
        margin: 1rem auto 1.5rem;
    }

    .btn-submit {

    }
    
    
}