<div class="main"
    cstPageBreakManager
    [disable] = 'flags.isFetch'
    (ending) = 'expand()'
>
    <div class="content" *ngIf = 'albums$ | async as albums; else preloader'>
        <ng-container *ngIf = 'albums.rows.length; else empty'>
            <cst-picture-album-unit
                *ngFor = 'let album of albums.rows;trackBy:trackByFn'
                class="album"
                [album] = 'album'
                (edit) = 'edit($event)'
                (detail) = 'detail($event)'
            ></cst-picture-album-unit>
        </ng-container>

        <ng-template #empty>
            <div class="empty-media content-center example-full-width">
                <p class="empty-media-text">Список альбомов пуст</p>
            </div>
        </ng-template>

        <mat-progress-bar mode="indeterminate" *ngIf = 'flags.isFetch'></mat-progress-bar>
    </div>
    <ng-template #preloader>
        <cst-preloader></cst-preloader>
    </ng-template>
</div>