.main {

    .content {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -6px;

        .album {
            margin: 0 10px;
            padding-bottom: 2.4rem;
            width: calc(100%/12 * 4 - 20px);
        }
    }
}

