@import 'styles.scss';

.comment {
    display: flex;
    align-items: flex-start;
    padding: .5rem 0;
    
    &__picture {
        display: block;
        position: relative;
        text-decoration: none;
        cursor: pointer;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background: var(--malibu);

        &-img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-grow: 1;
        padding-left: 1rem;

        &-creator {
            cursor: pointer;
            font-family: var(--amatic);
            font-weight: 600;
            letter-spacing: 2px;
            transition: background .2s linear;
            @include gradient-font(var(--main-theme));
            
            &:hover {
                @include gradient-font(var(--yellow));
            }
        }

        &-text {
            font-family: var(--garamond);
            letter-spacing: 1px;
            padding: .5rem 0;
            @include gradient-font(var(--virgin));
        }

        &-stats {
            display: flex;
            justify-content: space-between;
            width: 100%;

            &-date {
                font-family: var(--caveat);
                font-size: .8rem;
                letter-spacing: 1px;
                @include gradient-font(var(--dark));
            }

            &-likes {
            }
        }
    }
}