<div class="comment">
    <div class="comment__picture" (click) = 'navigate()'>
        <img 
        *ngIf="comment.Avatar" 
        [src]="comment.Avatar | pathManager"
        [@fadeEvent] = 'comment.Avatar'
        alt="avatar" 
        class="comment__picture-img">
    </div>
    <div class="comment__info">
        <span class="comment__info-creator pointer" (click) = 'navigate()'>{{ comment.CreatorName }}</span>
        <span class="comment__info-text">
            {{ comment.Text }}
        </span>
        <div class="comment__info-stats">
           <span class="comment__info-stats-date">{{ comment.Created | moment }}</span>
           <span class="comment__info-stats-likes" [@changeTop] = 'comment.OwnLike'>
                <cst-like 
                    [totalLikes] = 'comment.LikesTotal'
                    [like] = 'comment.OwnLike'
                    (action) = 'like()'
                ></cst-like>
            </span>
        </div>        
    </div>
</div>


