<div class="main"
    (mouseenter) = 'isShowEdit = true'
    (mouseleave) = 'isShowEdit = false'
    [ngClass] = 'getShowClass()'
>
    <div class="main__edit" *ngIf = 'showRow'>
        <span class="main__edit-part">{{ part.title }}</span>
        <div class="main__edit-row"></div>
        <span class="main__edit-text icon" (click) = 'navigate()' *ngIf = 'isShowEdit && isOwn' @fade>Редактировать</span>
    </div>
    <div *ngIf = 'part.type === "Single"; then single else array'></div>
    <ng-template #single>
        <div 
        *ngFor="let row of part.rows"
        class="main__row">
        <span class="main__row-title"> {{ row.title }} </span>
        <span class="main__row-value"> {{ getValue(row.value, row.type) }} </span>
    </div>
    </ng-template>

    <ng-template #array>
        <div class="box" *ngFor="let box of part.rows; let first = first;">
            <div class="separator" *ngIf = '!first'>
                <div class="separator-line"></div>
            </div>
            <div class="main__row" *ngFor = 'let row of box;'>
                <span class="main__row-title"> {{ row.title }} </span>
                <span class="main__row-value"> {{ getValue(row.value, row.type) }}  </span>
            </div>
        </div>
    </ng-template>
</div>
