@import 'styles.scss';

.main {
    padding: 1rem 0;

    &__edit {
        display: flex;
        align-items: center;
        height: 1rem;
        padding-bottom: .7rem;

        &-part {
            padding-right: 5px;
            @include gradient-font(var(--virgin));
        }

        &-row {
            flex-grow: 1;
            height: 1px;
            background: var(--main-theme);
        }

        &-text {
            cursor: pointer;
            padding-left: 5px;
        }
    }

    .separator {
        padding: 1rem 0;

        &-line {
            height: 3px;
            width: 100px;
            background: var(--yellow);
        }
    }

    &__row {

        padding: .2rem;

        &-title, &-value {
            display: inline-block;
        }
    
        &-title {
            width: 30%;
            font-family: var(--bad);
            font-weight: 600;
            letter-spacing: 1px;
            font-size: .8rem;
            @include gradient-font(var(--main-theme));
        }
    
        &-value {
            width: 70%;
            font-family: var(--garamond);
            @include gradient-font(var(--lizard));
        }
    }
}

.left-show {
    animation: leftShow .4s ease-in-out;
}

.right-show {
    animation: rightShow .4s ease-in-out;
}

@keyframes leftShow {
    from {
        transform: translateX(-100%);
    } to {
        transform: translateX(0%);
    }
}

@keyframes rightShow {
    from {
        transform: translateX(100%);
    } to {
        transform: translateX(0%);
    }
}