@import 'styles.scss';

.main {
    background: #fff;
    border-radius: 8px;

    .content {
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .search {
            width: 100%;
        }

        .list {
            padding: 1rem 1rem 0;
            display: flex;
            flex-direction: column;
            height: 500px;
            max-height: 500px;
            overflow-y: auto;
        }

        .submit {
            display: flex;
            align-items: center;
            padding: .5rem 1rem 1rem;

            .circle {
                @include circle(70px, 70px);
            }

            .form {
                display: flex;
                align-items: center;
                flex-grow: 1;

                .controls {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    flex-grow: 1;
                    padding: 0 1.5rem;

                    &__input {
                        width: 100%;
                    }
                }

                &-btn {

                }
            }
        }
    }
}