<div class="main">
        <div class="content">
            <i class="material-icons close-icon rotate pointer mt-1 mb-1 mr-1 self-end icon" (click) = 'hide()'>close</i>
            <div class="list"
                *ngIf = 'friends$ | async as friends; else preloader'
                cstNodeBreakManager
                [disable] = 'flags.isFetchFriends'
                (ending) = 'expand()'
             >

                <cst-form-input
                    [formControl] = 'searchControl'
                    class="search"
                    placeholder = 'Найти друзей'
                ></cst-form-input>

                <cst-message-dialogue-create-user
                    *ngFor = 'let user of friends.rows'
                    [user] = 'user'
                    [selected] = 'selected(user._id)'
                    [request] = 'flags.isCreateDialogue'
                    [disable] = 'disabledSelected()'
                    (select) = 'select($event)'
                ></cst-message-dialogue-create-user>
    
                <div *ngIf = '!friends.rows.length' class="empty-media content-center">
                    <p class="empty-media-text">Список друзей пуст</p>
                </div>
    
                <div *ngIf = 'flags.isFetchFriends' class="progress example-full-width pt-1 pb-1">
                    <mat-progress-bar mode="buffer"></mat-progress-bar>
                </div>
            </div>
    
            <ng-template #preloader>
                <cst-preloader-circle></cst-preloader-circle>
            </ng-template>
            
            <div class="submit box-shadow">
                <div class="circle" matTooltip = 'Добавить логотип дискуссии' (click) = 'fileRef.click()'>
                    <input #fileRef type="file" hidden (change) = 'changePreview($event)'>
                    <img *ngIf = 'preview' [src]="preview | urlSanitaiser" alt="logo" class="circle-img" (load) = 'revoke()'>
                </div>
                <form class="form" [formGroup] = 'form'>
                    <div class="controls">
                        <cst-form-input
                            formControlName = 'Title'
                            class="controls__input"
                            placeholder = 'Название диалога*'
                            [maxLength] = 'dialogueLengths.MAX.Title'
                            [errors] = 'errors.Title'
                        ></cst-form-input>
                        <cst-form-textarea
                            formControlName = 'FirstMessage'
                            class="controls__input"
                            placeholder = 'Приветсвие*'
                            fontSize = '.8rem'
                            [maxLength] = 'messageLengths.MAX.Text'
                            [errors] = 'errors.Title'
                        ></cst-form-textarea>
                    </div>

                    <button 
                        mat-raised-button 
                        type="submit"
                        class="btn hover-btn form-btn" 
                        [disabled] = 'disabled()'
                        (click) = 'create()'
                    >Создать</button>
                </form>
            </div>
        </div>
    </div>