@import 'styles.scss';

.main {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
    

    .blur {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        filter: sepia(1);
        background: rgba(255, 255, 255, 0.4);
        z-index: 2;
    }

    .content {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        padding: 2rem;
        width: 31%;
        z-index: 3;
        min-width: 320px;
        border-radius: 4px;
        background: #fff;
        box-shadow: 0 14px 28px rgba(62, 62, 63, 0.45), 0 10px 10px rgba(179, 175, 175,0.22);

        .text {
            text-align: center;
            @include gradient-font(linear-gradient(to right, rgb(100, 43, 115), rgb(224, 102, 32)));
        }

        .nav {
            display: flex;
            justify-content: flex-end;
        }
    }
}