<div class="main">
    <div class="blur"></div>
    <div class="content" @bottomShow>
        <h2 class="text">Вы действительно хотите {{ text }} ?</h2>
        <div class="nav pt-2">
            <button mat-raised-button class="mr-1" (click) = 'confirm(false)'>Отмена</button>
            <button mat-raised-button class="btn" (click) = 'confirm(true)'>Подтвердить</button>
        </div>
    </div>
</div>