<div class="main box-shadow">
    <div class="preview">
        <img 
            [cstLazyFile] = 'video.Poster'
            class="preview__img"
            alt="poster" />
        <div class="preview__playback">
            <cst-add-media
                *ngIf = '!hideAddIcon'
                class="preview__playback-add"
                tooltips = 'videoUnit'
                [have] = 'getHaveField()'
                [loading] = 'request'
                (action) = 'mutate()'
            ></cst-add-media>
            <mat-icon 
                class="preview__playback-item preview__playback-play"
                (click) = 'play()'
            > play_circle_filled </mat-icon>
            <span class="preview__playback-time"> {{ video.Duration | durationConverter }} </span>
        </div>
    </div>
    <div class="info">
        <p class="info__title" (click) = 'play()'>{{ video.Title | sliceString }}</p>
        <p class="info__creator" (click) = 'navigate()'> {{ video.CreatorName | sliceString }} </p>
        <p class="info__date"> {{ video.Created | date:'mediumDate' }} </p>
    </div>
</div>
