@import 'styles.scss';

.main {
    display: flex;
    flex-direction: column;

    .preview {
        position: relative;
        padding-top: 180px;

        &__img {
            display: block;
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
        }

        &__playback {
            position: absolute;
            padding: .5rem;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            width: 100%;
            background: rgba(0, 0, 0, .4);
            color: #fff;

            &-add {
                align-self: flex-end;
            }

            &-play {
                cursor: pointer;
                height: 48px;
                width: 48px;
                font-size: 3rem;
                margin: auto;
                align-self: center;
                text-shadow: 0 0 5px white, 0 0 10px white, 0 0 1px white, 0 0 0px dodgerblue, 0 0 1px dodgerblue, 0 0 40px dodgerblue, 0 0 50px dodgerblue, 0 0 0px dodgerblue;
                transition: transform .2s ease-in;

                &:hover {
                    transform: scale(1.1);
                }
            }

            &-time {
                cursor: default;
                align-self: flex-start;
                padding: .1rem;
                background: rgba(229, 229, 229, 0.2);
                border-radius: 2px;
                font-family: var(--comforta);
                font-size: .9rem;
            }
        }
    }

    .info {
        padding: .5rem 0rem .5rem .5rem;

        &__title {
            cursor: pointer;
            padding-bottom: .2rem;
            font-family: var(--shadows);
            font-size: .9rem;
            @include gradient-font(var(--main-theme));

            &:hover {
                @include gradient-font(var(--mojito));
            }
        }

        &__creator {
            cursor: pointer;
            font-family: var(--shadows);
            @include gradient-font(var(--dark));

            &:hover {
                @include gradient-font(var(--yellow));
            }
        }

        &__date {
            font-size: .8rem;
            font-family: var(--garamond);
            @include gradient-font(var(--red-rock));
        }


    }
    
}