<div class="main">
    <div class="controls" 
        [@animateHeight] = 'isShowFilters ? "a" : "b"'
        [class.show] = 'isShowFilters'
    >
        <div class="controls__box">
            <p class="controls__box-header">Фильтровать:</p>
            <div class="controls__box-forms">
                <cst-form-select
                    class="controls__box-forms-item"
                    [formControl] = 'Duration'
                    placeholder = 'По длительности'
                    [options] = 'filterOptions.Duration'
                    (ngModelChange) = 'changeFilter("Duration", $event)'
                ></cst-form-select>
            </div>
        </div>
        <div class="controls__box">
            <p class="controls__box-header">Сортировать:</p>
            <div class="controls__box-forms">
                <cst-form-select
                    class="controls__box-forms-item"
                    [formControl] = 'LikesTotal'
                    placeholder = 'По популярности'
                    [options] = 'sortedOptions.LikesTotal'
                ></cst-form-select>
                <cst-form-select
                    class="controls__box-forms-item"
                    [formControl] = 'Created'
                    placeholder = 'По дате добавления'
                    [options] = 'sortedOptions.Created'
                ></cst-form-select>
            </div>
        </div>
    </div>
    <div class="icons">
        <mat-icon 
            *ngIf = 'isActiveFilters'
            @fade 
            class="icon icons__item"
            matTooltip = 'Сбросить фильтрацию'
            (click) = 'reset()'
        >remove_circle_outline</mat-icon>
        <mat-icon 
            class="icons__item"
            [matTooltip] = 'getFilterTooltip()'
            [ngClass] = 'getFilterIconClass()'
            (click) = 'showFilters()'
        >movie_filter</mat-icon>
    </div>
</div>
