@import 'styles.scss';

.main {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    margin-right: -0.5rem;
    overflow: hidden;
    
    .controls {
        display: flex;
        flex-grow: 1;
        transform: translateX(-100%);
        transition: transform .5s ease-in;

        &__box {
            flex-grow: 1;
            padding-right: 1rem;

            &-header {
                padding-bottom: .5rem;
                font-family: var(--pacifico);
                @include gradient-font(var(--main-theme));
            }

            &-forms {
                display: flex;
                flex-grow: 1;

                &-item {
                    margin-right: 1rem;
                }
            }
        }

    }

    .icons {
        display: flex;

        &__item {
            margin: 0 .5rem;
        }
    }
}

.show {
    transform: translateX(0%) !important;
}

.active {
    cursor: pointer;
    @include gradient-font(var(--yellow));
}