@import 'styles.scss';

.main {
    display: flex;
    background: rgba(0, 0, 0, 0.7);
    padding-left: 1rem;

    .album {
        font-family: var(--amatic);
        padding: 1rem 0;
        font-size: 1.2rem;
        font-weight: bold;
        letter-spacing: 2px;
        @include gradient-font(var(--peach));
    }

    .menu {
        position: relative;
        padding: 0 1rem;
        display: flex;
        align-items: center;

        &:hover > .menu-list {
            display: flex;
        }

        &-btn {
            cursor: pointer;


            &-icon {
                @include gradient-font(var(--virgin));
            }
        }

        &-list {
            display: none;
            flex-direction: column;
            background: rgba(47, 47, 47, 0.8);
            position: absolute;
            width: 220px;
            left: 50%;
            bottom: calc(100%);
            transform: translateX(-50%);
            animation: scale .2s linear;

            &:after {
                content: '';
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translateX((-50%));
                display: block;
                height: 0;
                width: 0;
                border-top: 10px solid rgba(47, 47, 47, 0.8);
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
            }

            &-item {
                display: flex;
                align-items: center;
                padding: .8rem .7rem;
                color: #fff;
                font-family: var(--comforta);
                font-size: .7rem;
                cursor: pointer;
                transition: background-color .1s linear, color .2s linear;

                i {
                    margin-right: .5rem;
                }

                &:hover {
                    background: rgba(162, 159, 159, 0.2);
                    color: rgb(239, 239, 122);
                }
            }
        }
    }
}


@keyframes scale {
    from {
        opacity: 0;
        transform: translateY(-30%) translateX(-50%);
    } to {
        opacity: 1;
        transform:  translateY(0%) translateX(-50%);
    }
}
