<div class="main" [class.pr-1] = '!isShowMenu()'>
        <p class="album">{{ manager.albumTitle }}</p>
        <div @scaleShow class="menu" *ngIf = 'isShowMenu()'>
            <div class="menu-btn">
                <i class="material-icons menu-btn-icon">view_list</i>
            </div>
            <ul class="menu-list">
                <li @scaleShow class="menu-list-item" *ngIf = 'isShowUpdateAvatar()' (click) = 'updateAvatar()'>
                    <i class="material-icons">portrait</i>
                    Сделать фотографией профиля
                </li>
                <li @scaleShow class="menu-list-item" *ngIf = 'isShowSaved()' (click) = 'save()'>
                    <i class="material-icons">{{getSavedIcon()}}</i>
                    {{ getSavedText() }}
                </li>
            </ul>
        </div>
    </div>
