@import 'styles.scss';

.main {
    padding-bottom: 2.7rem;
    display: flex;
    justify-content: center;
    

    .content {
        display: flex;
        width: 100%;
        flex-direction: column;
        padding: 1rem;
        border-radius: 8px;
        max-width: 600px;

        .print {
            align-self: flex-end;

            i {
                font-size: 1.8rem;
            }
        }

        .info {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;

            &__item {
                display: flex;
                flex-wrap: wrap;
                align-items: center;

                &-title {
                    display: flex;
                    align-items: center;
                    width: 30%;
                    font-weight: bold;
                    letter-spacing: 2px;
                    font-size: 1.2rem;
                    font-family: var(--amatic);
                    @include gradient-font(var(--main-theme));

                    i {
                        margin-right: 1rem;
                    }
                }

                &-value {
                    flex-grow: 1;
                    text-align: center;
                }
            }

            .title, .date {

                .info__item-value {
                    font-family: var(--gabriela);
                    @include gradient-font(var(--red-rock));
                }
            }

            .status {

                .info__item-value {
                    font-family: var(--shadows);
                    font-size: 1.5rem;
                }
            }

            .description {
                padding-top: 1.5rem;
                flex-direction: column;
                align-items: flex-start;

                span {
                    width: 100%;
                }

                p {
                    padding-top: 1rem;
                }

            }
        }
    }
}

.completed {
    @include gradient-font(var(--mojito));
}

.not-completed {
    @include gradient-font(var(--yellow));
}