<div class="main" *ngIf = 'task$ | async as task; else preloader'>
    <div class="content box-shadow">
        <div class="print">
            <i
                class="material-icons icon" 
                matTooltip = 'Сохранить в PDF'
                (click) = 'printRef.print()'
            >picture_as_pdf</i>
        </div>
        <ul class="info" 
            cstPrint
            #printRef='printRef'
            [Title] = 'task.Title'
            [ContainerStyles] = 'getPrintStyles("ContainerStyles")'
            [PrintStyles] = 'getPrintStyles("PrintStyles")'
        >
            <li class="info__item title">
                <span class="info__item-title">
                    <i class="material-icons title-icon">title</i>
                    Название задачи:
                </span>
                <p class="info__item-value">
                    {{ task.Title }}  
                </p>
            </li>
            <li class="info__item date">
                <span class="info__item-title">
                    <i class="material-icons title-icon">date_range</i>
                    Дата создания задачи:
                </span>
                <p class="info__item-value">
                    {{ task.StartDate | date:"fullDate" | titlecase }} 
                </p>
            </li>
            <li class="info__item date">
                <span class="info__item-title">
                    <i class="material-icons title-icon">date_range</i>
                    Дата выполнения задачи:
                </span>
                <p class="info__item-value">
                    {{ task.EndDate | date:"fullDate" | titlecase }}
                </p>
            </li>
            <li class="info__item status">
                <span class="info__item-title">
                    <i class="material-icons title-icon">donut_large</i>
                    Статус:
                </span>
                <p class="info__item-value" [ngClass] = 'getStatusClass()'>
                    {{ task.Completed ? 'Завершена' : 'Не завершена' }}
                </p>
            </li>
            <li class="info__item description">
                <span class="info__item-title">
                    <i class="material-icons title-icon">description</i>
                    Описание задачи:
                </span>
                <p class="info__item-value">
                    <quill-view-html *ngIf = 'task.Description' [content] = 'task.Description'></quill-view-html>
                </p>
            </li>
        </ul>
    </div>
</div>

<ng-template #preloader>
    <cst-preloader></cst-preloader>
</ng-template>