<div class="main">
    <div class="content">
        <div class="nav">
            <cst-message-nav (create) = 'showCreateDiscussion(true)'></cst-message-nav>
        </div>
        <section class="section">
            <div class="outlet">
                <router-outlet></router-outlet>
            </div>
            <div class="chats">
                <cst-message-chats></cst-message-chats>
            </div>
        </section>
    </div>
</div>

<cst-shadow *ngIf = 'dFlags.isShowCreateDiscussion' (action) = 'showCreateDiscussion(false)'>
    <cst-message-dialogue-create
        class="create"
        (hide) = 'showCreateDiscussion(false)'
    ></cst-message-dialogue-create>
</cst-shadow>
