.main {

    .content {
        margin: 0 auto;
        max-width: 1200px;
        padding-top: 2rem;
        

        .nav {
            
        }

        .section {
            display: flex;
            padding: 2rem 0 2.7rem;

            .outlet {
                width: calc(100% / 12 * 9);
            }
    
            .chats {
                margin-left: 10px;
                width: calc(100% / 12 * 3 - 10px);
            }
        }
    }
}

.create {
    width: calc(100% / 12 * 4);
    min-width: 320px;
}