@import 'styles.scss';

.picture {
    position: relative;
    height: 200px;
    margin: 10px;
    transition: transform .2s ease, opacity .3s linear;

    .img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .shadow {
        position: absolute;
        display: flex;
        justify-content: flex-end;
        z-index: 1;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        &__icon {
            font-size: 1.5rem;
            @include gradient-font(var(--peach));
        }
    }
}

.picture-selected {
    transform: scale(1.04);
    opacity: 0.5;
}

.shadow-disabled {
    background: rgba(229, 229, 229, .3);
}
