<div 
    class="picture box-shadow pointer"
    [class.picture-selected] = 'selected'
>
    <img [cstLazyFile] = 'picture.Path' alt = 'picture' class="img" (click) = 'slide()'>
    <div 
        *ngIf = 'modeType === "edit"' 
        class="shadow"
        [class.disabled] = 'isDisabled()'
        (click) = 'slide()'
    >
        <i 
            (click) = 'select($event)'
            class="material-icons shadow__icon pointer"
        > {{ getSelectIcon() }} </i>
    </div>
</div>
