<div class="main box-shadow">
    <div class="info">
        <div class="info__box">
            <span class="info__box-label">Название:</span>
            <span class="info__box-title"> {{ album.Title | sliceString }} </span>
        </div>
        <div class="info__box">
            <span class="info__box-label"> Создан: </span>
            <span class="info__box-title"> {{ album.Created | date:'mediumDate' }} </span>
        </div>
        <div [cstUserNavigate] = 'album.User' class="info__box">
            <span class="info__box-label"> Создатель: </span>
            <span class="info__box-creator"> {{ album.CreatorName | sliceString }} </span>
        </div>
    </div>
    <div class="preview">
        <ng-container *ifOwn = 'album.User'>
            <div 
                *ngIf = 'album.Type !== "Avatars"'
                class="preview__icon" 
                matTooltip = 'Перейти в режиме редактирования'
                matTooltipPosition = 'after'
                (click) = 'detail("edit")'
            >
                <i class="material-icons">edit</i>
            </div>
        </ng-container>

        <img *ngIf = 'album.Logo' [cstLazyFile] = 'album.Logo' alt="logo" class="preview__img">
        <div class="preview__album" [ngClass] = 'getDescriptionClass()'>
            <p class="preview__album-total-count"> 
                {{ album.TotalCount }}
                <i class="material-icons">monochrome_photos</i>
            </p>
            <p class="preview__album-description pb-1"> {{ album.Description | sliceString:0:150 }} </p>
        </div>
    </div>
    <div class="nav">
        <button 
            class="nav__btn nav__btn_detail"
            mat-raised-button 
            (click) = 'detail("view")'
        >Перейти в альбом</button>
        <ng-container *ifOwn = 'album.User'>
            <button 
                *ngIf = 'album.Type === "Created"' 
                class="nav__btn nav__btn_edit btn"
                mat-raised-button 
                (click) = 'edit()'
            >Редактировать</button>
        </ng-container>
    </div>
</div>
