@import 'styles.scss';

.main {
    background: #fff;
    border-radius: 8px;

    .info {
        display: flex;
        flex-direction: column;
        padding: 1rem 0 0 .7rem;

        &__box:not(:first-of-type) {
            margin-top: .7rem;
        }

        &__box {
            display: flex;
            align-items: center;

            &-label {
                font-family: var(--shadows);
                padding-right: .5rem;
                @include gradient-font(var(--dark));
                font-size: .8rem;
            }

            &-title {
                letter-spacing: 1px;
                font-size: 1.2rem;
                font-family: var(--caveat);
                @include gradient-font(var(--main-theme));
            }

            &-creator {
                cursor: pointer;
                font-family: var(--shadows);
                font-size: 1.2rem;
                letter-spacing: 1px;
                @include gradient-font(var(--main-theme));

                &:hover {
                    @include gradient-font(var(--yellow));
                }
            }
        }
    }

    .preview:hover > .preview__album-description {
        transform: translateY(-100%);
    }

    .preview {
        position: relative;
        margin-top: .5rem;
        padding-top: 70%;
        background: var(--purple);
        overflow: hidden;

        // &:hover > &__album-description {
            
        // }

        &__icon {
            position: absolute;
            cursor: pointer;
            z-index: 1;
            top: 10px;
            right: 10px;
            padding: .4rem;
            background: rgba(0, 0, 0, .3);
            border-radius: 4px;
            transition: background-color .3s linear;

            &:hover {
                background: rgba(229, 229, 229, .5); 
            }

            &:hover > i {
                @include gradient-font(var(--dark));
            }


            i {
                @include gradient-font(var(--clouds));
            }
        }

        &__img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        &__album {
            position: absolute;
            z-index: 1;
            top:100%;
            left: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 0 .7rem;
            background: rgba(0, 0, 0, 0.3);
            transform: translateY(-2rem);
            transition: transform .2s linear;
            color: #fff;
            @include text-shadow(dodgerblue);

            &-total-count {
                display: flex;
                align-items: flex-end;
                padding: 0.2rem 0 .6rem;
                align-self: flex-end;

                i {
                    padding-left: .5rem;
                    text-shadow: none;
                }
            }
        }
    }

    .nav {
        display: flex;
        flex-wrap: wrap;
        padding: 1.5rem 1rem;

        &__btn {
            flex-grow: 1;
            
            &_edit {
                margin-left: .7rem; 
            }

            &_detail {
                background: var(--purple);
                font-family: var(--comforta);
                color: #fff;
                transition: background .3s linear, color .3s linear, text-shadow .3s linear;

                &:hover  {
                    background: var(--moss);
                    @include text-shadow(#fff);
                }
                

            }
        }
    }
}