<div class="main">
    <cst-media-nav 
        class="nav"
        pageName = 'videoPage'
        [options] = 'options'
        (page) = 'setPage($event)'
    ></cst-media-nav>

    <div class="create">
        <cst-user-nav [userId] = 'userId'></cst-user-nav>
        <ng-container *ngIf = 'isOwn'>
            <mat-icon  class="create__icon" matTooltip = 'Добавить видеозапись' (click) = 'create("video")'>videocam</mat-icon>
            <mat-icon  class="create__icon" matTooltip = 'Создать плейлист' (click) = 'create("playlist")'>video_library</mat-icon>
        </ng-container>
    </div>
</div>
    