@import 'styles.scss';

.main {
    width: 100%;

    .content {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: 0 auto;
        padding: 2rem 1rem 2.7rem;

        @media (max-width: 923px) {
            justify-content: center;
        }

        .avatar {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-self: flex-start;
            border-radius: 4px;
            flex-basis: 320px;
        }

        .info {

            @media (max-width: 774px) {
                margin-top: 2rem;
            }
        }
    }
}

.create-avatar {
    flex-basis: 500px;
    min-width: 300px;
    margin: 0 10px;
}
