<div class="main">
    <div class="content" *ngIf = 'info$ | async as info; else preloader'>
        <cst-account-nav 
            [list] = 'navList' 
            [unseen] = 'unseen$ | async'
            (navigate) = 'navigate($event)'
        ></cst-account-nav>
        <cst-account-preview
            *ngIf = 'user$ | async as user' 
            class="avatar" 
            [user] = 'user'
            (showCreate) = 'userFlags.isShowCreateAvatar = true'
            (showOnline) = 'flags.isShowOnlineModal = true'
        ></cst-account-preview>
        <cst-account-detail
            *ngIf = 'user$ | async as user'
            class="info" 
            [info] = 'info' 
            [user] = 'user'
        ></cst-account-detail>
    </div>

    <ng-template #preloader>
        <cst-preloader></cst-preloader>
    </ng-template>
</div>


<cst-shadow *ngIf = 'userFlags.isShowCreateAvatar' (action) = 'userFlags.isShowCreateAvatar = false'>
    <cst-picture-avatar-create
        class="create-avatar"
        [request] = 'userFlags.isCreateAvatar'
        (hide) = 'userFlags.isShowCreateAvatar = false'
        (create) = 'createAvatar($event)'
    ></cst-picture-avatar-create>
</cst-shadow>

<cst-shadow *ngIf = 'flags.isShowOnlineModal' (action) = 'flags.isShowOnlineModal = false'>
    <cst-account-online-users
        class="online-users"
        [users] = 'onlineFriends$ | async'
        [userId] = 'userId'
        [request] = 'flags.isFetchOnlineUsers'
        (hide) = 'flags.isShowOnlineModal = false'
        (fetch) = 'fetchOnlineUsers($event)'
    ></cst-account-online-users>
</cst-shadow>
