<nav class="nav" *ngIf = 'options'>
    <ul 
        class="list" 
        cstRowActive
        #lineActiveRef
        [pageName] = 'pageName'
        [isInitializeEmit] = 'isInitializeEmit'
        (page) = 'setPage($event)'
    >
        <li 
            class="list__item" 
            *ngFor = 'let link of options; let idx = index;'
            [class.active] = 'idx === lineActiveRef.hoverIdx'
        > 
            {{ link.title }}
        </li>
    </ul>
</nav>
