@import 'styles.scss';

.nav {
    display: flex;
    flex-direction: column;

    .list {
        display: flex;
        cursor: pointer;

        &__item {
            padding: .8rem 1.5rem;
            font-family: var(--amatic);
            font-weight: 800;
            font-size: 1.5rem;
            letter-spacing: 1px;
            border-radius: 10px;
            transition: box-shadow .3s linear, transform .3s ease-in;
            @include gradient-font(var(--main-theme));

            &.active {
                transform: scale(1.1);
                @extend .box-shadow;
            }

            &:hover {
                @include gradient-font(var(--haikus));
            }
        }
    }

    .active-row {
        height: 3px;
        background: var(--main-theme);
        transform: translateY(10px);
    }
}