
<div class="main" >
    <div class="content" *ngIf = 'album$ | async as album; else preloader'>
        <div class="icons">
            <i 
                *ngIf = 'isShowRemove()'
                class="material-icons pointer icons__delete" 
                (click) = 'showConfirm(true)'
                matTooltip = 'Удалить альбом'
                matTooltipPosition = 'before'
            >delete</i>
            <i 
                class="material-icons icon pointer rotate icons__close" 
                (click) = 'hide()'
                matTooltip = 'Закрыть'
                matTooltipPosition = 'after'
            >close</i>
        </div>
        <form class="form" [formGroup] = 'form' (ngSubmit) = 'onSubmit()'>

            <div class="control">
                <span class="control__label">Название*:</span>
                <cst-form-input 
                    class="control__input"
                    formControlName = 'Title'
                    placeholder = 'Название альбома'
                    [maxLength] = 'lengths.MAX.Title'
                    [errors] = 'errors.Title'
                ></cst-form-input>
            </div>

            <div class="control">
                <span class="control__label">Описание:</span>
                <cst-form-textarea
                    class="control__input"
                    formControlName = 'Description'
                    placeholder = 'Описание альбома'
                    [maxLength] = 'lengths.MAX.Description'
                ></cst-form-textarea>
            </div>

            <div class="logo">
                <div class="logo__label">
                    <span class="logo__label-text">{{ getLogoActionText(album) }} обложку:</span>
                    <i 
                        class="material-icons logo__label-icon icon ml-2"
                        matTooltip = 'Добавить'
                        (click) = 'logoRef.click()'
                    >library_add</i>
                    <input 
                        #logoRef 
                        hidden
                        type="file" 
                        (change) = 'changeFile($event)'>
                </div>
                <div class="logo__preview" [@defaultSizeAnim] = 'preview' *ngIf = 'showLogo("container", album)'>
                    <img *ngIf = 'showLogo("preview")' [src]="preview | urlSanitaiser" (load) = 'revokeUrl()' alt="logo" class="logo__preview-img">
                    <img *ngIf = 'showLogo("logo", album)' [src]="album.Logo | pathManager" alt="logo" class="logo__preview-img">
                </div>
            </div>

            <div class="separate-row"></div>

            <div class="footer">
                <div class="footer__actions">
                    <button 
                        mat-raised-button 
                        class="btn mr-1" 
                        type = 'button'
                        (click) = 'hide()'
                    >Отменить</button>
                    <button 
                        type = 'submit'
                        mat-raised-button class="btn"
                        [disabled] = 'form.invalid || flags.isRequest'
                    >Сохранить</button>
                </div>
                <p class="footer__text required-text pt-1">Поля обязательные для заполнения*</p>
            </div>
        </form>
    </div>

    <ng-template #preloader>
        <cst-preloader></cst-preloader>
    </ng-template>
</div>

<cst-confirm 
    *ngIf = 'flags.isShowConfirm'
    [text] = 'getConfirmText()'
    (confirm) = 'remove($event)'
></cst-confirm>