@import 'styles.scss';

.main {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1rem;
    background: #fff;
    border-radius: 8px;
    @extend .box-shadow;

    .content {

        display: flex;
        flex-direction: column;

        .icons {
            align-self: flex-end;

            &__delete {
                margin-right: .7rem;
                @include gradient-font(var(--fire-watch));

                &:hover {
                    @include gradient-font(var(--yellow));
                }
            }
        }


        .form {
            padding-top: 1rem;

            .control {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: .5rem 0;

                &__label {
                    font-family: var(--bad);
                    font-weight: 700;
                    letter-spacing: 1px;
                    @include gradient-font(var(--virgin));
                }

                &__input {
                    flex-grow: .6;
                    margin-left: 1.2rem;
                }
            }

            .logo {
                display: flex;
                flex-direction: column;

                &__label {

                    &-text {
                        font-family: var(--amatic);
                        font-size: 1.2rem;
                        letter-spacing: 1px;
                        padding-bottom: 1rem;
                        @include gradient-font(var(--virgin));
                    }
                }

                &__preview {
                    position: relative;
                    margin-top: 1rem;
                    padding-top: 50%;

                    &-img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }

            .separate-row {
                height: 3px;
                background: var(--virgin);
                width: 100px;
                margin: 1rem auto 1.5rem;
            }

            .footer {
                display: flex;
                flex-direction: column;
                align-items: center;
                
                &-actions {
                    align-self: flex-end;
                }

                &-text {

                }
            }
        }
    }
}