<div 
    *ngIf = 'picture'
    class="main" 
    cstFullscreenUse
    #fullscreeUseRef = 'fullScreenRef'
    (fullscreen) = 'fullscreen($event)' 
>
    <div *ngIf = 'request' class="main__shadow" @fade></div>
    <img 
        [src]="picture.Path | pathManager" 
        [@fadeEvent] = 'picture.Path'
        (load) = 'load($event)'
        alt="picture" 
        class="img"
    >
    <div class="nav">
        <div class="nav__header">
            <div *ngIf = 'isShowInterval()' @scaleShow class="nav__header-interval">
                <div class="nav__header-interval-box">
                    <span class="nav__header-interval-box-title">Слайд-шоу :</span>
                    <mat-checkbox 
                        class="nav__header-interval-box-control" 
                        color='primary' 
                        [checked] = 'checkedInterval'
                        (change) = 'show($event)'
                    ></mat-checkbox>
                </div>
                
                <div class="nav__header-interval-box">
                    <span class="nav__header-interval-box-title">Интервал :</span>
                    <mat-slider
                        class="nav__header-interval-box-control"
                        color = 'primary'
                        [min]="2"
                        [max]="7"
                        [value] = 'intevalStep'
                        [step]="step"
                        [thumbLabel]="true"
                        (change) = 'changeStep($event)'
                    ></mat-slider>
                </div>
            </div>
            <div class="nav__header-box">
                <i 
                    class="material-icons nav__header-box-icon"
                    matTooltip = 'Полноэкранный режим'
                    (click) = 'fullscreeUseRef.setFullscreen()'
                >{{getFullScreenIcon()}}</i>
            </div>
        </div>
        <div class="nav__center" *ngIf = 'manager.totalCount > 1'>
            <i class="material-icons nav__center-icon">arrow_back_ios</i>
            <i class="material-icons nav__center-icon" (click) = 'setSlide("next")'>arrow_forward_ios</i>
        </div>
        <div class="nav__footer">
            <cst-picture-detail-menu
                [picture] = 'picture'
                [manager] = 'manager'
                (save) = 'save($event)'
            ></cst-picture-detail-menu>
            <div class="nav__footer-stats">
                <span class="nav__footer-stats-current" [@changeTop] = 'manager.pictureIndex'> {{ manager.pictureIndex + 1 }} </span>
                <span class="nav__footer-stats-separate"> / </span>
                <span class="nav__footer-stats-total"> {{ manager.totalCount }} </span>
            </div>
        </div>
    </div>
</div>