@import 'styles.scss';

.main {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;

    &:hover > .nav .nav__center .nav__center-icon {
        transform: translateX(0) !important;
    }

    &__shadow  {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(255, 255, 255, .5);
    }

    .img {
        max-width: 100%;
        object-fit: cover;
    }

    .nav {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;

        &:hover > .nav__header  {
            transform: translateY(0%);
        }

        &__header {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 0.3rem;
            background: rgba(68, 234, 204, 0.3);
            transform: translateY(-100%);
            transition: transform .3s linear;

            &-interval {
                display: flex;
                align-items: center;
                padding-left: 1rem;
                margin-right: auto;

                &-box {
                    display: flex;
                    align-items: center;
                    padding: 0 1rem;

                    &-control {

                    }

                    &-title {
                        padding: 0 .5rem;
                        font-family: var(--comforta);
                        @include gradient-font(var(--clouds));
                    }
                }
            }

            &-box {
                cursor: pointer;
                margin: 0 0.5rem;
                padding: 0.3rem;
                border-radius: 4px;
                background: rgba(229, 229, 229, 0.1);
                transition: background-color 0.2s linear;

                &:hover {
                    background-color: rgba(229, 229, 229, 0.5);
                }

                &-icon {
                    @include gradient-font(var(--clouds));
                }
            }
        }

        &__center {
            display: flex;
            justify-content: space-between;
            transform: translateX(6px);
            align-items: center;
            padding: 0 1rem;
            width: 100%;
            
            &-icon {
                cursor: pointer;
                color: #fff;
                font-size: 2.5rem;
                transition: text-shadow .2s linear, transform .3s linear;
                @include text-shadow(dodgerblue);

                &:hover {
                    @include text-shadow(tomato);
                }

                &:first-of-type {
                    transform: translateX(-150%);
                }

                &:last-of-type {
                    transform: translateX(150%);
                }
            }
        }

        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            &-album {
                
            }
            
            &-stats {
                padding: 1rem;
                background: rgba(0, 0, 0, 0.7);
                font-family: var(--comforta);

                &-current {
                    @include text-shadow(#fff);
                    color: #fff;
                }

                &-separate {
                    @include gradient-font(var(--clouds));
                }
        
                &-total {
                    @include gradient-font(var(--peach));
                }
            }
        }
    }
}