@import 'styles.scss';

:host {
    width: calc(100% / 12 * 3 - 2rem);
    margin: 1rem;
    min-width: 260px;
}

.main {

    .logo {
        position: relative;
        cursor: pointer;
        display: flex;
        justify-content: flex-end;
        background: var(--main-theme);

        &:hover > .detail {
            background: rgba(229, 229, 229, .7);
        }
    
    
        &__img {
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
    
        }
    
        &__detail {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 3rem 1.5rem;
            background: rgba(229, 229, 229, .3);
            transition: background-color .3s linear;
    
            &-icon {
                font-size: 2.5rem;
                @include gradient-font(var(--clouds));
            }
    
            &-total {
                font-size: 1.2rem;
                font-weight: 900;
                font-family: var(--gabriela);
                padding-top: .5rem;
                @include gradient-font(var(--clouds));
            }
        }
    }

    .info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
        padding-top: .5rem;

        &__title {
            font-family: var(--shadows);
            letter-spacing: 2px;
            font-weight: 900;
            @include gradient-font(var(--main-theme));

            &:hover {
                @include gradient-font(var(--yellow));
            }
        }

        &__creator {
            font-family: var(--bad);
            @include gradient-font(var(--virgin));

            &:hover {
                @include gradient-font(var(--yellow));
            }
        }

        &__date {
            font-family: var(--caveat);
            @include gradient-font(var(--lizard));
        }
    }
}