<div class="main box-shadow">
    <div class="logo pointer" (click) = 'navigate("playlist")'>
        <img 
            *ngIf = 'playlist.Logo' 
            [cstLazyFile] = 'playlist.Logo'
            alt="logo" 
            class="logo__img">
        <div class="logo__detail">
            <i class="material-icons logo__detail-icon">format_indent_increase</i>
            <p class="logo__detail-total">{{ playlist.VideoTotal }}</p>
        </div>
    </div>

    <div class="info">
        <p class="info__title pointer" (click) = 'navigate("playlist")'> {{ playlist.Title | sliceString }} </p>
        <p class="info__creator pointer" (click) = 'navigate("user")'> {{ playlist.CreatorName | sliceString }} </p>
        <p class="info__date"> {{ playlist.Created | date:'mediumDate' }} </p>
    </div>

</div>
