@import 'styles.scss';

.main {
    position: relative;
    overflow: hidden;

    .list {
        
        &__item {
    
            &-link {
                display: block;
                padding: .8rem 1.5rem;
                height: 100%;
                text-decoration: none;
                cursor: pointer;
                transition: transform .2s linear;
                @include gradient-font(var(--main-theme));

                &.active {
                    transform: scale(1.1);
                    @include gradient-font(var(--lizard));
                    @extend .box-shadow;
                }
    
                &:hover {
                    @extend .active;
                }
            }
        }
    }
}
