<div class="main" *ngIf = 'options'>
    <ul class="list"
        cstRowActive
        position = 'left'
        pageName = 'editPage'
        lineClass = 'edit-line-active'
        (page) = 'setPage($event)'
    >
        <li 
            class="list__item"
            *ngFor = 'let option of options; let i = index'
         > 
            <a 
                class="list__item-link"
                [class.active] = 'router.url.includes(option.path)'
            > {{ option.title }} </a>    
        </li>
    </ul>
</div>

