@import 'styles.scss';

.main {
    
    .content {
        display: flex;
        align-items: center;
        padding-right: 2rem;

        .time {
            font-size: .7rem;
            font-family: var(--comforta);
            width: 130px;
        }

        .menu {
            position: relative;

            &__icon {
                cursor: pointer;
                text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px crimson, 0 0 35px crimson, 0 0 40px crimson, 0 0 50px crimson, 0 0 75px crimson;
            }

            &__list {
                display: none;
                position: absolute;

                &-item {
                    cursor: pointer;
                    margin-top: 1rem;
                    animation: showItem .3s linear forwards;

                    &-icon {
                        @include gradient-font(var(--main-theme));

                        &:hover {
                            @include gradient-font(var(--yellow));
                        }
                    }
                }

                @for $i from 1 through 3 {
                    &-item:nth-child(#{$i}) { 
                        transform: translateY(-($i * 70%));
                        // scale($i / 10 + 0.2)
                    }
                }
            }

            &:hover > .menu__list {
                display: block;
            }
        }

        .weather {
            display: flex;
            align-items: center;
            padding: 0 2rem;

            &-icon {
                height: 40px;
            }

            &-temp {
                color: #fff;
                font-family: var(--comforta);
            }
        }
    }
}

@keyframes showItem {
    100% {
        transform: translateY(0%);
        // scale(1)
    }
}


