<div class="main">
    <div class="content">
        <div class="weather" *ngIf = 'loginService.weather$ | async as weather' @scaleShow>
            <img class="weather-icon" [src]="weather.icon" [title]="weather.text"/>
            <span class="weather-temp"> {{ weather.temp_c }} &deg;С</span>
        </div>
        <!-- <div class="time">{{ time | moment }}</div> -->
        <nav class='menu'>
            <mat-icon class="menu__icon">more_vert</mat-icon>
            <ul class="menu__list">
                <li class="menu__list-item">
                    <mat-icon 
                    class="menu__list-item-icon account-icon" 
                    matTooltip = 'Моя страница'
                    matTooltipPosition = 'before'
                    (click) = 'navigate()'
                    >account_circle</mat-icon>
                </li>
                <!-- <li class="menu__list-item menu__list-item_2">
                    <mat-icon 
                    class="menu__list-item-icon exit-icon" 
                    matTooltip = 'Удалить аккаунт'
                    matTooltipPosition = 'before'
                    (click) = 'isShowRemove = true'
                    >delete_sweep</mat-icon>
                </li> -->
                <li class="menu__list-item">
                    <mat-icon 
                    class="menu__list-item-icon exit-icon" 
                    matTooltip = 'Выйти'
                    matTooltipPosition = 'before'
                    (click) = 'logout()'
                    >exit_to_app</mat-icon>
                </li>
            </ul>
        </nav>
    </div>
</div>
 
<cst-confirm 
    *ngIf = 'isShowRemove' 
    text = 'удалить свою страницу' 
    (confirm) = 'remove($event)'
></cst-confirm>
