<div class="main">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>

<cst-video-slider 
  *ngIf = 'showComponent("video_id")'
></cst-video-slider>

<cst-picture-slider
  *ngIf = 'showComponent("picture_id")'
></cst-picture-slider>

<cst-message-modal
  *ngIf = 'showComponent("message_id")'
></cst-message-modal>

<cst-message-popups
  *ngIf = 'popups$ | async'
></cst-message-popups>
