<div 
    class="main box-shadow" 
    [class.unread] = 'dialogue.Unread' 
    [class.mt-1] = '!first' 
    (click) = 'navigate()'
>
    <div class="content">
        <div class="circle">
            <img 
                *ngIf = 'dialogue.Logo' 
                [cstLazyFile] = 'dialogue.Logo'
                class="circle-img" 
                alt="logo" 
            >
        </div>
        <div class="info">
            <div class="header">
                <h4 class="header__title"> {{ dialogue.Title }} </h4>
                <span class="header__time"> {{ dialogue.LastMessage.Created | date:'HH:mm' }} </span>
            </div>
            <p class="message">
                <span class="message__title"> {{ getMessageTitle() }} </span>
                <span 
                    [ngClass] = 'getMessageClass()'
                >{{ dialogue.LastMessage.Text || 'Список сообщений пуст' }}</span>
            </p>
        </div>
        <span *ngIf = 'dialogue.UnreadMessages' class="unread-count"> +{{ dialogue.UnreadMessages }} </span>
    </div>
</div>
