@import 'styles.scss';

.main {
    cursor: pointer;
    border-radius: 8px;
    transition: transform .3s ease-in-out;

    &:hover {
        transform: scale(1.01);
    }

    .content {
        display: flex;
        align-items: center;
        padding: .7rem;

        .circle {
            margin-right: 1rem;
            @include circle(70px, 70px);
        }

        .info {
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            justify-content: space-between;

            .header {
                display: flex;
                justify-content: space-between;
                align-items: center;

                &__title {
                    font-size: 1.2rem;
                    letter-spacing: 1px;
                    font-family: var(--garamond);
                    @include gradient-font(var(--main-theme));
                }

                &__time {
                     font-family: var(--pacifico);
                    @include gradient-font(var(--moon));
                }
            }

            .message {
                padding-top: 1rem;

                &__title {
                    font-family: var(--shadows);
                    @include gradient-font(var(--yellow));
                }

                &__text {
                    font-size: .85rem;
                    font-family: var(--comforta);
                    @include gradient-font(var(--dark));
                }

                &__empty {
                    font-size: .8rem;
                }
            }
        }

        .unread-count {
            font-family: var(--comforta);
            margin-left: 1.5rem;
            @include gradient-font(var(--fire-watch));
        }
    }
}

.unread {
    background: rgba(215, 255, 214, 0.7);
}
