<cst-shadow (action) = 'hide()'>
    <div class="main" *ngIf = 'audio$ | async' @scaleShow>
            <mat-icon class="icon close-icon rotate" (click) = 'hide()'>close</mat-icon>
            <form class="form" [formGroup] = 'form' (ngSubmit) = 'onSubmit()'> 
                <div class="add-song" *ngIf = 'modeType === "create"'>
                    <input 
                        #fileRef 
                        class="add-song-input" 
                        type="file"
                        (change) = 'changeSong($event)'
                    />
                    <span class="add-song-text">Выбрать композицию*:</span>
                    <mat-icon 
                        class="icon add-song-icon" 
                        matTooltip = 'Добавить'
                        (click) = 'fileRef.click()'
                    >library_add</mat-icon>
                    <span *ngIf = 'file' class="add-song-name" @topShow> {{ file.name }} </span>
                </div>

                <ng-container *ngIf = 'modeType === "edit"'>
                    <div class="control">
                        <label class="control-label">Исполнитель*:</label>
                        <cst-form-input
                            class="control-input"
                            formControlName = 'Artist'
                            placeholder = 'Исполнитель'
                            [maxLength] = 'lengths.MAX.Artist'
                            [errors] = 'errors?.Artist'
                        ></cst-form-input>
                    </div>
                    <div class="control" >
                        <label class="control-label">Название*:</label>
                        <cst-form-input
                            class="control-input"
                            formControlName = 'Title'
                            placeholder = 'Название'
                            [maxLength] = 'lengths.MAX.Title'
                            [errors] = 'errors?.Title'
                        ></cst-form-input>
                    </div>
                </ng-container>
        
                <div class="control">
                    <label class="control-label">Музыкальный жанр:</label>
                    <cst-form-select
                        class="control-input"
                        formControlName = 'Genre'
                        placeholder = 'Жанры'
                        [options] = 'genres'
                    ></cst-form-select>
                </div>

                <div class="separate-row"></div>
        
                <button 
                    mat-raised-button 
                    class="btn btn-submit" 
                    type="submit" 
                    [disabled] = 'getDisabled()'> Сохранить </button>
                <p class = 'required-text'>*Поля обязательные для заполнения</p>
            </form>
        </div>
</cst-shadow>

