@import 'styles.scss';

.main {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1rem;
    background: #fff;
    border-radius: 8px;
    @extend .box-shadow;

    .close-icon {
        align-self: flex-end;
        margin-bottom: 1rem;
    }

    .form  {
        display: flex;
        flex-direction: column;

        .add-video {
            display: flex;

            &-input {
                display: none;
            }

            &-text {
                margin-right: 1rem;
                font-family: var(--amatic);
                font-size: 1.2rem;
                letter-spacing: 1px;
                padding-bottom: 1rem;
                @include gradient-font(var(--virgin));
            }

            &-icon {
            }

            &-name {
                margin-left: 1rem;
                font-size: .8rem;
                font-family: var(--garamond);
                @include gradient-font(var(--lizard));
            }
        }

        .control {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: .5rem 0;

            &-label {
                font-family: var(--bad);
                font-weight: 700;
                letter-spacing: 1px;
                @include gradient-font(var(--virgin));
            }

            &-input {
                flex-grow: .6;
                margin-left: 1.2rem;
            }
        }

        .preview {
            position: relative;
            width: 100%;
            height: 270px;
            margin: 0 auto;

            &__img {
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }

        .separate-row {
            height: 3px;
            background: var(--virgin);
            width: 100px;
            margin: 1rem auto 1.5rem;
        }

        .btn-submit {

        }
    }
    
}