<div class="main" [ngStyle] = 'getMainStyles()'>
    <div class="preview" [ngStyle] = 'getPreviewStyle()' (click) = 'action()'>
        <img 
            *ngIf = 'user.Avatar'
            [@fadeEvent] = 'user.Avatar'
            alt="logo" 
            class="preview__logo"
            [cstLazyFile] = 'user.Avatar'>
    </div>
    <p class="name" (click) = 'action()'> {{ user.Name | sliceString:start:end }} </p>
</div>

