@import 'styles.scss';

.main {

    display: flex;
    align-items: center;
    text-align: center;

    .preview {
        display: block;
        position: relative;
        cursor: pointer;
        border-radius: 50%;
        background: var(--malibu);

        &__logo {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .name {
        cursor: pointer;
        font-family: var(--amatic);
        font-weight: 600;
        letter-spacing: 2px;
        transition: background .2s linear;
        @include gradient-font(var(--main-theme));

        &:hover {
            @include gradient-font(var(--yellow));
        }
    }
}