<cst-shadow (action) = 'hide()'>
    <div class="main box-shadow" 
        *ngIf = 'playlist$ | async as playlist; else playlistPreloader'
    >
        <div class="content">
            <mat-icon class="icon rotate close-icon" (click) = 'hide()'> close </mat-icon>
            <div class="detail">
                <div class="detail__preview">
                    <mat-icon class="melody-icon">music_note</mat-icon>
                    <img *ngIf = 'playlist.Logo' [src]="playlist.Logo | pathManager" alt="logo" class="detail__preview-img">
                </div>
                <div class="detail__info">
                    <p class="detail__info-title">{{ playlist.Title }}</p>
                    <p *ngIf = 'playlist.Description' class="detail__info-description"> {{ playlist.Description }} </p>
                    <p class="detail__info-stats"> 
                        Количество аудиозаписей:
                        <span class="detail__info-stats-count">
                            {{ playlist.TotalCount }} 
                        </span>
                    </p>
                </div>
            </div>

            <div class="navigate">
                <p class="navigate__mutate icon" (click) = 'mutate()' >{{ getMutateText() }}</p>
                <div class="navigate__playback" *ngIf = 'playlist.TotalCount'>
                    <mat-icon 
                        class="navigate__playback-icon icon"
                        matTooltip = 'Воспроизвести'
                        [ngClass] = 'getPlayClass()'
                        (click) = 'play()'
                    >
                    {{ getPlayIcon() }}
                    </mat-icon>
                </div>
            </div>

            <div 
                class="media-list" 
                *ngIf = 'mediaList$ | async as mediaList; else listPreloader'
                cstNodeBreakManager
                [disable] = 'flags.isExpandAudio'
                (ending) = 'viewService.expandAudio()'
            >
                <cst-audio-song
                    *ngFor = 'let audio of mediaList.rows'
                    modeType = 'list'
                    [audio] = 'audio'
                    [paused] = 'audioWorker.getPlayStatus(audio)'
                    [isCurrent] = 'audioWorker.isCurrentSong(audio._id)'
                    [currentTime] = 'audioWorker.getCurrentTime(audio)'
                    [navIcons] = '["add"]'
                    [isAddInOwnList] = 'true'
                    [isMutateRequest] = 'isMutateRequest(audio._id)'
                    (playback) = 'audioWorker.playback()'
                    (range) = 'audioWorker.range($event)'
                    (changeSong) = 'viewService.changeSong($event)'
                    (add) = 'mutateAudio($event, "add")'
                    (remove) = 'mutateAudio($event, "remove")'
                ></cst-audio-song>
                <div *ngIf = '!mediaList.rows.length' class="empty-media">
                    <p class="empty-media-text">
                        Список аудиозаписей пуст
                    </p>
                </div>
                <mat-progress-bar mode="indeterminate" *ngIf = 'flags.isExpandAudio'></mat-progress-bar>
            </div>
            
            <ng-template #playlistPreloader>
                <div class="spinner">
                    <mat-spinner></mat-spinner>
                </div>
            </ng-template>
        </div>
    </div>
    <ng-template #detailPreloader>
        <cst-preloader></cst-preloader>
    </ng-template>
</cst-shadow>
