@import 'styles.scss';

.main {
    flex-basis: 600px;
    min-width: 320px;
    background: #fff;
    border-radius: 8px;

    .content {
        display: flex;
        flex-direction: column;
        padding: 1.5rem;

        .close-icon {
            align-self: flex-end;
        }

        .detail {
            display: flex;
            padding-left: .5rem;
            padding-bottom: 3rem;

            &__preview {
                position: relative;
                display: flex;
                flex-basis: 200px;
                padding-top: 30%;
                min-height: 150px;
                background: var(--dark);
                border-radius: 5px;
                overflow: hidden;

                .melody-icon {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    height: 4rem;
                    width: 4rem;
                    font-size: 4rem;
                    color: #fff;
                    @include text-shadow(crimson);
                }

                &-img {
                    position: absolute;
                    object-fit: fill;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                }
            }

            &__info {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                padding-left: 1.5rem;

                &-title {
                    font-size: 1.5rem;
                    letter-spacing: 2px;
                    font-weight: bold;
                    font-family: var(--shadows);
                    @include gradient-font(var(--main-theme));
                }

                &-description {
                    font-size: .7rem;
                    padding-top: 1rem;
                    letter-spacing: 1px;
                    font-family: var(--comforta);
                    @include gradient-font(var(--dark));
                }

                &-stats {
                    display: flex;
                    align-items: baseline;
                    padding-top: 1.5rem;
                    font-size: .7rem;
                    font-family: var(--gabriela);
                    @include gradient-font(var(--virgin));

                    &-count {
                        padding-left: 1rem;
                        font-size: 1.2rem;
                        font-family: var(--gabriela);
                        @include gradient-font(var(--fire-watch));
                    }
                }
            }

        }

        .navigate {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-grow: 1;

            &__mutate {
                font-family: var(--amatic);
                font-weight: bolder;
                letter-spacing: 1px;
            }

            &__playback {

                &-icon {
                    height: 3rem;
                    width: 3rem;
                    font-size: 3rem;
                    cursor: pointer;
                    
                }
            }
        }

        .media-list {
            overflow: hidden auto;
            height: 400px;
        }
    }
}

.played {
    @include gradient-font(var(--virgin));
}

.paused {
    @include gradient-font(var(--main-theme));
}