<div class="main box-shadow">
    <div class="content">
        <h5 
            class="header"
            [class.icon] = '!disable()'
            (click) = 'action()'
        > 
        {{ getText() }}
        <span class="header__total"> {{ getTotal() }} </span>
        </h5>
        <div class="list">
            <cst-user-unit
                *ngFor = 'let user of users.rows'
                class="list__item"
                direction = 'column'
                height = '40px'
                width = '40px'
                end = '30'
                [user] = 'user'
                (action) = 'navigate($event)'
            ></cst-user-unit>
        </div>
    </div>
</div>
