@import 'styles.scss';

.main {
   

    .content {
        padding: 1rem;

        .header {
            font-family: var(--amatic);
            letter-spacing: 1px;

            &__total {
                font-family: var(--comforta);
                @include gradient-font(var(--red-rock));
            }
        }

        .list {
            display: flex;
            padding-top: 1rem;
            margin: 0 -0.5rem;
            
            &__item {
                margin: 1rem .5rem;
                width: calc(100% / 12 * 4 - 1rem);
            }
        }
    }
}

:host {
    width: 100%;
}