<div class="main" >
    <ul class="list">
        <li class="list__item" *ngFor = 'let link of list; let idx = index' (click) = 'navigate(link)'>
            <i class="material-icons list__item-icon" > {{ link.icon }} </i>
            <span class="list__item-link"> {{ link.title }} </span>
            <span *ngIf = 'link.unseen?.value' class="list__item-unseen"> +{{ link.unseen.value }} </span>
        </li>
    </ul>
</div>

<div class="hamburger" [ngClass] = 'getOpenMenuStyles()'>
    <ul class="hamburger__list">
        <li class="hamburger__list-item" *ngFor = 'let link of list; let idx = index' (click) = 'navigate(link)'>
            <i class="material-icons hamburger__list-item-icon" > {{ link.icon }} </i>
            <span class="hamburger__list-item-link"> {{ link.title }} </span>
            <span *ngIf = 'link.unseen?.value' class="hamburger__list-item-unseen"> +{{ link.unseen.value }} </span>
        </li>
    </ul>
    <i 
    [@ANToggleMenu] = 'isShowMenu'
    class="material-icons show-icon" 
    [ngClass] = 'getOpenIconStyles()'
    (click) = 'isShowMenu = !isShowMenu'
    > {{ isShowMenu ? 'menu_open' : 'menu' }}</i>
</div>



