@import 'styles.scss';

.main  {
    display: flex;

    @media (max-width: 967px) {
        display: none;
    }
        
    .list {
        display: flex;
        flex-direction: column;
        margin-right: 1rem;
        transition: left .4s ease-in;

        &__item:hover > &__item-icon, &__item-link, &__item-unseen {
            @include gradient-font(var(--yellow));
        }

        &__item {
            display: flex;
            align-items: center;
            padding: .5rem;
            cursor: pointer;
            border-radius: 8px;
            @extend .top-show;
            transition: transform .3s linear, box-shadow .3s linear;

            @for $i from 1 through 10 {
                &:nth-child(#{$i}) {
                    transform: translateY(-50% * $i);
                }
            }

            &:hover {
                transform: scale(1.1);
                @extend .box-shadow;
            }

            &-icon {
                @include gradient-font(var(--main-theme));
            }

            &-link {
                @include gradient-font(var(--main-theme));
                padding: 0 .5rem;
            }

            &-unseen {
                font-size: .8rem;
                font-family: var(--comforta);
                @include gradient-font(var(--fire-watch));
            }
        }
    }
}

.hamburger {
    display: none;
    position: fixed;
    left: 0;
    height: 100%;
    z-index: 1;
    background: whitesmoke;
    padding: 1rem;
    margin-top: -2rem;
    transition: transform .3s linear;

    @media (max-width: 967px) {
        display: flex;
    }

    .show-icon {
        cursor: pointer;
        font-size: 2.3rem;
        left: calc(100% + .5rem);
        top: -.1rem;
        position: absolute;
        text-shadow: 0 0 7px white, 0 0 16px white, 0 0 15px white, 0 0 20px #000, 0 0 35px #000, 0 0 0px #000, 0 0 0px #000, 0 0 0px #000;
    }
 
    &__list {
        display: flex;
        flex-direction: column;
        margin-right: 1rem;
        transition: left .4s ease-in;

        &-item:hover > &-item-icon, &-item-link, &-item-unseen {
            @include gradient-font(var(--yellow));
        }

        &-item {
            display: flex;
            align-items: center;
            padding: .5rem;
            cursor: pointer;
            border-radius: 8px;
            @extend .top-show;
            transition: transform .3s linear, box-shadow .3s linear;

            @for $i from 1 through 10 {
                &:nth-child(#{$i}) {
                    transform: translateY(-50% * $i);
                }
            }

            &:hover {
                transform: scale(1.1);
                @extend .box-shadow;
            }

            &-icon {
                @include gradient-font(var(--main-theme));
            }

            &-link {
                @include gradient-font(var(--main-theme));
                padding: 0 .5rem;
            }

            &-unseen {
                font-size: .8rem;
                font-family: var(--comforta);
                @include gradient-font(var(--fire-watch));
            }
        }
    }
}

.open-menu {
    transform: translateX(0);
}

.close-menu {
    transform: translateX(-100%);
}

.open-icon {
    @include gradient-font(var(--peach));
}

.close-icon {
    @include gradient-font(var(--virgin));
}
