<div class="main"
    cstPageBreakManager
    [disable] = 'flags.isMainRequest'
    (ending) = 'expand()'
>
    <div class="content">
        <div class="list" *ngIf = 'users$ | async as users; else preloader'>
            <ng-container *ngIf = 'users.rows.length; else emptyRef'>
                    <cst-friends-card
                    *ngFor = 'let user of users.rows;trackBy:trackByFn'
                    class="list__item"
                    [user] = 'user'
                    (message) = 'message($event)'
                ></cst-friends-card>
                <mat-progress-bar class="pt-2 pb-2" *ngIf = 'flags.isMainRequest' mode="indeterminate"></mat-progress-bar>
            </ng-container>

            <ng-template #emptyRef>
                <div class="empty-media content-center">
                    <p class="empty-media-text">Список общих друзей пуст</p>
                </div>
            </ng-template>
        </div>

        <ng-template #preloader>
            <cst-preloader></cst-preloader>
        </ng-template>
    </div>
</div>

