.main {

    .content {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;

        @media (max-width: 879px) {
            justify-content: center;
        }

        .playlist {
            width: calc(100% / 12 * 3 - 20px);
            min-width: 280px;
            padding:0 1rem 2.4rem;
            margin: 0 10px;
        }

        .empty {
            width: 100%;
        }
    
    }
}