<div class="main" 
    cstPageBreakManager
    [ngClass] = 'getShowClass()' 
    [disable] = 'flags.isExpandPlaylists'
    (ending) = 'expand()'
>
    <div class="content" *ngIf = 'playlists$ | async as playlists; else preloader'>
        <cst-audio-playlist 
            class="playlist"
            *ngFor = 'let playlist of playlists.rows;trackBy:trackByFn'  
            [playlist] = 'playlist'
            [isMutateRequest] = 'isMutateRequest(playlist._id)'
            [isOwn] = 'isOwn(playlist)'
            (add) = 'add($event)'
            (remove) = 'remove($event)'
            (edit) = 'edit($event)'
            (detail) = 'detail($event)'
            (play) = 'play($event)'
            (navigateToUser) = 'navigateToUser($event)'
        ></cst-audio-playlist>
        <div *ngIf = '!playlists.rows.length'  class="empty-media content-center example-full-width">
            <p class="empty-media-text">Список плейлистов пуст</p>
        </div>
        <mat-progress-bar *ngIf = 'flags.isExpandPlaylists' mode="indeterminate"></mat-progress-bar>
    </div>

    <ng-template #preloader>
        <cst-preloader></cst-preloader>
    </ng-template>
</div>

    
