@import 'styles.scss';

.main {
    padding: 1rem;
    background: #fff;
    border-radius: 8px;
    flex-basis: 500px;
    margin: 0 1rem;
    min-width: 320px;


    .content {

        position: relative;
        overflow-x: hidden;

        .playlist {
            display: flex;
            flex-direction: column;

            .header {
                display: flex;
                justify-content: space-between;
                padding: 1rem 0;

                &__text {
                    font-family: var(--fair);
                    @include gradient-font(var(--main-theme));
                }
            }

            .add {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding: 1rem 0;
                cursor: pointer;
                margin-bottom: 1.5rem;
                border-radius: 3px;
                transition: background .3s ease-in, padding .3s linear;

                &__text {
                    padding-right: 1rem;
                    font-family: var(--garamond);
                    @include gradient-font(var(--main-theme));
                }

                &:hover {
                    background: linear-gradient(to right, rgba(48, 67, 82, 0.5), rgba(215, 210, 204, 0.5));
                    padding-right: 1rem;
                }
            }

            .form-container {
                display: flex;

                @media (max-width: 525px) {
                    flex-direction: column;
                    align-items: center;
                    
                    .logo {
                        margin-bottom: 1rem;
                    }
                }

                .logo {
                    position: relative;
                    cursor: pointer;
                    display: flex;
                    align-items: flex-start;
                    margin-right: 1rem;
                    width: 200px;
                    height: 180px;
                    background: var(--moon);
                    border-radius: 8px;
                    overflow: hidden;
                
   
                    &__preview {
                        position: absolute;
                        object-fit: cover;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                    }

                    &__file {
                        display: none;
                    }

                    &__change {
                        position: absolute;
                        display: flex;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;

                        &-text {
                            margin: auto;
                            text-align: center;
                            font-family: var(--bad);
                            color: var(--dark);
                        }
                    }

                    &:hover > &__change {
                        display: block;
                    }
                }

                .form {
                    padding-top: 1rem;

                    &__btn {
                        margin-left: auto;
                        margin-top: 1.5rem;
                        display: block;
                    }
                }
            }

            .separator {
                margin: 1rem 0;
                height: 1px;
                width: 100%;
                
            }

            .list {
                padding-bottom: 2rem;
            }
        }

        .search {
            background: #fff;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .back {  
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding: 1rem 0;
                cursor: pointer;
                margin-bottom: 1.5rem;
                border-radius: 3px;
                transition: background .3s ease-in, padding .3s linear;

                &__text {
                    padding-left: 1rem;
                    font-family: var(--garamond);
                    @include gradient-font(var(--main-theme));
                }

                &:hover {
                    background: linear-gradient(to right, rgba(48, 67, 82, 0.5), rgba(215, 210, 204, 0.5));
                    padding-left: 1rem;
                }
            }

            &__list {
                width: 100%;
                margin-bottom: auto;
                flex-grow: 1;
                overflow-y: auto;
                overflow-x: hidden;
                max-height: 600px;
            }

            &__btn {
                margin-top: 1.5rem;
                align-self: flex-end;
            }
        }
    }
}