<cst-shadow (action) = 'hide()'>
    <div *ngIf = 'playlist$ | async as edit' class="main">
        <div class="content">
            <div class="playlist">
                <header class="header">    
                    <span class="header__text">
                        {{ getTitle() }} плейлист
                    </span>
                    <mat-icon class="icon rotate" (click) = 'hide()'>close</mat-icon>
                </header>
                <div class="add" (click) = 'showSearch(true)'>
                    <span class="add__text">Добавить в список</span>
                    <mat-icon class="icon add__icon">arrow_forward</mat-icon>
                </div>
                <div  class="form-container">
                    <div class="logo box-shadow" (click) = 'fileRef.click()'>
                        <input #fileRef type="file" class="logo__file" (change) = 'addLogo($event)'>
                        <img *ngIf = 'file' [src]="preview | urlSanitaiser" (load) = 'revokeUrl()' alt="logo" class="logo__preview">
                        <img *ngIf = 'edit.Logo && !file' [src]="edit.Logo | pathManager" alt="logo" class="logo__preview">
                        <div class="logo__change" [ngStyle] = 'getLogoStyle()'>
                            <p class="logo__change-text">
                                Изменить обложку
                            </p>
                        </div>
                    </div>
                    <form [formGroup] = 'form' class="form" (ngSubmit) = 'onSubmit()'>
                        <cst-form-input
                            formControlName = 'Title'
                            placeholder = 'Название'
                            [maxLength] = 'lengths.MAX.Title'
                            [errors] = 'errors.Title'
                        ></cst-form-input>
                        <cst-form-textarea
                            formControlName = 'Description'
                            placeholder = 'Описание'
                            [maxLength] = 'lengths.MAX.Description'
                        ></cst-form-textarea>
                        <button 
                            class="btn form__btn"
                            mat-raised-button
                            [disabled] = 'getDisabledStatus()'
                        >Сохранить</button>
                    </form>
                </div>
    
                <div class="separator"></div>
    
                <div 
                    *ngIf = 'mediaList$ | async as mediaList' 
                    class="list" 
                    cstNodeBreakManager
                    [disable] = 'flags.isExpand'
                    (ending) = 'expand()'
                >
                    <ng-container *ngIf = 'mediaList.rows.length; else empty'>
                        <cst-audio-song
                            *ngFor = 'let audio of mediaList.rows'
                            modeType = 'list'
                            [audio] = 'audio'
                            [isMutateRequest] = 'audioWorker.getAddRequestStatus(audio._id)'
                            [navIcons] = 'getNavIcons().main'
                            [paused] = 'audioWorker.getPlayStatus(audio)'
                            [isCurrent] = 'audioWorker.isCurrentSong(audio._id)'
                            [currentTime] = 'audioWorker.getCurrentTime(audio)'
                            [checked] = 'selectedIds.includes(audio._id)'
                            (playback) = 'audioWorker.playback()'
                            (range) = 'audioWorker.range($event)'
                            (add) = 'add($event)'
                            (remove) = 'remove($event)'
                            (select) = 'select($event)'
                            (changeSong) = 'changeSong($event)'
                        ></cst-audio-song>
                    </ng-container>
                    
                    <ng-template #empty>
                        <div class="empty-media content-center">
                            <p class="empty-media-text">Список пуст</p>
                        </div>
                    </ng-template>

                    <mat-progress-bar *ngIf = 'flags.isExpandAudio' mode="indeterminate"></mat-progress-bar>
                </div>
            </div>
            
            <div class="search" *ngIf = 'flags.isShowAddList'>
                <div class="back" (click) = 'showSearch(false)'>
                    <mat-icon class="icon back__icon">arrow_back</mat-icon>
                    <span class="back__text">Назад</span>
                </div>
    
                <div class="search__list">
                    <cst-audio-main-list 
                        class="search__list"
                        showClass = 'right-show'
                        [modeType] = 'modeType'
                        [selectedIds] = 'selectedIds'
                        [disabledSelect] = 'getDisabledSelect()'
                        (select) = 'select($event)'
                        (add) = 'add($event)'
                        (remove) = 'remove($event)'
                    ></cst-audio-main-list>
                </div>
                <button mat-raised-button class = 'btn search__btn' (click) = 'showSearch(false)'>Добавить</button>
            </div>
        </div>
    </div>
</cst-shadow>
