<div class="main">
    <cst-borders position = 'top'></cst-borders>
    <div class="content">
        <div class="info">

            <cst-instant-edit-control
                modeType = 'input'
                placeholder = 'Редактировать название'
                [value] = '_video.Title'
                [request] = 'flags.isEditRequest'
                [editStatus] = 'editable()'
                [validators] = 'getTitleValidators()'
                [maxLength] = 'lengths.MAX.Title'
                [cssClasses] = 'getTitleCssClasses()'
                (submit) = 'edit($event, "Title")'
            ></cst-instant-edit-control>

            <cst-instant-edit-control
                modeType = 'textarea'
                placeholder = 'Редактировать описание'
                [value] = '_video.Description'
                [request] = 'flags.isEditRequest'
                [emptyText] = 'getDescriptionText()'
                [editStatus] = 'editable()'
                [maxLength] = 'lengths.MAX.Description'
                [cssClasses] = 'getDescCssClasses()'
                (submit) = 'edit($event, "Description")'
            ></cst-instant-edit-control>

            <div class="info__add">
                <cst-add-media-btn
                    *ngIf = 'showAddInOwn()'
                    class="mr-1"
                    activeIcon = 'add'
                    deactiveIcon = 'check'
                    activeText = 'Добавить в мой список'
                    deactiveText = 'Убрать из моего списка'
                    [status] = '_video.IsHaveOwn'
                    (action) = 'mutateOwnList($event)'
                ></cst-add-media-btn>
                <!-- *ngIf = 'showAddInOwn()' -->
                <cst-add-media-btn
                    
                    class="mr-1"
                    activeIcon = 'border_inner '
                    activeText = 'Добавить в плейлист'
                    [status] = 'false'
                    (action) = 'showMultiAddition(true)'
                ></cst-add-media-btn>
            </div>
        </div>
        
        <div class="navigate">
            <div class="navigate__preview" (click) = 'navigate()'>
                <img 
                    *ngIf = '_video.UserAvatar' 
                    alt = 'logo'
                    class="navigate__preview-img"
                    [src] = '_video.UserAvatar | pathManager' 
                >
            </div>
            <div class="navigate__user-info">
                <p 
                    class="navigate__user-info-name" 
                    (click) = 'navigate()'> {{ _video.CreatorName }} </p>
                <p class="navigate__user-info-created"> {{ _video.Created | date:'mediumDate' }} </p>
            </div>
        </div>
    </div>
    <cst-borders position = 'bottom'></cst-borders>
</div>

<cst-shadow *ngIf = 'flags.isShowMultiMutate' (action) = 'showMultiAddition(false)'>
    <cst-video-slider-multi-addition class="multi-addition"></cst-video-slider-multi-addition>
</cst-shadow>

