@import 'styles.scss';

.main {
    padding-bottom: 2rem;

    .content {
        display: flex;
        justify-content: space-between;
        
        .info {
            padding: 0 0 1rem 1rem;

            &__item {
                display: flex;
                align-items: center;
                
                &-control {
                    margin: .5rem 0;
                    min-width: 320px;
                    flex-grow: .7;
                }
            }

            &__title {
                margin: .5rem 0;
                font-family: var(--amatic);
                color: #3f51b5;
                font-size: 1.3rem;
                letter-spacing: 2px;
                font-weight: 600;
            }
    
            &__description {
                margin: .5rem 0;
                font-family: var(--shadows);
                font-size: .8rem;
                color: slategray;
    
            }

            &__add {
                display: flex;
                padding-top: .7rem;

                &-box {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    padding: .4rem;
                    background: rgba(229, 229, 229, .3);
                    transition: transform 0.3s linear, background-color .3s linear;
    
                    &:hover {
                        transform: scale(1.1);
                        background: rgba(229, 229, 229, .8);
                    }

                    &-icon {
                        padding-right: .5rem;
                    }
    
                    &-text {
                        font-size: .8rem;
                        font-family: var(--shadows);
                    }
                }
            }
        }
    
        .navigate {
            display: flex;
            align-items: flex-start;
            padding: .5rem;
    
            &__preview {
                display: block;
                text-decoration: none;
                cursor: pointer;
                height: 50px;
                width: 50px;
                border-radius: 50%;
                background: var(--malibu);
    
                &-img {
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
    
            &__user-info {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding-left: 1rem;
    
                &-name {
                    cursor: pointer;
                    font-family: var(--amatic);
                    font-weight: 600;
                    letter-spacing: 2px;
                    transition: background .2s linear;
                    @include gradient-font(var(--main-theme));
    
                    &:hover {
                        @include gradient-font(var(--yellow));
                    }
                }
    
                &-created {
                    font-family: var(--caveat);
                    font-size: .9rem;
                    letter-spacing: 1px;
                    @include gradient-font(var(--dark));
                }
            }
        }
    }
}

.multi-addition {
    width: calc(100%/12 * 6);
    min-width: 320px;
}

.edit-hover {
    &:hover {
        @include gradient-font(var(--yellow));
    }
}