<div class="main" *ngIf = '!isSetOptions'>
    <cst-media-nav
        #mediaNavRef
        class="nav"
        pageName = 'friendsPage'
        [options] = 'options'
        (page) = 'setPage($event)'
    ></cst-media-nav>
    
    <div class="filters">
        <cst-user-nav 
            [userId] = 'userId'
            (navigateStats) = 'navigateStats($event)'
        ></cst-user-nav>
    </div>
</div>

