@import 'styles.scss';

.main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 0 2rem;

    .filters {
        display: flex;

        &__icon {
            box-sizing: content-box;
            font-size: 2rem;
            padding: .5rem;
            cursor: pointer;
            @include gradient-font(var(--lizard));

            &:first-child {
                margin-right: 1rem;
            }

            &:hover {
                @include gradient-font(var(--purple));
            }
            
        }
    }
}