<form 
    class="edit-form"
    [formGroup] = 'state.form' 
    (ngSubmit) = 'onSubmit()'
    >
    <cst-edit-input 
    *ngFor = 'let config of state.configuration'
    [form] = 'state.form'
    [config] = 'config'
    ></cst-edit-input>

    <button 
        class="btn edit-form-btn" 
        type = 'submit'
        mat-raised-button 
        [disabled] = 'flags.isRequest'
    >Сохранить</button>
</form>
