<div class="audio" [class.current] = '_isCurrent && modeType !== "playback"'>

    <div class="logo" (click) = 'action()'>
        <img *ngIf = 'audio.Logo' [cstLazyFile] = 'audio.Logo' class="logo-img">
        <div class="logo-equalizer" *ngIf = 'modeType !== "playback"'>
            <i class="material-icons logo-equalizer-icon">{{ paused ? 'play_circle_outline' : 'pause_circle_outline' }}</i>
        </div>
    </div>

    <div class="song">
        <div class="song-box">
            <div class="song-box-info">
                <span class="song-box-info-artist"> {{ audio.Artist }} </span>
                <div class="song-box-info-separator"></div>
                <span class="song-box-info-title"> {{ audio.Title }} </span>
            </div>
            
            <div class="nav-container">
                <div class="song-box-nav" *ngIf = 'isShowNaviate()'>
                    <div class="song-box-nav-list">
                        <i   
                            *ngIf = 'navIcons.includes("edit")'
                            matTooltip = 'Редактировать песню' 
                            class="material-icons song-box-nav-list-icon" 
                            (click) = 'edit()'
                        > edit </i>
                        <i 
                            *ngIf = 'navIcons.includes("add-multi")'
                            matTooltip = 'Добавить в плейлист' 
                            class="material-icons song-box-nav-list-icon" 
                            (click) = 'multiAddition()'
                        > playlist_add </i>
                    </div>
                    <i class="material-icons icon song-box-nav-icon mr-1"> more_horiz </i>
                </div>
    
                <i 
                    *ngIf = 'navIcons.includes("add") && !isMutateRequest'
                    class="material-icons icon song-box-add-icon ml-1" 
                    [matTooltip] = 'getMutateTooltip()'
                    [@changeTop] = 'addStatus'
                    [ngClass] = 'getAddIconStyles()'
                    (click) = 'mutate()'
                >{{ getAddIcon() }}</i>
    
            
                <div class="pending" *ngIf = 'isMutateRequest'>
                    <span class="pending-preloader"></span>
                </div>
            </div>
            

            <p class="song-box-time"> {{ getDuration() | durationConverter }} </p>

            <div class="checkbox" *ngIf = 'navIcons.includes("checkbox")'>
                <mat-checkbox 
                    color='primary' 
                    [checked] = 'checked'
                    [disabled] = 'disabledSelect && !checked'
                    (change) = 'select()' 
                ></mat-checkbox>
            </div>
        </div>

        <mat-slider
            *ngIf = '_isCurrent'
            @fade
            class="song-range"
            color ='primary'
            thumbLabel
            step="0.1"
            min="0.1"
            max="100"
            (change) = 'range($event)'
            [value] = 'getRangeValue()'
            [displayWith] = 'formatRangeLabel'
        ></mat-slider>
    </div>
    
</div>
