@import 'styles.scss';

.audio {
    display: flex;
    padding: .5rem 0;
    padding-left: 8px;
    transition: background-color .3s linear;

    .logo {
        display: flex;
        position: relative;
        height: 40px;
        width: 40px;
        border-radius: 8px;
        overflow: hidden;
        background: var(--malibu);

        &-img, &-equalizer {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            
        }

        &-img {
        }

        &-equalizer {
            cursor: pointer;
            display: flex;
            background: rgba(0, 0, 0, .4);

            &-icon {
                margin: auto;
                color: #fff;
            }
        }
    }

    .song {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin-left: 1rem;
        justify-content: space-between;

        &-box {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            .nav-container {
                display: flex;
                margin-left: auto;
            }

            &-info {
                display: flex;
                align-items: center;

                &-artist {
                    font-size: 1.2rem;
                    letter-spacing: 1px;
                    font-family: var(--caveat);
                    @include gradient-font(var(--main-theme));
                }

                &-title {
                    font-size: 1.1rem;
                    letter-spacing: 1px;
                    font-family: var(--caveat);
                    @include gradient-font(var(--main-theme));
                }

                &-separator {
                    height: 1px;
                    width: 15px;
                    margin: 0 0.7rem;
                    background: var(--virgin);
                }
            }

            &-add-icon {
                margin-left: auto;
            }

            &-nav {
                display: flex;
                margin-left: auto;
        
                &-icon { 

                }

                &:hover > .song-box-nav-list {
                    display: block;
                }
        
                &-list {
                    display: none;
                    overflow: hidden;
        
                    &-icon {
                        margin: 0 .5rem;
                        font-size: 1rem;
                        cursor: pointer;
                        animation: leftSideShow .3s ease forwards;
                        transition: transform .3s linear;
                        @include gradient-font(var(--lizard));
        
                        &:hover {
                           @include gradient-font(var(--netflix));
                        }
                    }
        
                    @for $i from 1 through 3 {
                            
                        &-icon:nth-child(#{$i}) {
                            transform: translateX(100% * $i);
                        }
                    }
                }

                .pending {
                    display: flex;
                
                    &-preloader {
                        height: 15px;
                        width: 15px;
                        margin-left: 10px;
                        border-radius: 50%;
                        border-top: 2px solid rgb(46, 100, 247);
                        animation: pending .3s linear infinite;
                    }
                }
            }

            &-time {
                margin: 0;
                margin-left: 1rem;
                width: 50px;
                font-family: var(--pacifico);
                font-size: .9rem;
                color: #3f51b5;
                
            }
        }

        &-range {
            width: 100%;
            transform: translateY(-10px);
        }
    }

    .checkbox {
        transform: translateY(5px);
        padding: 0 .8rem;
        align-self: flex-start;
    }


}

.add {
    @include gradient-font(var(--main-theme));
}

.remove {
    @include gradient-font(var(--mojito));
}


.current {
    background: rgba(119, 19, 226, 0.1);
    border-radius: 8px;  
}

::ng-deep .mat-slider-thumb-label-text {
    font-size: .5rem;
}

