.main {
    display: flex;
    width: 100%;
    padding: 3.5rem 1rem 2.5rem;
    
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        margin: auto;
        min-width: 280px;
        padding: 2rem 3rem;
        border-radius: 12px;
        box-shadow: 0 14px 28px rgba(62, 62, 63, 0.45), 0 10px 10px rgba(179, 175, 175,0.22);
        
    }

    .header {
        padding-bottom: 1.5rem;
        font-family: var(--garamond);
        color: var(--dark);
    }

    .forms {
       
    }
}