<mat-form-field class="example-full-width">
    <textarea 
        #textAreaRef
        cdkTextareaAutosize
        matInput 
        class="textarea"
        [ngModel] = 'value'
        [style.fontSize] = 'fontSize'
        (ngModelChange) = 'setValue(textAreaRef.value)'
        (focusin) = 'onTouched($event)'
        [errorStateMatcher] = 'errorMatcher'
        [placeholder]="placeholder"
        [maxlength]="maxLength"
        [minlength]="minLength"
        [rows] = 'rows'
    ></textarea>
    <mat-hint matSuffix *ngIf = 'isResetIcon'>
        <mat-icon 
            class="reset-icon" 
            (click) = 'reset($event)'
            matTooltip = 'Сбросить'
            matTooltipPosition = 'below'
        >clear</mat-icon>
    </mat-hint>
    <mat-hint *ngIf = 'maxLength' align = 'end'>
        {{ textAreaRef.value.length }} / {{ maxLength }}
    </mat-hint>
    <mat-error  *ngFor = 'let error of errors' [ngStyle] = 'getErrorStyle(error)'>
        {{ error.message }}
    </mat-error>
</mat-form-field>
