.main {

    .content {
        margin: 0 1rem;

        .lists {
            margin: 0 -1rem;



            &__item {

                &-filled {
                    display: flex;
                    align-items: flex-start;
                    flex-wrap: wrap;

                    @media (max-width: 900px) {
                        justify-content: center;
                    }

                    &-unit {    
                        width: calc(100% / 12 * 3 - 2rem);
                        min-width: 268px;
                        margin: 1rem 1rem 2.4rem;
                    }
                }
            }
        }
    }
}