<div class="main">
    <div class="content"
        *ngIf = 'main$ | async as main; else preloader'
        cstPageBreakManager
        [disable] = 'getDisableExpand()'
        [ngClass] = 'getShowClass()'
        (ending) = 'ending()'
    >
        <cst-video-filters
            [controls] = 'filterControls'
            [filterOptions] = 'filterOptions'
            [sortedOptions] = 'sortedOptions'
            (filter) = 'filter($event)'
            (reset) = 'resetFilters()'
        ></cst-video-filters>
        <cst-form-input
            [formControl] = 'searchControl'
            [maxLength] = '200'  
            placeholder = 'Поиск видеозаписей'
        ></cst-form-input>

        <div class="lists">

            <div class="lists__item">
                <div class="lists__item-filled" *ngIf = 'main.rows.length; else emptyMain' [ngClass] = 'getCssListClass("main$")'>
                    <cst-video-unit
                        *ngFor = 'let video of main.rows;trackBy:trackByFn'
                        class="lists__item-filled-unit"
                        [video] = 'video'
                        [request] = 'includedRequest(video)'
                        [hideAddIcon] = 'hideAddIcon'
                        [isOwn] = 'getStatus()'
                        (navigate) = 'navigate($event)'
                        (play) = 'play($event, "main")'
                        (mutate) = 'mutate($event)'
                    ></cst-video-unit>
                </div> 
                <ng-template #emptyMain>
                    <div class="empty-media content-center">
                        <p class="empty-media-text">Список видеозаписей пуст</p>
                    </div>
                </ng-template>

                <mat-spinner class="self-center m-auto" *ngIf = 'flags.isLoadingMain'></mat-spinner>
            </div>

            <div class="lists__item" *ngIf = 'searchMediaReq'>

                <ng-container *ngIf = 'search$ | async as search'>
                    <div class="empty-media">
                        <p class="empty-media-text">Результаты поиска</p>
                        <div class="empty-media-line"></div>
                    </div>
                    <div class="lists__item-filled" *ngIf = 'search.rows.length; else emptySearch' [ngClass] = 'getCssListClass("search$")'>
                        <cst-video-unit
                            *ngFor = 'let video of search.rows;trackBy:trackByFn'
                            class="lists__item-filled-unit"
                            [video] = 'video'
                            [request] = 'includedRequest(video)'
                            [hideAddIcon] = 'hideAddIcon'
                            [isOwn] = 'getStatus()'
                            (navigate) = 'navigate($event)'
                            (play) = 'play($event, "search")'
                            (mutate) = 'mutate($event)'
                        ></cst-video-unit>
                    </div>
                    <ng-template #emptySearch>
                        <p class="list-empty"> По Вашему запросу нет совпадений </p>
                    </ng-template>

                    <mat-progress-bar class="mt-1 mb-1" *ngIf = 'flags.isLoadingSearch' mode="buffer"></mat-progress-bar>
                </ng-container>   
            </div>
        </div>
    </div>

    <ng-template #preloader>
        <cst-preloader></cst-preloader>
    </ng-template>
</div>

