@import 'styles.scss';

.main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    .text {
        flex-grow: 1;
    }

    .form {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        min-width: 280px;
        padding-bottom: 1rem;

        &__control {
            width: 100%;
        }
    }

    .action__icon {
    }
}

//custom styles

.default {
    font-family: var(--amatic);
    font-size: 1.2rem;
    letter-spacing: 2px;
    @include gradient-font(var(--main-theme));
}

.default-hover {
    &:hover {
        @include gradient-font(var(--yellow))
    }
}

.v-title {
    margin: .5rem 0;
    font-family: var(--amatic);
    color: #3f51b5;
    font-size: 1.3rem;
    letter-spacing: 2px;
    font-weight: 600;
}


.v-description {
    margin: .5rem 0;
    font-family: var(--comforta);
    font-size: .8rem;
    color: slategray;
}

.yellow {
    font-family: var(--comforta);
    font-size: .8rem;
    @include gradient-font(var(--yellow));
}

.yellow-hover {
    &:hover {
        @include gradient-font(var(--red-rock));
    }
}