<div class="main" cstInsideClick (inside) = 'inside($event)'>
    <ng-container *ngIf = 'showMode !== null;then editRef;else textRef'></ng-container>
    <ng-template #textRef>
        <p 
            class="text" 
            [class.pointer] = 'editStatus'
            [ngClass] = 'getCssClasses()' 
            (click) = 'showTrigger()'
        > {{ getValue() }} </p>
    </ng-template>
    <ng-template #editRef>
        <div class="form" [ngSwitch] = 'modeType'>
            <cst-form-input
                *ngSwitchCase = '"input"'
                class="form__control"
                [placeholder] = 'placeholder'
                [formControl] = 'formControl'
                [minLength] = 'minLength'
                [maxLength] = 'maxLength'
                [errors] = 'errors'
            ></cst-form-input>
            <cst-form-textarea
                *ngSwitchCase = '"textarea"'
                class="form__control"
                [placeholder] = 'placeholder'
                [formControl] = 'formControl'
                [minLength] = 'minLength'
                [maxLength] = 'maxLength'
                [errors] = 'errors'
            ></cst-form-textarea>
        </div>
        <i class="material-icons action__icon icon ml-1" (click) = 'submit()'>save</i>
    </ng-template>

</div>
