@import 'styles.scss';


.album {
    margin: .5rem;

    .preview:hover > .preview__shadow {
        opacity: 1;
    } 

    .preview {
        position: relative;
        background: var(--purple);
        width: 100%;
        height: 140px;

        &__img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    
        &__shadow {
            position: absolute;
            display: flex;
            z-index: 1;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            background: rgba(0, 0, 0, 0.7);
            transition: opacity .3s ease-in;
    
            &-icon {
                margin: auto;
                font-size: 3rem;
                color: #fff;
                @include text-shadow(#fff);
            }
        }
    }

    .info {
        display: flex;
        justify-content: space-between;
        padding: .5rem;
        font-family: var(--garamond);

        &-title {
            letter-spacing: 1px;
            font-weight: 800;
            @include gradient-font(var(--main-theme));
        }

        &-total {
            font-weight: 800;
            @include gradient-font(var(--virgin));
        }
    }
}
