<div class="album box-shadow pointer" (click) = 'replace()'>
    <div class="preview">
        <img 
            *ngIf = 'album.Logo' 
            alt="preview__logo" 
            class="preview__img" 
            [cstLazyFile] = 'album.Logo'
        >
        <div class="preview__shadow">
            <i class="material-icons preview__shadow-icon">compare_arrows</i>
        </div>
    </div>

    <div class="info">
        <p class="info-title">{{ album.Title | sliceString:0:22 }}</p>
        <p class="info-total"> {{ album.TotalCount }} </p>
    </div>
</div>
