<mat-form-field class="example-full-width">
    <input 
        #inputRef
        matInput 
        class="input"
        autocomplete="off"
        [type] = 'type'
        [placeholder]= "placeholder"
        [minlength] = 'minLength'
        [maxlength]="maxLength"
        [style.fontSize] = 'fontSize'
        [(ngModel)] = 'value'
        [errorStateMatcher]="errorMatcher"
        (focusin) = 'onTouched($event)'
        (ngModelChange) = 'setValue(inputRef.value)'
    >
    <mat-hint matSuffix *ngIf = 'isHiddenIcon'>
        <mat-icon class="hiden-icon pointer" (click) = 'setInputType()'>{{ hidden ? 'visibility_off' : 'visibility' }}</mat-icon>
    </mat-hint>
    <mat-hint matSuffix *ngIf = 'isResetIcon'>
        <mat-icon 
            class="reset-icon" 
            matTooltip = 'Сбросить'
            matTooltipPosition = 'below'
            (click) = 'reset($event)'
            >clear</mat-icon>
    </mat-hint>
    <mat-hint *ngIf = 'maxLength' align = 'end'>
        {{ inputRef.value.length }} / {{ maxLength }}
    </mat-hint>
    <ng-content></ng-content>
    <mat-error  *ngFor = 'let error of errors' [ngStyle] = 'getErrorStyle(error)'>
        {{ error.message }}
    </mat-error>
</mat-form-field>