<div class="main" 
    matTooltip = 'Вернуться'
    matTooltipPosition = 'before'
    [ngStyle] = 'getUsersStyles()'
>
    <div class="users">
        <cst-user-unit
            *ngFor = 'let user of users;let first = first;trackBy:trackByFn'
            direction = 'row'
            height = '35px'
            width = '35px'
            [user] = 'user'
            [end] = 'first ? 10 : 16'
            (action) = 'navigate($event)'
        ></cst-user-unit>
    </div>
    <i class="material-icons main-icon">system_update_alt</i>
</div>

<div class="nav box-shadow" *ngIf = 'users.length > 1' @topShow>
    <cst-user-unit
        height = '40px'
        width = '40px'
        [user] = 'users[1]'
        (action) = 'navigate(users[1])'
    ></cst-user-unit>
    <div class="stats" *ngIf = 'stats.length'>
        <div 
            *ngFor = 'let item of stats' 
            class="stats-item icon" 
            [matTooltip] = 'item.tooltip'
            (click) = 'navigateStats(users[1], item)'
        >
            <i class="material-icons stats-item-icon"> {{ item.icon }} </i>
            <span class="stats-item-total"> {{ item.value }} </span>
        </div>
    </div>
</div>
