@import 'styles.scss';

.main {
    display: flex;
    position: relative;
    justify-content: space-between;
    transform: translateY(-4px);
    width: 211px;
    height: 100px;
    cursor: pointer;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 10px;
    clip-path: circle(20px at 190px 28px);
    background: var(--peach);
    transition: clip-path .3s ease-in, background-color .3s linear;

    &:hover {
        clip-path: circle(75%);
        background: var(--sun-day);
    }

    &:hover > &-icon {
        transform: rotate(90deg);
    }

    &:hover > .users__icon {
        @include gradient-font(var(--yellow));
    }

    .users {
        text-align: right;
        transform: translateY(-12px);
    }

    &-icon {
        position: absolute;
        right: 9px;
        transition: transform .3s linear;
        @include gradient-font(var(--purple));
    }
}

.nav {
    display: flex;
    align-items: center;
    padding: 1rem;
    background: rgba(255, 252, 212, 0.9);
    border-radius: 8px;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;

    .stats {
        padding-left: 1rem;
        display: flex;
        margin: 0 -0.5rem;

        &-item {
            display: flex;
            align-items: center;
            cursor: pointer;
            margin: .5rem;

            &-icon {
                
            }

            &-total {
                font-family: var(--comforta);
            }
        }
    }
}