<div class="main" [class.disable] = 'disable && !selected'>
        <cst-user-unit
            [user] = 'user'
            [end] = '40'
        ></cst-user-unit>
        <div class="select" 
            [class.request] = 'request'
            (click) = 'select()'
        >
            <div class="select-circle"
                [class.unmarked] = '!selected'
            ></div>
        </div>
</div>
