@import 'styles.scss';

.main {
    display: flex;
    justify-content: space-between;
    padding: .5rem 0;
    transition: opacity .3s ease-in-out;
    opacity: 1;

    .select {
        display: flex;
        cursor: pointer;
        height: 29px;
        width: 29px;
        border: 3px solid #3f51b5;
        border-radius: 50%;
        transform: border-color .3s linear;

        &-circle {
            margin: auto;
            height: 15px;
            width: 15px;
            background: var(--purple);
            border-radius: 50%;
            transition: transform .3s linear;
        }
    }
}

.unmarked {
    transform: scale(0);
}

.request {
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
    border-left-color: orange !important;
    border-right-color: orange !important;
    @include rotate-animation(1s);
}

.disable {
    opacity: .7;
}
