<div class="main">
    <div class="content box-shadow">
        <div class="preview">
            <img *ngIf = 'user.Avatar' [cstLazyFile] = 'user.Avatar' alt="avatar" class="preview__img">
        </div>
        <div class="user">
            <div class="info">
                <div class="info__content">
                    <div class="info__content-name icon" (click) = 'navigate("/account")'>{{ user.Name }}</div>
                    <div class="info__content-stats" *ngIf = 'stats.length'>
                        <div 
                            *ngFor = 'let item of stats' 
                            class="info__content-stats-item icon" 
                            [matTooltip] = 'item.tooltip'
                            (click) = 'navigate(item.path, item.query)'
                        >
                            <i class="material-icons info__content-stats-item-icon"> {{ item.icon }} </i>
                            <span class="info__content-stats-item-total"> {{ item.value }} </span>
                        </div>
                    </div>
                </div>


                <div class="info__main" *ngIf = 'info.length'>
                    <div class="info__main-box" *ngFor = 'let row of info;trackBy:trackByFn'>
                        <div class="info__main-box-title">{{ row.title }}:</div>
                        <div class="info__main-box-value">{{ row.value }}</div>
                    </div>
                </div>
            </div>
    
            <div class="actions">
                <ng-container *ngIf = 'modeType === "incoming"'>
                    <button 
                        mat-raised-button 
                        class="btn actions__btn actions__btn_remove"
                        type="button"
                        [disabled] = 'request'
                        (click) = 'reject()'
                    >Отказать</button>
                    <button 
                        mat-raised-button
                        class="btn actions__btn  actions__btn_request"
                        type="button"
                        [disabled] = 'request'
                        (click) = 'add()'
                    >Добавить</button>
                </ng-container>
                <ng-container *ngIf = 'modeType === "outgoing"'>
                    <button 
                        mat-raised-button
                        class="btn actions__btn actions__btn_remove"
                        type="button"
                        [disabled] = 'request'
                        (click) = 'removeRequest()'
                    >Отклонить заявку</button>
                </ng-container>
    
                <button
                    mat-raised-button
                    class="btn actions__btn actions__btn_message mr-1"
                    type="button"
                    (click) = 'message()'
                >Написать сообщение</button>
            </div>
        </div>
    </div>
</div>
