@import 'styles.scss';

.main {
    margin-top: 1rem;

    .content {
        display: flex;
        flex-wrap: wrap;

        .preview {
            position: relative;
            width: 20%;
            min-width: 250px;
            min-height: 170px;
            background: var(--malibu);
    
            &__img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    
        .user {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            padding-left: 1rem;
            min-width: 280px;
            width: 79%;
    
            .info {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                flex-grow: 1;
                padding: 1rem 0;

                &__content {
                    display: flex;
                    flex-direction: column;
                    width: 50%;

                    &-name {
                        font-family: var(--shadows);
                        letter-spacing: 5px;
                        font-size: 1.5rem;
                        @include gradient-font(var(--main-theme));
    
                        &:hover {
                            @include gradient-font(var(--yellow));
                        }
                    }

                    &-stats {
                        padding-top: 1rem;
                        display: flex;
                        flex-wrap: wrap;
                        margin: 0 -0.5rem;
    
                        
        
                        &-item {
                            display: flex;
                            align-items: center;
                            cursor: pointer;
                            margin: .5rem;
        
                            &-icon {
        
                            }
        
                            &-total {
                                font-family: var(--comforta);
                            }
                        }
                    }
                }
    
   


                &__main {
                    display: flex;
                    flex-wrap: wrap;
                    width: 50%;
                    padding-top: 1rem;

                    &-box {
                        display: flex;
                        flex-grow: 1;
                        min-width: 280px;
                        padding: .5rem 0;
                        
                        &-title {
                            width: 30%;
                            font-family: var(--amatic);
                            letter-spacing: 1px;
                            @include gradient-font(var(--main-theme));
                        }

                        &-value {
                            width: 70%;
                            font-family: var(--caveat);
                            font-size: 1.2rem;
                            @include gradient-font(var(--yellow));
                        }
                    }
                }
            }
    
           .actions {
                align-self: flex-end;
                padding: 1rem 0;
    
                &__btn {
                    margin: 0 .5rem;
                    font-family: var(--comforta);
                    color: #fff;
                    transition: background .3s linear, color .3s linear, text-shadow .3s linear;
    
                    &:hover {
                        background: var(--yellow);
                        @include text-shadow(#fff);
                    }
    
                    &_message {
                        background: var(--main-theme);
                    }
        
                    &_request {
                        background: var(--moss);
                    }
        
                    &_remove {
                        background: var(--netflix);
                        margin-right: 1rem;
                    }
                }
            } 
        }
    }

    
}