<mat-form-field class="example-full-width">
    <mat-label>{{ placeholder }}</mat-label>
    <mat-select
        #controlRef
        [errorStateMatcher] = 'errorMatcher'
        [multiple] = 'multiple'
        [ngModel] = 'value'
        (ngModelChange) = 'setValue($event)'
        (focusin) = 'onFocus($event)'
        (focusout) = 'onBlur($event)'
    >
        <mat-option 
            *ngFor = 'let opt of options' 
            [style.fontSize] = 'fontSize'
            [value]="getValue(opt)"
            [disabled] = 'disabledOptFn(opt)'
        >
            {{ opt[bindLabel] }}
        </mat-option>
    </mat-select>
    <mat-hint matSuffix *ngIf = 'isResetIcon'>
        <mat-icon
            class="reset-icon" 
            (click) = 'reset($event)'
            matTooltip = 'Сбросить'
            matTooltipPosition = 'below'>
            clear
        </mat-icon>
    </mat-hint>
    <mat-error  *ngFor = 'let error of errors' [ngStyle] = 'getErrorStyle(error)'>
        {{ error.message }}
    </mat-error>
</mat-form-field>
