<div class="wrapper">
    <div class="wrapper-content">
        <cst-video-nav 
            class="example-full-width"
            [userId] = 'userId'
            [isOwn] = 'isOwn()'
            [navList] = 'navList' 
            (setPage) = 'setPage($event)'
            (create) = 'create($event)'
        ></cst-video-nav>
        <section class="content example-full-width" [ngSwitch] = 'link?.page'>
            <cst-video-main-list *ngSwitchCase = '"own"' modeType = 'main' [showClass] = 'showClass' [creatorId] = 'userId'></cst-video-main-list>
            <cst-video-playlists *ngSwitchCase = '"playlists"' [showClass] = 'showClass'></cst-video-playlists>
        </section>
    </div>
</div>

<router-outlet></router-outlet>

<cst-shadow *ngIf = 'flags.isCreateVideoModal' (action) = 'showVideoModal(false)'>
    <cst-video-unit-modal
        class="unit-modal"
        (hide) = 'showVideoModal(false)'
    ></cst-video-unit-modal>
</cst-shadow>

<cst-shadow *ngIf = 'playlistFlags.isCreatePlaylistModal' (action) = 'showPlaylistModal(false)'>
    <cst-video-create-playlist-modal
        class="unit-modal"
        (hide) = 'showPlaylistModal(false)'
    ></cst-video-create-playlist-modal>
</cst-shadow>
