@import 'styles.scss';

.comments {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-width: 320px;
    padding: 1.5rem;
    border-radius: 8px;

    &__box {
        max-height: 600px;
        min-height: 350px;
        flex-grow: 1;
        padding: 0 1rem;
        overflow-y: auto;
        overflow-x: hidden;
    }

    &__form {
        text-align: center;
        padding-top: 1rem;
        
        &-input {
            width: 100%;
            flex-basis: 250px;
            font-family: var(--fair);
            letter-spacing: 1px;
            font-size: 0.9rem;
        }

        &-btn {
            margin-top: .5rem;
            align-self: center;
        }
    }
}


// @media screen and (max-width: 975px) {
//     .comments {

//         &__box {
//             max-height: 150px;
//         }
//     } 
// }
