<div class="comments box-shadow" 
    *ngIf = 'comments$ | async as comments; else preloader'
    [style.minHeight] = 'minHeight'
    [style.maxHeight] = "maxHeight"
>
    <div 
        class="comments__box" 
        cstNodeBreakManager
        [disable] = 'disabled()'
        (ending) = 'expand()'
    >
        <ng-container *ngIf = 'comments.rows.length;then listRef;else empty'></ng-container>
        <ng-template #listRef>
            <cst-comment 
            *ngFor = 'let comment of comments.rows; let isOdd = odd; trackBy:trackByFn' 
            [odd] = 'isOdd'
            [comment] = 'comment'
            (like) = 'viewService.like($event)'
            ></cst-comment>
        </ng-template>
        <ng-template #empty>
            <div class="empty-media content-center">
                <p class="empty-media-text">Вы можете оставить первый комментарий</p>
            </div>
        </ng-template>
    </div>

    <div class="mt-1 mb-1" *ngIf = 'flags.isExpand'>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>

    <div class="comments__form">
        <mat-form-field class="comments__form-input">
            <textarea 
                [formControl] = 'commentControl' 
                (keyup.enter) = 'addComment()' 
                matInput 
                placeholder="Оставить комментарий"
            ></textarea>
        </mat-form-field>
        <button mat-raised-button class="btn" (click) = 'addComment()'>Отправить</button>
    </div>
</div>

<ng-template #preloader>
    <cst-preloader-circle></cst-preloader-circle>
</ng-template>

