<button 
class="arrow-btn slider__arrow"
(click) = 'action()' >
    <mat-icon 
    class="arrow-icon icon"
    [ngStyle] = 'getMargin()'
    [matTooltip] = 'tooltip[type]'
    [matTooltipPosition] = 'tooltipPosisiton[type]'
    > {{ icon[type] }}</mat-icon>
</button>
