@import 'styles.scss';

.arrow-btn {
    cursor: pointer;
    padding: 0;
    background: 0;
    outline: none;
    border: none;
}

.arrow-icon {
    @include gradient-font(var(--main-theme));

    &:hover {
        @include gradient-font(var(--yellow));
    }
}