@import 'styles.scss';

.main {
    margin-top: 1.5rem;
    display: flex;
    width: 130px;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    padding-bottom: .7rem;
    box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 2rem #08f, inset 0 0 0rem #08F, 0 0 1rem #08f, inset 0 0 1rem #08f;  

    &:hover > .preview {
        transform: scale(.9);
    }

    .preview {
        position: relative;
        border-radius: 8px;
        transform: scale(.85);
        height: 100px;
        width: 130px;
        overflow: hidden;
        transition: transform .4s ease-in-out;

        &__img {
            height: 100%;
            width: 100%;
            
            
        }

        &__duration {
            position: absolute;
            color: #fff;
            bottom: 0;
            right: 0;
            z-index: 1;
            transform:translate(-3px, -7px);
            cursor: default;
            padding: .3rem;
            background: rgba(0, 0, 0, 0.5);
            border-radius: 2px;
            font-family: var(--comforta);
            font-size: .9rem;
        }

        
    }



    .title {
        letter-spacing: 1px;
        font-weight: 700;
        margin: 0 0.5rem;
        text-align: center;
        font-family: var(--comforta);
        font-size: .8rem;
        @include gradient-font(var(--clouds));
 

        &:hover {
            @include gradient-font(var(--yellow));
        }
    }
}