<div class="main pointer" (click) = 'play()'>
    <div class="preview">
        <p class="preview__duration">{{ video.Duration | durationConverter }}</p>
        <img 
            class="preview__img"
            alt="logo" 
            [cstLazyFile] = 'video.Poster' 
        />
    </div>

    <span class="title"> {{ video.Title | sliceString }} </span>
</div>
