@import 'styles.scss';

.main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @media (max-width: 697px) {
        flex-direction: column;
        align-items: center;

        &:after {
            content: '';
            display: block;
            align-self: center;
            margin: 1rem auto;
            height: 3px;
            width: 100px;
            background: var(--virgin);
        }
    }

    .title {
        @include gradient-font(var(--lizard));
        width: calc(50% - 1rem);
        text-align: right;
        padding-right: 1rem;
        font-size: 1.1rem;

        @media (max-width: 697px) {
            width: 100%;
            text-align: center;
            padding: 0;
        }
    }

    .box {
        display: flex;
        // flex-basis: 230px;
        flex-wrap: wrap;

        .reset-icon {
            margin-left: .7rem;
            font-size: .8rem;
        }

        .search {
            position: relative;
            width: 100%;

            .list {
                position: absolute;
                background: #fff;
                z-index: 1;
                top: 100%;
                width: 100%;
                left: 0;
                max-height: 240px;
                overflow-y: auto;
    
                &__item {
                    cursor: pointer;
                    padding: 1.5rem 1rem;
                    font-size: .8rem;
                    transition: background-color .3s linear;
                    font-family: var(--comforta);
                    color: var(--dark);
    
                    &:hover {
                        background: rgba(0, 0, 0, 0.1);
                    }
                }
            }
        }

    }
}