<div class="main">
    <span class="title"> {{ config.title }}: </span>
    <div  class="box" [formGroup] = 'form'>
        <div *ngIf = 'isShowSearch;then search else content'></div>
        <ng-template #content>

            <cst-form-input
                *ngIf = 'config.type === "input"'
                class="example-full-width"
                [formControlName] = 'config.controlName'
                [placeholder]="config.title"
            ></cst-form-input>

            <cst-form-textarea
                *ngIf = 'config.type === "textarea"'
                class="example-full-width"
                [formControlName] = 'config.controlName' 
                [placeholder]="config.title"
            ></cst-form-textarea>

            <cst-form-select
                *ngIf = 'config.type === "select"'
                class="example-full-width"
                [formControlName] = 'config.controlName' 
                [placeholder] = 'config.title'
                [options] = 'config.selectData'
                [multiple] = 'config.multiple'
                [typeofValue] = "config.async ? 'reference' : 'primitive'"
                (initialize) = 'initialize($event, "select")'
                (focus) = 'focus($event)'
            ></cst-form-select>

            <cst-form-date
                *ngIf = 'config.type === "datepicker"'
                class="example-full-width"
                [min] = 'minDate()'
                [max] = 'maxDate()'
                [formControlName] = 'config.controlName' 
                [placeholder]="config.title"
            ></cst-form-date>

        </ng-template>

        <ng-template #search>
            <div class="search">
               <div @scaleShow>
                    <cst-form-input
                        class="example-full-width"
                        placeholder="Введите название"
                        [formControl] = 'searchControl'
                        [maxLength] = '15'
                    ></cst-form-input>
               </div>

                <ul class="list box-shadow" @transitionHeight>
                    <li *ngIf = '!searchData.length' class="list__item list__item-not-found">Совпадений не найдено</li>
                    <li *ngFor = 'let item of searchData' class="list__item" (click) = 'setValue(item)'> {{ item.title }} </li>
                </ul>
            </div>
        </ng-template>
    </div>
    <mat-icon 
        *ngIf = 'config.search && config.selectData.length > 0'
        [@topShow] = 'isShowSearch'
        class="icon ml-1"
        [matTooltip] = 'isShowSearch ? "Вернуть" : "Искать по словам"'
        matTooltipPosition = 'after'
        (click) = 'showSearch(true)'
        > {{ isShowSearch ? 'keyboard_return' : 'find_replace' }}</mat-icon>
</div>



