@import 'styles.scss';

.main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 1rem 2rem;

    @media (max-width: 570px) {
        flex-direction: column;
        align-items: center;

        .nav {
            order: 1;
        }

        .creation {
            margin-top: 1.5rem 0;
        }
    }

    .creation {
        display: flex;

        &__icon {
            box-sizing: content-box;
            font-size: 2rem;
            padding: .5rem;
            cursor: pointer;
            @include gradient-font(var(--lizard));

            &:first-child {
                margin-right: 1rem;
            }

            &:hover {
                @include gradient-font(var(--purple));
            }
            
        }
    }
}

