<div class="main">
    <cst-media-nav
        class="nav"
        pageName = 'audioPage'
        [options] = 'options'
        (page) = 'setPage($event)'
    ></cst-media-nav>
    
    <div class="creation">
        <cst-user-nav [userId] = 'userId'></cst-user-nav>
        <ng-container *ngIf = 'isOwn'>
            <mat-icon class="creation__icon" matTooltip = 'Добавить аудиозапись' (click) = 'create("audio")'>queue_music</mat-icon>
            <mat-icon class="creation__icon" matTooltip = 'Создать плейлист' (click) = 'create("playlist")'>playlist_add</mat-icon>
        </ng-container>
    </div>
</div>
