<div class="main">
    <div class="content">
        <form class="form" [formGroup] = 'form' (ngSubmit) = 'onSubmit()'>
            <cst-form-input
                formControlName = 'Login'
                placeholder = 'Логин*'
                [minLength] = 'lengths.MIN.Login'
                [maxLength] = 'lengths.MAX.Login'
                [errors] = 'errors.Login'
            ></cst-form-input>
            <cst-form-input
                formControlName = 'Password'
                placeholder = 'Пароль*'
                type = 'password'
                [minLength] = 'lengths.MIN.Password'
                [maxLength] = 'lengths.MAX.Password'
                [isHiddenIcon] = 'true'
                [isResetIcon] = 'false'
                [errors] = 'errors.Password'
            ></cst-form-input>
            <button 
                class="btn" 
                mat-raised-button
                [disabled] = 'form.invalid || flags.isLogin'
            >Войти</button>
            <p class = 'required-text'>*Поля обязательные для заполнения</p>
        </form>
    </div>
</div>
