.main {
    animation: showLeft .3s linear;

    .content {
    
    }

    .form {
        display: flex;
        flex-direction: column;


        .btn {
            margin-top: 2rem;
        }

    }
}

@keyframes showLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    } to {
        transform: translateX(0%);
        opacity: 1;
    }
}

