<div class="main box-shadow">
    <div 
        *ngIf = 'users; else preloader'
        class="content" 
    >
        <i class="material-icons icon rotate close-icon pointer" (click) = 'hide()'>close</i>
        <div 
            class="list"
            cstNodeBreakManager
            [disable] = 'request'
            (ending) = 'expand()'
        >
            <cst-account-online-users-item
                *ngFor = 'let user of users.rows;trackBy:trackByFn'
                [user] = 'user'
                (navigate) = 'navigate($event)'
            ></cst-account-online-users-item>
            <mat-progress-bar *ngIf = 'request' class="mt-1 mb-1" mode="buffer"></mat-progress-bar>
        </div>
    </div>

    <ng-template #prealoader>
        <cst-preloader></cst-preloader>
    </ng-template>
</div>
