.main {
    background: #fff;
    border-radius: 8px;

    .content {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        
        .close-icon {
            align-self: flex-end;
        }

        .list {
            overflow-y: auto;
            overflow-x: hidden;
            padding-top: 1rem;
            width: 100%;
            height: 70vh;
        }
    }
}

:host {
    width: calc(100% / 12 * 5);
    min-width: 320px;
}