<div class="wrapper">
    <div class="wrapper-content">
        <ng-container *ngIf = 'audioWorker.currentSong$ | async as audio'>
            <cst-audio-playback 
                class="playback" 
                [audio] = 'audioWorker.currentSong$ | async'
            ></cst-audio-playback>
        </ng-container>

        <cst-audio-nav 
            class="example-full-width nav"
            [list] = 'navList'
            [isOwn] = 'isOwn()'
            [userId] = 'userId'
            (page) = 'setPage($event)' 
            (create) = 'create($event)'
        ></cst-audio-nav>

        <div class="content" [ngSwitch] = 'link?.page'>

            <div class="own-list" *ngSwitchCase = "'own'">
                <cst-audio-main-list 
                    class="example-full-width"
                    [modeType] = 'getMainListModeType()'  
                    [showClass] = 'showClass'
                    (multiAddition) = 'multiAddition($event)'
                ></cst-audio-main-list>
            </div>

            <div class="playlists" *ngSwitchCase = "'playlists'">
                <cst-audio-playlists  [showClass] = 'showClass'></cst-audio-playlists>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>

<cst-shadow *ngIf = 'activeMultiAudio'  (action) = 'resetMultiAddition()'>
    <cst-audio-multi-addition 
        class="multi-addition"
        [audio] = 'activeMultiAudio'
        (hide) = 'resetMultiAddition()'
    ></cst-audio-multi-addition>
</cst-shadow>

