.wrapper {

    @media (max-width: 526px) {

        .playback {
            order: 2;
        }

        .nav {
            order: 1;
        }

        .content {
            order: 3;
        }
    }
    
    &-content {

        .content {
            width: 100%;

            .own-list {
                display: flex;
                width: calc(100% / 12 * 8);
                margin: 0 auto;
                min-width: 320px;
            }
        }
        
    }
}

.multi-addition {
    width: calc(100%/12 * 3);
}


.song-modal, .playlist {
    margin: auto;
    flex-basis: 430px;
    min-width: 320px;
}