<div class="edit-form">
    <cst-edit-form 
        *ngFor = 'let form of state.forms; let first = first; let idx = index; trackBy: trackByFn;'
        [first] = 'first' 
        [form] = 'form' 
        [configuration] = 'state.configuration[idx]'
        (confirm) = 'showConfirm($event)'
        ></cst-edit-form>

        <cst-edit-add-form *ngIf = 'state.forms.length < 7' [text] = 'addFormTitles[state.part]' (add) = 'addDefaultForm()'></cst-edit-add-form>

        <button 
        class="btn edit-form-btn" 
        type = 'button'
        mat-raised-button 
        (click) = 'onSubmit()'
        [disabled] = 'flags.isRequest'
    >Сохранить</button>
</div>

<cst-confirm 
    *ngIf = 'flags.isConfirm'
    [text] = '"удалить " + removeFormTitles[state.part]'
    (confirm) = 'confirmRemove($event)'></cst-confirm>
