@import 'styles.scss';

.main {

    .content {

        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 280px;

        @media (max-width: 550px) {
            justify-content: center;
        }

        .audio {
            position: relative;
            display: flex;
            align-self: stretch;
            cursor: default;

            &-info {
                @include text-shadow(dodgerblue);
                margin: auto;
            }



            &-list {
                display: flex;
                position: absolute;
                flex-direction: column;
                width: 450px;
                top: 100%;
                left: 50%;
                min-width: 280px;
                z-index: 1;
                border-radius: 8px;
                background: #fff;
                transform: translateX(-50%);

                @media (max-width: 550px) {
                    width: 290px;
                    transform: translateX(-30%);
                }

                &-nav {
                    display: flex;
                    justify-content: space-between;
                    padding: 0.7rem;

                    .repeat-icon {
                        margin-right: 1rem;
                    }

                    .save-link {
                        margin-right: auto;
                    }

                    .close-icon {
                        
                    }


                }

                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 50%;
                    height: 0;
                    width: 0;
                    transform: translate(-50%, -10px);
                    border-bottom: 10px solid #fff;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                }

                &-search {
                    padding: 0 .7rem;
                }

                &-container {
                    height: 500px;
                    overflow-y: auto;
                    overflow-x: hidden;
                    padding: 0 .5rem; 

                    @media (max-width: 550px) {
                        padding: 0;
                    }
    
                }

                .loading {
                    z-index: 2;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                }
            }
        }

        .playback {
            display: flex;
            align-items: center;
            margin-left: 1rem;




            &__icon {
                cursor: pointer;
                @include text-shadow(#fff);

                &:nth-child(2) {
                    height: 50px;
                    width: 50px;
                    font-size: 3rem;
                }
            }
        }
    }
}

.pause {
    @include text-shadow(crimson);
}

.repeat {
    @include gradient-font(var(--virgin));
}