<div class="main">
    <div class="content">
        <div class="audio"
            (mouseenter) = 'initMedia(true)'
            (mouseleave) = 'initMedia(false)'
        >
            <p class="audio-info">{{ audio.Artist }} - {{ audio.Title }}</p>
            <div class="audio-list box-shadow" *ngIf = 'isShowList' @fade>
                <div class="audio-list-nav">
                    <i 
                        class="material-icons icon repeat-icon"
                        [class.repeat] = 'audioWorker.isRepeat()'
                        (click) = 'audioWorker.repeat()'
                        [matTooltip] = 'audioWorker.getRepeatTooltip()'
                    >repeat</i>
                    <cst-save-file
                        class="save-link"
                        tooltip = 'текущую композицию'
                        [path] = 'audio.Path' 
                    ></cst-save-file>
                    <i 
                        class="material-icons icon close-icon"
                        (click) = 'audioWorker.close()'
                        matTooltip = 'Отключить плеер'
                    >close</i>
                </div>
                <cst-form-input 
                    class='audio-list-search'
                    placeholder = 'Найти композицию'
                    [formControl] = 'searchControl'
                ></cst-form-input>
                <div class="audio-list-container" cstNodeBreakManager [disable] = 'loading' (ending) = 'page()'>
                    <cst-audio-song
                        *ngFor = 'let audio of mediaList.rows;trackBy:trackByFn'
                        [audio] = 'audio'
                        [paused] = 'audioWorker.getPlayStatus(audio)'
                        [isCurrent] = 'audioWorker.isCurrentSong(audio._id)'
                        [currentTime] = 'audioWorker.getCurrentTime(audio)'
                        (playback) = 'audioWorker.playback()'
                        (range) = 'audioWorker.range($event)'
                        (changeSong) = 'changeSong($event)'
                    ></cst-audio-song>
                    <p *ngIf = '!mediaList.rows.length' class="list-empty"> По Вашему запросу нет совпадений </p>
                </div>
                
                <mat-progress-bar class="loading" *ngIf = 'loading' mode="indeterminate"></mat-progress-bar>
            </div>
            
        </div>
        <div class="playback">
            <mat-icon class="playback__icon" (click) = 'audioWorker.shiftAudioList("prev")'>skip_previous</mat-icon>
            <mat-icon class="playback__icon" [class.pause] = 'isPaused()' (click) = 'audioWorker.playback()'>{{ getPlayIcon() }}</mat-icon>
            <mat-icon class="playback__icon" (click) = 'audioWorker.shiftAudioList("next")'>skip_next</mat-icon>
        </div>
    </div>
</div>