<div class="main">
    <div 
        class="content"
        *ngIf = 'dialogues$ | async as dialogues; else preloader'
        cstPageBreakManager
        [disable] = 'flags.isFetchDialogues || flags.isFetchSearch'
        (ending) = 'expand()'
    >
        <cst-form-input
           [formControl] = 'searchControl'
           [placeholder] = 'getSearchPlaceholder()' 
        ></cst-form-input>
        <ng-container *ngIf = 'searchRequest;then searchRef;else listRef'></ng-container>
        
        <ng-template #listRef>
            <ng-container *ngIf = 'dialogues.rows.length; else empty'>
                <cst-message-dialogue-unit
                    class="dialogue"
                    *ngFor = 'let dialogue of dialogues.rows;trackBy:trackByFn;let first = first'
                    [first] = 'first'
                    [dialogue] = 'dialogue'
                    (navigate) = 'navigate($event)'
                ></cst-message-dialogue-unit>
    
                <mat-progress-bar *ngIf = 'flags.isFetchDialogues' mode="indeterminate pt-1 pb-1"></mat-progress-bar>
            </ng-container>
            
            <ng-template #empty>
                <div class="empty-media content-center">
                    <p class="empty-media-text">{{getEmptyText()}}</p>
                </div>
            </ng-template>
        </ng-template>
        <ng-template #searchRef>
            <ng-container *ngIf = 'search$ | async as search;else preloader'>
                <div *ngIf = 'search.rows.length; else emptySearch' class="search-list">
                    <cst-message-search-dialogue-unit
                        *ngFor = 'let unit of search.rows'
                        class="search-list__unit"
                        [unit] = 'unit'
                        [modeType] = 'modeType'
                        (navigate) = 'navigateToDialogue($event)'
                    ></cst-message-search-dialogue-unit>

                    <mat-progress-bar *ngIf = 'flags.isFetchSearch' mode="indeterminate pt-1 pb-1"></mat-progress-bar>
                </div>

                <ng-template #emptySearch>
                    <div class="empty-media content-center">
                        <p class="empty-media-text">{{getSearchEmptyText()}}</p>
                    </div>
                </ng-template>
            </ng-container>
        </ng-template>
    </div>

    <ng-template #preloader>
        <cst-preloader></cst-preloader>
    </ng-template>
    
</div>
