.main  {
    height: 100%;
    width: 100%;
    
    .content {
        

    }
}

.search-list {

    &__unit {


        &:last-child {
            border-bottom: 1px solid #3f51b5;
        }
    }
}
