<div class="like">
    <p [@changeTop] = 'totalLikes' class="like__total" *ngIf = 'showTotal && totalLikes'> {{ totalLikes }} </p>
    <i
        class="material-icons pointer like__icon"
        [@changeTop] = 'like'
        [ngStyle] = 'cssStyles'
        [ngClass] = 'getStyles()'
        (click) = 'action()'
    >
        {{ like ? 'favorite' : 'favorite_border' }}
    </i>
</div>
