@import 'styles.scss';

.like {
    display: flex;
    align-items: center;

    &__total {
        margin-right: .5rem;
        font-size: .9rem;
        @include gradient-font(var(--fire-watch));
    }

    &__icon {

    }

}

.activated {
    @include gradient-font(var(--fire-watch));
}

.deactivated {
    @include gradient-font(var(--netflix));
}