<div class="main">
    <div class="content">
        <div class="clear">
            <mat-icon class="close-icon rotate hide" (click) = 'hide($event)'> clear </mat-icon>
        </div>
        <h2 class="header">Фильтрация</h2>
        <div class="box">
            <form class="form" [formGroup] = 'form' (ngSubmit) = 'onSubmit()'>

                <cst-form-input
                    formControlName = 'Title'
                    placeholder="Название"
                    [maxLength] = 'lengths.MAX.Title'
                ></cst-form-input>

                <cst-form-select
                    formControlName = 'Completed'
                    placeholder = 'Статус'
                    bindValue = 'value'
                    [options] = 'statusList'
                ></cst-form-select>

                <cst-form-date
                    formControlName = 'StartDate'
                    [min] = 'null'
                    [max] = 'form.get("EndDate").value'
                    placeholder="Дата выполнения в промежутке с"
                ></cst-form-date>

                <cst-form-date
                    formControlName = 'EndDate'
                    placeholder="Дата выполнения в промежутке по"
                    [min] = 'form.get("StartDate").value'
                ></cst-form-date>

                <cst-form-textarea
                    formControlName = 'Description'
                    placeholder = 'Описание'
                    [maxLength] = 'lengths.MAX.Description'
                ></cst-form-textarea>

                <div class="nav">
                    <button 
                        class="mr-1" 
                        type = 'button'   
                        mat-raised-button
                        (click) = 'reset()' 
                    >Сбросить фильтр</button>
                    <button 
                        class="btn"
                        mat-raised-button
                        type = 'submit'
                    >Применить</button>
                </div>
            </form>
        </div>
    </div>
</div>
