@import 'styles.scss';

.main {
    min-width: 320px;

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #fff;
        padding-bottom: 2rem;
        border-radius: 8px;
        box-shadow: 0 14px 28px rgba(62, 62, 63, 0.45), 0 10px 10px rgba(179, 175, 175,0.22);

        .clear {
            display: flex;
            justify-content: flex-end;
            align-self: flex-end;
            padding: 1rem .5rem 1rem 0;

            .close-icon {

                cursor: pointer;
                @include gradient-font(var(--main-theme));

                &:hover {
                    @include gradient-font(var(--red-rock));
                }
            }
        }

        .header {
            text-align: center;
            font-family: var(--gabriela);
            padding: 0 .3rem;
            @include gradient-font(var(--main-theme))
        }

        .box {
            width: 85%;

            .form {
                display: flex;
                flex-direction: column;
                
                
    
                .reset-icon {
                    cursor: pointer;
                    font-size: .8rem;
                    @include gradient-font(var(--main-theme));
                    font-weight: bold;

                    &:hover {
                        @include gradient-font(var(--red-rock));
                    }
                }
    
                .nav {
                    padding-top: 1rem;
                    align-self: flex-end;
                }
            }
        }
    }
}

@keyframes showFilter {

    from {
        transform: translateY(-100%);
        opacity: 0;
    } to {
        transform: translateY(0%);
        opacity: 1;
    }
}