<div class="main" (click) = 'hide($event)' [ngStyle] = 'getMainStyles()'>
    <div class="content" *ngIf = 'video$ | async as video'>
        <mat-icon class="close-icon icon rotate" (click) = 'hide($event)'>close</mat-icon>
        <div class="media">
            <div class="media__playback"
                #playbackRef
                cstResizeObserver
                (resize) = 'resize($event)'
            >
                <cst-video-slider-playback></cst-video-slider-playback>
            </div>

            <ng-container *ngIf = 'list$ | async as list'>
                <div 
                    cstNodeBreakManager
                    class="media__list"
                    [style.maxHeight] = 'maxHeight'
                    [disable] = 'flags.isExpand'
                    (ending) = 'expand()'
                >
                    <cst-video-slider-unit 
                        *ngFor = 'let video of list.mediaList.rows;trackBy:trackByFn' 
                        [video] = 'video'
                        (play) = 'play($event)'
                    ></cst-video-slider-unit>
                    <mat-progress-bar *ngIf = 'flags.isExpand' mode="query"></mat-progress-bar>
                </div>

            </ng-container>
            

        </div>
        <div class="info">
            <cst-video-slider-info 
                class="info__box" 
                [video] = 'video'
            ></cst-video-slider-info>
            <cst-slider-comments
                minHeight = '500px'
                maxHeight = '500px'
                class="info__comments"
                refType = 'Video' 
                [refId] = 'video._id'
            ></cst-slider-comments>
        </div>
    </div>
</div>
