@import 'styles.scss';

.main {
    position: absolute;
    padding: 2rem;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, .7);
    
    .content {
        max-width: 1200px;
        margin: 0 auto 1rem;
        display: flex;
        flex-direction: column;

        .close-icon {
            align-self: flex-end;
            transform: translateX(100%);
        }
        

        .media {
            background: #000;
            display: flex;

            &__playback {
                position: relative;
                flex-grow: 1;
                padding-top: 45%;
                background: #000;
                align-self: flex-start;
            }

            &__list {
                padding: 1rem;
                padding-right: 1.2rem;
                margin-left: .3rem;
                overflow-y: auto;
            }
        }

        .info {
            display: flex;
            flex-direction: column;
            background: #fff;
            padding: 1rem 1.5rem;

            &__box {
                flex-grow: 1;
            }

            &__comments {
                flex-grow: 1;
            }

        }
    }
    
}