<div class="main">
    <cst-user-unit
        [user] = 'user'
        (action) = 'navigate("/account")'
    ></cst-user-unit>
    <div class="stats" *ngIf = 'stats.length'>
        <div 
            *ngFor = 'let item of stats' 
            class="stats-item icon" 
            [matTooltip] = 'item.tooltip'
            (click) = 'navigate(item.path, item.query)'
        >
            <i class="material-icons stats-item-icon"> {{ item.icon }} </i>
            <span class="stats-item-total"> {{ item.value }} </span>
        </div>
    </div>
</div>
