@import 'styles.scss';

.main {
    padding: .7rem 1rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 5px 8px rgba(108, 102, 85, 0.45), 0px 1px 8px rgba(199, 216, 143, 0.22);
    transition: background-color .3s linear, transform .2s linear;

    &:hover {
        background-color: rgba(63, 81, 181, .4);
        transform: scale(1.02);
    }

    .stats {
        padding-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        margin: 0 -0.5rem;

        &-item {
            display: flex;
            align-items: center;
            cursor: pointer;
            margin: .5rem;

            &-icon {
                
            }

            &-total {
                font-family: var(--comforta);
            }
        }
    }
}

:host {
    width: 100%;
}