<mat-icon
    *ngIf = '!loading;else preloader'
    class="pointer"
    [matTooltip] = 'getTooltipText()'
    [ngStyle] = 'cssStyles'
    [ngClass] = 'getCssClass()'
    (click) = 'action()'
>
 {{ have ? 'check' : 'add' }}
</mat-icon>

<ng-template #preloader>
    <div class="pending">
        <span class="pending-preloader"></span>
    </div>
</ng-template>


