<div class="content box-shadow">
    <i 
        class="material-icons icon close-icon"
        matTooltip = 'Отключить плеер'
        (click) = 'audioWorker.close()'
    >close</i>

    <div class="playback">
        <mat-icon class="icon playback-icon" (click) = 'playback("prev")' >skip_previous</mat-icon>
        <mat-icon 
            class="icon playback-icon" 
            [class.played] = '!audioWorker.getPlayStatus(audio)'
            (click) = 'audioWorker.playback()'
        >
            {{ audioWorker.getPlayStatus(audio) ? 'play_circle_filled' : 'pause_circle_filled' }}
        </mat-icon>
        <mat-icon class="icon playback-icon" (click) = 'playback("next")'>skip_next</mat-icon>
    </div>

    <div class="audio">
        <cst-audio-song
            modeType = 'playback'
            [audio] = 'audio'
            [isCurrent] = 'true'
            [currentTime] = 'audioWorker.getCurrentTime(audio)'
            (range) = 'audioWorker.range($event)'
        ></cst-audio-song>
    </div>


    <div class="volume">
        <cst-save-file 
            class="save-icon"
            tooltip = 'текущую композицию'
            [path] = 'audio.Path'
        ></cst-save-file>

        <i class="material-icons repeat-icon icon"
            [class.repeat] = 'audioWorker.isRepeat()'
            [matTooltip] = 'audioWorker.getRepeatTooltip()'
            (click) = 'repeat()'
        >repeat</i>
        <mat-icon class="icon volume-icon" [ngClass] = 'getIconClass()' (click) = 'setVolume()'> 
            {{ audioWorker.getVolumeIcon() }}    
        </mat-icon>
        <mat-slider
            class="volume-range"
            color = 'primary'
            thumbLabel
            step = '1'
            min ='0'
            max = '100'
            (change) = 'setRangeVolume($event)'
            [value] = 'audioWorker.getVolumeValue()'
            [displayWith] = 'formatVolumeLabel'
        ></mat-slider>
    </div>
</div>



