@import 'styles.scss';

:host {
    margin: 0 auto;
    flex-basis: 840px;
}

.content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 0;
    margin: 1rem;
    border-radius: 8px;
    min-width: 320px;

    .close-icon {
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: .8rem;
    }

    .playback {
        display: flex;
        align-items: center;
        margin-right: 1rem;
        transform: translateY(-12px);

        @media (max-width: 495px) {
            margin: 0 auto;
        }

        &-icon {

            margin: 0 .3rem;
            
            &:nth-child(2) {
                font-size: 2.8rem;
                height: 50px;
                width: 50px;
            }
        }
    }

    .audio {
        flex-grow: 1;

        @media (max-width: 905px) {
            order: 1;
            width: 100%;
        }
    }

    .volume {
        display: flex;
        align-items: center;
        margin-left: auto;

        @media (max-width: 905px) {
            align-items: flex-start;
        }

        @media (max-width: 495px) {
            margin: 0 auto;
        }
    
        &-range {
            min-width: 80px !important;

            @media (max-width: 905px) {
                transform: translateY(-10px);
            }
        }
    
        &-icon {
        }
        
        .save-icon {
            margin-left: .4rem;
        }

        .repeat-icon {
            margin: 0 0.4rem;
        }
    }
    
}

.muted {
    @include gradient-font(var(--fire-watch));
}

.low {
    @include gradient-font(var(--moss));
}

.medium {
    @include gradient-font(var(--main-theme));
}

.played {
    @include gradient-font(var(--virgin));
}

.repeat {
    @include gradient-font(var(--virgin));
}