@import 'styles.scss';

.main {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: .7rem 1rem;
    transition: background-color .3s linear;
    box-shadow: 0 5px 8px rgba(108, 102, 85, 0.45), 0px 1px 8px rgba(199, 216, 143, 0.22);

    &:hover {
        background: rgba(63, 81, 181, .4);
    }

    .circle {
        @include circle(45px, 45px);
        margin-right: 1rem;
    }

    .text {
        font-family: var(--amatic);
        font-size: 1.2rem;
        font-weight: bold;
        letter-spacing: 2px;
        @include gradient-font(var(--main-theme));
    }
}