<div class="main" (click) = 'navigate()'>
    <div class="circle">
        <img class="circle-img" *ngIf = 'getLogo()' [cstLazyFile]="getLogo()" alt="logo">
    </div>
    <p class="text"> {{ getText() }} </p>
</div>
