<div class="main">
    <div *ngIf = '!first' class="separate-box">
        <div class="separate"></div>
        <i class="separate-icon material-icons">arrow_downward</i>
    </div>

    <i 
        *ngIf = '!first'
        class="icon remove-icon material-icons"
        matTooltip = 'Удалить'
        matTolltipPosition = 'below'
        (click) = 'confirm()'
    > delete_forever </i>
    
    <div class="content">
        <form 
            class="edit-form"
            [formGroup] = 'form'
        >
            <cst-edit-input 
                *ngFor = 'let config of configuration'
                [form] = 'form'
                [config] = 'config'
                (reset) = 'resetControls($event)'
            ></cst-edit-input>
        </form>
    </div>
</div>



