@import 'styles.scss';

.main {
    display: flex;
    flex-direction: column;

    .separate-box {
        display: flex;
        flex-direction: column;
        align-items: center;

        .separate {
            text-align: center;
            margin: 1rem 0;
            transform: translateX(50%);
        
            &-icon {
                font-size: 3rem;
                transform: translateX(100%);
                @include gradient-font(var(--yellow));
            }
        }
    }



    .remove-icon {
        margin-left: auto;
    }



    .content {

    }
}

