@import 'styles.scss';

.main {

    .content {
        display: flex;
        flex-direction: column-reverse;

        .year {
            flex-grow: 1;

            &__title {
                font-size: 1.4rem;
                font-family: var(--comforta);
                @include gradient-font(var(--peach));
            }

            &__list {
                display: flex;
                flex-wrap: wrap;
                margin: 0 -10px;

                &-item {
                    width: calc(100% / 12 * 3);
                }
            }
        }
    }
}