<div class="main"
    cstPageBreakManager
    [disable] = 'flags.isFetch'
    (ending) = 'expand()'
>
    <div class="content" *ngIf = 'pictures$ | async as pictures; else preloader'>
        <ng-content *ngIf = 'pictures.rows.length;then listRef;else emptyRef'></ng-content>

        <ng-template #listRef>
            <div class="year pt-1 pb-2" *ngFor = 'let year of modify(pictures) | keyvalue;trackBy:trackByYear'>
                <p class="year__title"> {{ year.key }} </p>
                <div class="year__list pt-1">
                    <cst-picture-unit 
                        *ngFor = 'let picture of year.value;trackBy:trackByFn'
                        class="year__list-item"
                        modeType = 'view'
                        [picture] = 'picture'
                        (slide) = 'slide($event)'
                    ></cst-picture-unit>
                </div>
            </div>
            <mat-progress-bar mode="indeterminate" class="mt-2 mb-2" *ngIf = 'flags.isFetch'></mat-progress-bar>
        </ng-template>
        <ng-template #emptyRef>
            <div class="empty-media content-center example-full-width">
                <p class="empty-media-text">Список фотографий пуст</p>
            </div>
        </ng-template>
    </div>

    <ng-template #preloader>
        <cst-preloader></cst-preloader>
    </ng-template>
</div>
