@import 'styles.scss';

.main {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto;
    padding-bottom: 2rem;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .7);

    .content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-basis: 800px;
        min-width: 320px;
        margin-top: 3rem;
        padding: 1.5rem 1rem;
        border-radius: 8px;
        background: #fff;

        .close-icon {
            align-self: flex-end;
            margin-bottom: 1rem;
        }

        .header {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: center;

            .add-logo {
                
                &:hover > .preview__shadow {
                    opacity: 1;
                }
            }

            .preview {
                position: relative;
                flex-grow: 1;
                flex-basis: 320px;
                padding-top: 35%;
                border-radius: 4px;
                background: var(--clouds);
                overflow: hidden;

                &__img {
                    z-index: 1;
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
                
                &__shadow {
                    position: absolute;
                    display: flex;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    opacity: 0;
                    z-index: 2;
                    background: rgba(229, 229, 229, .4);
                    transition: opacity .3s linear;

                    &-text {
                        margin: auto;
                        font-family: var(--comforta);
                        @include gradient-font(var(--netflix));
                    }
                }
            }

            .info {
                display: flex;
                padding-left: .5rem;
                flex-direction: column;
                justify-content: space-between;
                flex-grow: 1;
                flex-basis: 320px;

                &__main {

                    &-item {
                        margin-top: .7rem;

                        &:first-of-type {
                            margin-left: 1.5rem;
                            margin-top: 0;
                            font-weight: 900;
                            letter-spacing: 2px;
                            font-size: 1.2rem;
                            font-family: var(--comforta);
                            color: #3f51b5;
                        }

                        &:last-of-type {
                            margin-left: 1.5rem;
                            font-size: .7rem;
                            font-family: var(--comforta);
                            color: darkslategrey;
                        }
                    }
                }

                &__nav {
                    display: flex;
                    justify-content: space-between;

                    &-date {
                        display: flex;
                        flex-direction: column;

                        &-item {
                            display: flex;
                            align-items: baseline;
                            padding-top: .5rem;
                            margin-top: auto;
                            font-family: var(--gabriela);
                            font-size: .8rem;
                            @include gradient-font(var(--netflix));
    
                            &-title {
                                font-size: 1.2rem;
                                padding-right: 1rem;
                                font-family: var(--caveat);
                            }
                        }
                    }

                    &-preview {
                        display: flex;
                        align-items: center;

                        &-text {
                            cursor: pointer;
                            letter-spacing: 1px;
                            font-weight: 900;
                            font-family: var(--amatic);
                            @include gradient-font(var(--main-theme));

                            &:hover {
                                @include gradient-font(var(--yellow))
                            }
                            
                        }
                    }
                }
            }

            &__dynamics {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &-total {
                    display: flex;
                    align-items: baseline;
                    font-family: var(--shadows);
                    font-size: .7rem;
                    @include gradient-font(var(--main-theme));

                    &-count {
                        padding-left: 1rem;
                        font-family: var(--comforta);
                        font-size: 1.2rem;
                        @include gradient-font(var(--yellow));
                    }
                }

                &-add {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    margin-top: 1.2rem;
                    margin-left: auto; 
                    padding: .4rem;
                    background: rgba(229, 229, 229, .3);
                    transition: transform 0.3s linear, background-color .3s linear;
    
                    &:hover {
                        transform: scale(1.1);
                        background: rgba(229, 229, 229, .8);
                    }
    
                    &-icon {
                        padding-right: .5rem;
                    }
    
                    &-text {
                        font-size: .8rem;
                        font-family: var(--shadows);
                    }
                }
            }
        }

        .preloader {
            display: block;
            margin: 0 auto;
        }

        .list {
            display: block;
            margin: 0 auto;
        }
    }
}

.edit {
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__control {
        flex-grow: .6;
    }

    &-icon {

    }
}
