<div class="main" 
    (click) = 'hide($event)'
    cstNodeBreakManager
    [disable] = 'getDisableExpand()'
    (ending) = 'ending()'
>
    <div class="content">
        <i class="material-icons icon close-icon pointer rotate" (click) = 'back($event)'>close</i>
        <div class="header" *ngIf = 'playlist$ | async as playlist;else preloader'>
            <div 
                class="preview"
                [class.pointer] = 'editable()'
                [class.add-logo] = 'editable()'
                (click) = "editable() ? logoRef.click() : null"
            >
                <input 
                    #logoRef 
                    type = 'file' 
                    hidden 
                    (change) = 'updateLogo($event)'
                >
                <img 
                    *ngIf = 'playlist.Logo'
                    class="preview__img" 
                    [src]="playlist.Logo | pathManager" 
                    alt="logo">

                <div class="preview__shadow">
                    <div class="preview__shadow-text">
                        Изменить обложку
                    </div>
                </div>
                
            </div>
            <div class="info">
                <div class="info__main">
                    <cst-borders position = 'top'></cst-borders>
                    <p 
                        *ngIf = '!isEditTitle; else titleRef'
                        class="info__main-item" 
                        [class.pointer] = 'editable()'
                        (click) = 'showControl("isEditTitle")'
                    >{{ playlist.Title }}</p>

                    <ng-template #titleRef>
                        <div class="edit">
                            <cst-form-input
                                class="edit__control"
                                [formControl] = 'Title'
                                placeholder = 'Редактировать описание'
                                [maxLength] = 'lengths.MAX.Title'
                            ></cst-form-input>
                            <mat-icon 
                                *ngIf = '!flags.isEdit; else loaderRef'
                                class="edit__icon icon ml-1" 
                                (click) = 'edit("Title")'
                             >save</mat-icon>

                            <ng-template #loaderRef>
                                <div class="pending">
                                    <div class="pending__preloader"></div>
                                </div>
                            </ng-template>
                        </div>

                    </ng-template>
                    
                    <p 
                        *ngIf = '!isEditDescription; else descriptionRef'
                        class="info__main-item" 
                        [class.pointer] = 'editable()'
                        (click) = 'showControl("isEditDescription")'
                    >{{ getDescription(playlist.Description) }}</p>

                    <ng-template #descriptionRef>
                        <div class="edit">
                            <cst-form-textarea
                                class="edit__control"
                                [formControl] = 'Description'
                                placeholder = 'Редактировать описание'
                                [maxLength] = 'lengths.MAX.Description'
                            ></cst-form-textarea>

                            <mat-icon 
                                *ngIf = '!flags.isEdit; else loaderRef'
                                class="edit__icon icon ml-1" 
                                (click) = 'edit("Description")'
                            >save</mat-icon>

                            <ng-template #loaderRef>
                                <div class="pending">
                                    <div class="pending__preloader"></div>
                                </div>
                            </ng-template>
                        </div>
                    </ng-template>

                    <cst-borders position = 'bottom'></cst-borders>
                </div>

                <div class="info__nav">
                    <div class="info__nav-date">
                        <p class="info__nav-date-item"> 
                                <span class="info__nav-date-item-title">Создан: </span>
                                {{ playlist.Created | date:'mediumDate' }}
                        </p>
                        <p class="info__nav-date-item"> 
                            <span class="info__nav-date-item-title">Обновлен: </span>
                                {{ playlist.Updated | date:'mediumDate' }}
                        </p>
                    </div>
                    <div class="info__nav-preview">
                        <span 
                            class="info__nav-preview-text" 
                            (click) = 'navigate(playlist.User)'
                        >{{ playlist.CreatorName }}</span>
                        <div 
                            *ngIf = 'playlist.Logo' 
                            class="circle-avatar ml-1" 
                            (click) = 'navigate(playlist.User)'
                        >
                            <img 
                                [src]="playlist.Logo | pathManager" 
                                alt="logo" 
                                class="circle-avatar__img">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="header__dynamics pt-2">
                <p class="header__dynamics-total"> 
                    Общее количество:
                    <span class = 'header__dynamics-total-count'>{{ playlist.VideoTotal }}</span> 
                </p>
                <cst-add-media-btn
                    activeIcon = 'add'
                    deactiveIcon = 'check'
                    activeText = 'Добавить в мой список'
                    deactiveText = 'Убрать из моего списка'
                    [status] = 'playlist.IsHave'
                    (action) = 'mutate(playlist.IsHave)'
                ></cst-add-media-btn>
            </div>
        </div>

        <ng-template #preloader>
            <cst-preloader-circle class="preloader"></cst-preloader-circle>
        </ng-template>

        <cst-video-main-list 
            *ngIf = 'playlist$ | async as playlist' 
            class="list"
            modeType = 'detail'
            [creatorId] = 'playlist.User'
            [hideAddIcon] = '!flags.isCanMutateDetail'
            (mutate) = 'mutateDetail($event)'
        ></cst-video-main-list>
    </div>
</div>
