<div class="main"
    cstPageBreakManager
    [disable] = 'pictureFlags.isFetch'
    (ending) = 'expand()'
>
    <div class="content">

        <cst-borders position = 'top'></cst-borders>
        <nav class="nav" *ngIf = 'detail$ | async as detail'>
            <div class="info">
                <div class="info__box">
                    <span class="info__box-label">Название:</span>
                    <span class="info__box-title"> {{detail.Title}} </span>
                </div>
                <div class="info__box">
                    <span class="info__box-label">Описание:</span>
                    <span class="info__box-title"> {{ detail.Description }} </span>
                </div>
                <div class="info__box">
                    <span class="info__box-label"> Создан: </span>
                    <span class="info__box-title"> {{ detail.Created | date:'mediumDate' }} </span>
                </div>
                <div class="info__box">
                    <span class="info__box-label"> Количество фотографий: </span>
                    <span class="info__box-title" [ngClass] = 'getTotalStyles(detail.TotalCount)'> {{ detail.TotalCount }} </span>
                </div>
                <div class="info__box">
                    <span class="info__box-label"> Создатель: </span>
                    <div 
                        *ngIf = 'detail.UserAvatar' 
                        [cstUserNavigate] = 'detail.User'
                        class="info__box-avatar circle-avatar">
                        <img 
                            [src]="detail.UserAvatar | pathManager" 
                            alt="logo" 
                            class="circle-avatar__img">
                    </div>
                    <span class="info__box-creator" [cstUserNavigate] = 'detail.User'> {{ detail.CreatorName }} </span>
                </div>
            </div>

            <div class="nav__actions" *ngIf = 'modeType === "edit"'>
                <button 
                    mat-raised-button 
                    class="nav__actions-btn nav__actions-btn_add" 
                    [disabled] = 'isDisabledMutate()'
                    (click) = 'showPictureModal("isShowCreateModal", true)'
                >Добавить</button>
                <ng-container *ngIf = 'isShowMutate()'>
                    <button 
                        mat-raised-button 
                        @scaleShow
                        class="nav__actions-btn nav__actions-btn_replace"
                        [disabled] = 'isDisabledMutate()'
                        (click) = 'showPictureModal("isShowReplaceModal", true)'
                    >Перенести</button>
                    <button 
                        mat-raised-button 
                        @scaleShow
                        class="nav__actions-btn nav__actions-btn_remove"
                        [disabled] = 'isDisabledMutate()'
                        (click) = 'showPictureModal("isShowConfirm", true)'
                    >Удалить</button>
                </ng-container>
            </div>
        </nav>
        <cst-borders position = 'bottom'></cst-borders>

        <div class="list pt-2 pb-2" *ngIf = 'pictures$ | async as pictures; else preloader'>
            <ng-content *ngIf = 'pictures.rows.length;then listRef;else emptyRef'></ng-content>

            <ng-template #listRef>
                <cst-picture-unit 
                    *ngFor = 'let picture of pictures.rows; let idx = index;trackBy:trackByFn'
                    class="picture"
                    [selected] = 'isSelected(picture._id)'
                    [picture] = 'picture'
                    [modeType] = 'modeType'
                    [disabledSelect] = 'isDisabledSelect()'
                    (select) = 'select($event)'
                    (slide) = 'slide($event)'
                ></cst-picture-unit>
                <mat-progress-bar mode="indeterminate" class="mt-2 mb-2" *ngIf = 'pictureFlags.isFetch'></mat-progress-bar>
            </ng-template>
            <ng-template #emptyRef>
                <div class="empty-media content-center example-full-width">
                    <p class="empty-media-text">Список фотографий пуст</p>
                </div>
            </ng-template>
        </div>

        <ng-template #preloader>
            <cst-preloader></cst-preloader>
        </ng-template>
    </div>
</div>

<cst-shadow *ngIf = 'pictureFlags.isShowCreateModal' (action) = 'showPictureModal("isShowCreateModal", false)'>
    <cst-picture-create
        class="create"
        [request] = 'pictureFlags.isMutateRequest'
        (create) = 'create($event)'
        (hide) = 'showPictureModal("isShowCreateModal", false)'
    ></cst-picture-create>
</cst-shadow>

<cst-shadow *ngIf = 'pictureFlags.isShowReplaceModal' (action) = 'showPictureModal("isShowReplaceModal", false)'>
    <cst-picture-replace
        class="replace"
        [albumId] = 'albumId'
        [request] = 'pictureFlags.isMutateRequest'
        (replace) = 'replace($event)'
        (hide) = 'showPictureModal("isShowReplaceModal", false)'
    ></cst-picture-replace>
</cst-shadow>

<cst-confirm 
    *ngIf = 'pictureFlags.isShowConfirm'
    [text] = 'getConfirmText()'
    (confirm) = 'remove($event)'
></cst-confirm>