@import 'styles.scss';

.main {

    .content {
        display: flex;
        flex-direction: column;

        .nav {
            padding: 1rem .5rem;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .info {
                display: flex;
                flex-direction: column;
                flex-basis: 400px;
                min-width: 320px;
                padding: 1rem 0 0 .7rem;
        
                &__box:not(:first-of-type) {
                    margin-top: .7rem;
                }
        
                &__box {
                    display: flex;
                    align-items: center;
        
                    &-label {
                        font-family: var(--shadows);
                        padding-right: .5rem;
                        @include gradient-font(var(--dark));
                        font-size: .8rem;
                    }
        
                    &-title {
                        letter-spacing: 1px;
                        font-size: 1.2rem;
                        font-family: var(--caveat);
                        @include gradient-font(var(--main-theme));
                    }

                    &-avatar {
                        margin-right: .5rem;
                        height: 30px;
                        width: 30px;
                    }
        
                    &-creator {
                        cursor: pointer;
                        font-family: var(--shadows);
                        font-size: 1.2rem;
                        letter-spacing: 1px;
                        @include gradient-font(var(--main-theme));
        
                        &:hover {
                            @include gradient-font(var(--yellow));
                        }
                    }
                }
            }

            &__actions {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                &-btn {
                    margin: 0 .5rem;
                    color: #fff;
                    font-family: var(--comforta);

                    &:hover {
                        background: var(--yellow);    
                    }
                    
                    &_add {
                        background: var(--malibu);
                    }

                    &_replace {
                        background: var(--mojito);
                    }

                    &_remove {
                        // margin-right: 0;
                        background: var(--netflix);
                    }
                }

            }
        }

        .list {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -10px;

            .picture {
                width: calc(100% / 12 * 3);
            }
        }
    }
}

.create {
    width: calc(100% / 12 * 5);
}

.replace {
    width: calc(100% / 12 * 5);
}