<div class="main">
    <cst-media-nav
        class="nav"
        pageName = 'picturePage'
        [options] = 'options'
        (page) = 'setPage($event)'
        [isInitializeEmit] = 'false'
    ></cst-media-nav>
    
    <div class="creation">
        <cst-user-nav [userId] = 'userId'></cst-user-nav>
        <ng-container *ngIf = 'isOwn && !isDetail()'>
            <mat-icon class="creation__icon" matTooltip = 'Создать альбом' (click) = 'create()'>photo_album</mat-icon>
        </ng-container>
    </div>
</div>
    